币种
VND    3698
CNY    3698
Name: count, dtype: int64

In [12]:
# 选中CNY和VND
df_youxi=df_youxi[df_youxi['币种'].isin(['CNY','VND'])]
df_youxi.shape
df_youxi.head()

(7396, 24)

,游戏平台,币种,转入,转出,投注人数(公司),投注次数(公司),下注金额(公司),投注金额(公司),游戏人数(玩家对战),投注次数(玩家对战),...,公司总盈利(代理),总投注金额,总有效投注,派彩额,公司输赢,人均投注额,人均投注次数,Unnamed: 21,日期,大类
6,AG真人,VND,0.000000e+00,0.000000e+00,124,6061,4.203140e+09,3.713299e+09,0,0,...,-7969750.00,3.713299e+09,3.713299e+09,4.211110e+09,-7969750.00,29945960.08,48.88,NaN,2023-08-11,真人
8,AG真人,CNY,0.000000e+00,0.000000e+00,950,62004,3.149620e+07,2.756576e+07,0,0,...,386782.67,2.756576e+07,2.756576e+07,3.110942e+07,386782.67,29016.59,65.27,NaN,2023-08-11,真人
17,AG电子,VND,0.000000e+00,0.000000e+00,18,6126,5.546330e+07,5.546330e+07,0,0,...,12832300.00,5.546330e+07,5.546330e+07,4.263100e+07,12832300.00,3081294.44,340.33,NaN,2023-08-11,电子
19,AG电子,CNY,0.000000e+00,0.000000e+00,149,43766,1.789885e+06,1.789751e+06,0,0,...,146352.73,1.789751e+06,1.789751e+06,1.643533e+06,146352.73,12011.75,293.73,NaN,2023-08-11,电子
28,AG捕鱼,VND,1.436552e+09,1.414915e+09,0,0,0.000000e+00,0.000000e+00,0,0,...,0.00,0.000000e+00,0.000000e+00,0.000000e+00,0.00,0.00,0.00,NaN,2023-08-11,捕鱼

In [10]:
df_youxi = youxi.copy()
for i in ['体育','真人','电竞','电子','捕鱼','棋牌','彩票','斗鸡']:#新增列 大类
    df_youxi.loc[df_youxi['游戏平台'].str.contains(i),'大类']=i
df_youxi.head()

,游戏平台,币种,转入,转出,投注人数(公司),投注次数(公司),下注金额(公司),投注金额(公司),游戏人数(玩家对战),投注次数(玩家对战),...,公司总盈利(代理),总投注金额,总有效投注,派彩额,公司输赢,人均投注额,人均投注次数,Unnamed: 21,日期,大类
0,AG真人,JPY,0.0,0.0,0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2023-08-11,真人
1,AG真人,MXN,0.0,0.0,0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2023-08-11,真人
2,AG真人,NGN,0.0,0.0,0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2023-08-11,真人
3,AG真人,MYR,0.0,0.0,0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2023-08-11,真人
4,AG真人,USD,0.0,0.0,0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2023-08-11,真人

In [9]:
import pandas as pd
from datetime import datetime,timedelta
import os
import re



def func_read_filedate(df_mingdan,folderpath): # os.path.dirname(os.path.abspath(os.getcwd()))+'\\通用数据\\会员输赢报表'
    df_vip_all=pd.DataFrame()# 读取vip等级文件 加一列日期,
    for filename in os.listdir(folderpath):
        print(datetime.now().strftime('%H:%M:%S'),filename)
        date=re.search(r'\d+', filename).group(0)# 日期从文件名称获取,日期格式，列 第几周
        path=folderpath+'\\'+filename
        df_vip_child=pd.read_csv(path,sep=',')
        df_vip_child['日期']=pd.to_datetime(str(date), format='%Y%m%d')
        if df_mingdan!=None:
            df_vip_child=df_vip_child.merge(df_mingdan,on='会员账号',  how='inner')# 读取时比对名单，不然30个vip文件超出pandas一张sheet的处理能力
        df_vip_all=pd.concat([df_vip_all,df_vip_child],ignore_index=True)
    df_vip_all.drop_duplicates(inplace=True)
    return df_vip_all

#游戏
youxi = func_read_filedate(None,r'\\DESKTOP-OABVORH\Data\Code2023-10数据库版\输入参数\后台游戏输赢报表')
youxi.shape
youxi.head()

11:03:41 20230811.csv
11:03:41 20230814.csv
11:03:41 20230815.csv
11:03:41 20230816.csv
11:03:41 20230817.csv
11:03:41 20230820.csv
11:03:41 20230821.csv
11:03:41 20230822.csv
11:03:41 20230823.csv
11:03:41 20230828.csv
11:03:41 20230829.csv
11:03:41 20230830.csv
11:03:41 20230831.csv
11:03:41 20230901.csv
11:03:41 20230902.csv
11:03:41 20230903.csv
11:03:41 20230904.csv
11:03:41 20230905.csv
11:03:41 20230906.csv
11:03:42 20230907.csv
11:03:42 20230908.csv
11:03:42 20230909.csv
11:03:42 20230910.csv
11:03:42 20230911.csv
11:03:42 20230912.csv
11:03:42 20230913.csv
11:03:42 20230914.csv
11:03:42 20230915.csv
11:03:42 20230916.csv
11:03:42 20230917.csv
11:03:42 20230918.csv
11:03:42 20230919.csv
11:03:42 20230920.csv
11:03:42 20230921.csv
11:03:42 20230922.csv
11:03:42 20230923.csv
11:03:42 20230924.csv
11:03:42 20230925.csv
11:03:42 20230926.csv
11:03:42 20230927.csv
11:03:42 20230928.csv
11:03:42 20230929.csv
11:03:43 20230930.csv
11:03:43 20231001.csv
11:03:43 20231002.csv
11:03:43 20231003.csv
11:03:43 20231004.csv
11:03:43 20231005.csv
11:03:43 20231006.csv
11:03:43 20231007.csv
11:03:43 20231008.csv
11:03:43 20231009.csv
11:03:43 20231010.csv
11:03:43 20231011.csv
11:03:43 20231012.csv
11:03:43 20231013.csv
11:03:43 20231014.csv
11:03:43 20231015.csv
11:03:43 20231016.csv
11:03:43 20231017.csv
11:03:43 20231018.csv
11:03:43 20231019.csv
11:03:43 20231020.csv
11:03:43 20231021.csv
11:03:43 20231022.csv
11:03:44 20231023.csv
11:03:44 20231024.csv

(40678, 23)

,游戏平台,币种,转入,转出,投注人数(公司),投注次数(公司),下注金额(公司),投注金额(公司),游戏人数(玩家对战),投注次数(玩家对战),...,公司总盈利(实际),公司总盈利(代理),总投注金额,总有效投注,派彩额,公司输赢,人均投注额,人均投注次数,Unnamed: 21,日期
0,AG真人,JPY,0.0,0.0,0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2023-08-11
1,AG真人,MXN,0.0,0.0,0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2023-08-11
2,AG真人,NGN,0.0,0.0,0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2023-08-11
3,AG真人,MYR,0.0,0.0,0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2023-08-11
4,AG真人,USD,0.0,0.0,0,0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2023-08-11

In [7]:
base = (datetime.now()- timedelta(1)).replace(hour=0,minute=0,second=0,microsecond=0)
[base -timedelta(days=x) for x in range(1)][0].timestamp()

1698076800.0

In [2]:
from datetime import datetime,timedelta
(datetime.now()- timedelta(1)).replace(hour=0,minute=0,second=0,microsecond=0)

datetime.datetime(2023, 10, 24, 0, 0)

In [8]:
10

3.3333333333333335

In [63]:
paymentID = '1,2,3,4,5,6,7,8,9,10,11,24,25,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,2000,2001,2002,2003,2004,2005,2006,3000,3001,4000,4001,4002,4003,4004,8000,8001,8002,10000,10001'.split(',')
len(paymentID)
chongchi = pd.read_excel(r'C:\Users\User\Desktop\充值拉单监控群分类大项2.xlsx','Sheet2')

In [64]:
dic_chongchi = {}
for i ,j in zip(paymentID,chongchi['充值方式'].tolist()):
    dic_chongchi[i]=j
dic_chongchi

{'1': '网银支付',
 '2': '支付宝支付',
 '3': '微信支付',
 '4': 'QQ支付',
 '5': '银联扫码支付',
 '6': '京东支付',
 '7': '银行卡转账',
 '8': '支付宝转账',
 '9': '微信转账',
 '10': '云闪付转账',
 '11': '网银转账',
 '24': '银联快捷',
 '25': '云闪付',
 '27': '充值卡支付',
 '28': '数字人民币',
 '29': '微信扫码',
 '30': '支付宝H5',
 '31': '支付宝红包',
 '32': '微信红包',
 '33': '微信H5',
 '34': '微信小店',
 '35': '钉钉红包',
 '36': 'QQ红包',
 '37': '支付宝扫码',
 '38': '手机银行',
 '39': '综合支付',
 '40': '银行卡直充',
 '41': '京东E卡',
 '1000': '极速微信',
 '1001': '极速支付宝',
 '1002': '虚拟币支付',
 '1003': '人民币直充',
 '1004': '银行卡转卡',
 '1005': '支付宝转卡',
 '1006': '微信转卡',
 '1007': '极速QQ',
 '1008': '云闪付转卡',
 '1009': '极速零钱',
 '1010': '银行卡支付',
 '1011': 'EB_Pay',
 '1012': 'TO_Pay',
 '2000': '越南Bank_online',
 '2001': '越南Local_bank',
 '2002': '越南Momo_pay',
 '2003': '越南Zalo_pay',
 '2004': '越南银行转账',
 '2005': '越南Qr_pay',
 '2006': '越南Viettel_Pay',
 '3000': '马来西亚_银行转账',
 '3001': '马来西亚Bank_online',
 '4000': '泰国_银行转账',
 '4001': '泰国Bank_online',
 '4002': '泰国PROMPT_PAY',
 '4003': '泰国TRUE_MONEY',
 '4004': '泰国RABBIT_LINE_PAY',
 '8000': '巴西_银行卡转账',
 '8001': '巴西_网银支付',
 '8002': '巴西PIX_Pay',
 '10000': '埃及_银行卡转账',
 '10001': '埃及Bank_online'}

In [65]:
import datetime
import time
import pandas as pd
import requests
import json
import pandas as pd
import numpy as np
from jsonpath import jsonpath
import telebot
import hmac, base64, struct, hashlib
submit_url = 'http://fundmng.bsportsadmin.com/api/manage/user/admin/login/submit'
header0 = {
    'Device_id':'1.0',
    'Os_type':'0',
    'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36',
}
def get_google_code(secret):
    key = base64.b32decode(secret, True)
    msg = struct.pack(">Q", int(time.time()) // 30)
    google_code = hmac.new(key, msg, hashlib.sha1).digest()
    # 很多网上的代码不可用，就在于这儿，没有chr字符串
    o = ord(chr(google_code[19])) & 15
    # google_code = (struct.unpack(">I", google_code[o:o + 4])[0] & 0x7fffffff) % 1000000
    google_code = (struct.unpack(">I", google_code[o:o + 4])[0] & 0x7fffffff) % 1000000
    return '%06d' % google_code

google_code = get_google_code('64ehnxj6yily5bhv23kgb62ozuh6yuu2')
data = {
    'username': 'Marquis',
    'password': 'qwer123456',
    'code': google_code
}
# 获取token
print('获取token中。。。')
session0 = requests.session()
response  =session0.post(url=submit_url,data=data,headers=header0)
response.encoding = 'utf-8'
obj = json.loads(response.text)
token = obj['data']['token']

# 发送请求
print('开始发送请求....')
url = 'http://fundmng.bsportsadmin.com/api/manage/fund/recharge/record/list'
header = {
    'Device_id': '1.0',
    'Os_type': '0',
    'Sign': '525f286b21988b7c6a79f623f62f9695',
    'Timestamp': '1691886184000',
    'Token': token,
    'Uid': '690',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36',
    'Version': '1.0'
}
session  = requests.Session()
dic0 = {'充值日期':"createDate",'充值单号':"orderId",'用户层级':"userLevel",'账户名':"username",'姓名':"reallyName",'VIP等级':"vipLevel",'充值金额':"amount",'到账金额':"payAmount",'充值方式':"paymentId"}
dic = {'充值日期':[],'充值单号':[],'用户层级':[],'账户名':[],'姓名':[],'VIP等级':[],'充值金额':[],'到账金额':[],'充值方式':[]}
fw = open('result-912.txt','w')
# 重新获取页码
data_sec = {
    'dateType':'1',
    'startTime':int(time.time()-(180*60))*1000,
    'endTime':int(time.time())*1000,
    'userType':'-1',
    'orderStatus':'0,1,2,3,4,5,6,7,8,9',
    'agentType':'-1',
    'page':1,
    'size':500,
    'paymentIdList':'1,2,3,4,5,6,7,8,9,10,11,24,25,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,2000,2001,2002,2003,2004,2005,2006,3000,3001,4000,4001,4002,4003,4004,8000,8001,8002,10000,10001',
    'coinCode':'CNY'
}
response_sec = session.post(url=url,headers=header,data=data_sec)
pages = json.loads(response_sec.text)['data']['pages']
print(f'共{pages}页。。')

for page in range(1,pages+1):
    data = {
        'dateType':'1',
        'startTime':int(time.time()-(120*60))*1000,
        'endTime':int(time.time())*1000,
        'userType':'-1',
        'orderStatus':'0,1,2,3,4,5,6,7,8,9',
        'agentType':'-1',
        'page':page,
        'size':500,
        'paymentIdList':'1,2,3,4,5,6,7,8,9,10,11,24,25,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,2000,2001,2002,2003,2004,2005,2006,3000,3001,4000,4001,4002,4003,4004,8000,8001,8002,10000,10001',
        'coinCode':'CNY'
    }

    response = session.post(url=url,headers=header,data=data)
    response.encoding = 'utf8'

    # 提取数据

    obj = json.loads(response.text)
    for i in obj['data']['list']:
        # if (i["userLevel"] == '多次拉单不付款层级' and i["payAmount"] ==0 ):
        if (i["userLevel"] == '多次拉单不付款层级' and i["payAmount"] ==0 and i["vipLevel"] > -1):
            for k in dic:
                dic[k].append(i[dic0[k]])
# 生成结果数据
df2 = pd.DataFrame(dic)
df2.insert(1,'时间',df2['充值日期'].map(lambda x:time.strftime("%H:%M")))
df2['充值日期']= df2['充值日期'].map(lambda x:time.strftime("%Y-%m-%d"))
df2

获取token中。。。
开始发送请求....
共5页。。

,充值日期,时间,充值单号,用户层级,账户名,姓名,VIP等级,充值金额,到账金额,充值方式
0,2023-10-24,13:19,CZ2023102413158M544X,多次拉单不付款层级,wo082332,张*龙,3,1100.0,0,37
1,2023-10-24,13:19,CZ2023102413138M4MOH,多次拉单不付款层级,qq804259588,吴*,0,100.0,0,3
2,2023-10-24,13:19,CZ2023102413138M4M4U,多次拉单不付款层级,wo082332,张*龙,3,1000.0,0,37
3,2023-10-24,13:19,CZ2023102413118M488R,多次拉单不付款层级,wo082332,张*龙,3,1200.0,0,37
4,2023-10-24,13:19,CZ2023102413108M3ZH0,多次拉单不付款层级,qq804259588,吴*,0,100.0,0,1000
...,...,...,...,...,...,...,...,...,...,...
107,2023-10-24,13:19,CZ2023102411238LGHHE,多次拉单不付款层级,wo082332,张*龙,3,460.0,0,11
108,2023-10-24,13:19,CZ2023102411228LGGCJ,多次拉单不付款层级,jgf888777,金*丰,3,1000.0,0,1004
109,2023-10-24,13:19,CZ2023102411228LGDC9,多次拉单不付款层级,wlc142325,温*春,1,5000.0,0,30
110,2023-10-24,13:19,CZ2023102411218LG5ZO,多次拉单不付款层级,w4ygdbdhhh,贺*,4,10000.0,0,30
111,2023-10-24,13:19,CZ2023102411208LG48N,多次拉单不付款层级,tjq6979,佟*强,0,100.0,0,7

In [97]:
df2

,充值日期,时间,充值单号,用户层级,账户名,姓名,VIP等级,充值金额,到账金额,充值方式
0,2023-10-24,13:19,CZ2023102413158M544X,多次拉单不付款层级,wo082332,张*龙,3,1100.0,0,37
1,2023-10-24,13:19,CZ2023102413138M4MOH,多次拉单不付款层级,qq804259588,吴*,0,100.0,0,3
2,2023-10-24,13:19,CZ2023102413138M4M4U,多次拉单不付款层级,wo082332,张*龙,3,1000.0,0,37
3,2023-10-24,13:19,CZ2023102413118M488R,多次拉单不付款层级,wo082332,张*龙,3,1200.0,0,37
4,2023-10-24,13:19,CZ2023102413108M3ZH0,多次拉单不付款层级,qq804259588,吴*,0,100.0,0,1000
...,...,...,...,...,...,...,...,...,...,...
107,2023-10-24,13:19,CZ2023102411238LGHHE,多次拉单不付款层级,wo082332,张*龙,3,460.0,0,11
108,2023-10-24,13:19,CZ2023102411228LGGCJ,多次拉单不付款层级,jgf888777,金*丰,3,1000.0,0,1004
109,2023-10-24,13:19,CZ2023102411228LGDC9,多次拉单不付款层级,wlc142325,温*春,1,5000.0,0,30
110,2023-10-24,13:19,CZ2023102411218LG5ZO,多次拉单不付款层级,w4ygdbdhhh,贺*,4,10000.0,0,30
111,2023-10-24,13:19,CZ2023102411208LG48N,多次拉单不付款层级,tjq6979,佟*强,0,100.0,0,7

In [98]:
df3=df2.copy()
df3['充值方式2']= df3['充值方式'].astype(str).map(dic_chongchi)
# df3['充值方式3']= df3['充值方式2'].map(dic_chongchi)
df3.head()

,充值日期,时间,充值单号,用户层级,账户名,姓名,VIP等级,充值金额,到账金额,充值方式,充值方式2
0,2023-10-24,13:19,CZ2023102413158M544X,多次拉单不付款层级,wo082332,张*龙,3,1100.0,0,37,支付宝扫码
1,2023-10-24,13:19,CZ2023102413138M4MOH,多次拉单不付款层级,qq804259588,吴*,0,100.0,0,3,微信支付
2,2023-10-24,13:19,CZ2023102413138M4M4U,多次拉单不付款层级,wo082332,张*龙,3,1000.0,0,37,支付宝扫码
3,2023-10-24,13:19,CZ2023102413118M488R,多次拉单不付款层级,wo082332,张*龙,3,1200.0,0,37,支付宝扫码
4,2023-10-24,13:19,CZ2023102413108M3ZH0,多次拉单不付款层级,qq804259588,吴*,0,100.0,0,1000,极速微信

In [100]:
for i in df3['充值方式2']:
    for k in dic_chartype:
        if i in dic_chartype[k]:
            df3.loc[df3['充值方式2']==i,'充值方式3']=k
df3

,充值日期,时间,充值单号,用户层级,账户名,姓名,VIP等级,充值金额,到账金额,充值方式,充值方式2,充值方式3
0,2023-10-24,13:19,CZ2023102413158M544X,多次拉单不付款层级,wo082332,张*龙,3,1100.0,0,37,支付宝扫码,CNY_支付宝
1,2023-10-24,13:19,CZ2023102413138M4MOH,多次拉单不付款层级,qq804259588,吴*,0,100.0,0,3,微信支付,CNY_微信
2,2023-10-24,13:19,CZ2023102413138M4M4U,多次拉单不付款层级,wo082332,张*龙,3,1000.0,0,37,支付宝扫码,CNY_支付宝
3,2023-10-24,13:19,CZ2023102413118M488R,多次拉单不付款层级,wo082332,张*龙,3,1200.0,0,37,支付宝扫码,CNY_支付宝
4,2023-10-24,13:19,CZ2023102413108M3ZH0,多次拉单不付款层级,qq804259588,吴*,0,100.0,0,1000,极速微信,CNY_微信
...,...,...,...,...,...,...,...,...,...,...,...,...
107,2023-10-24,13:19,CZ2023102411238LGHHE,多次拉单不付款层级,wo082332,张*龙,3,460.0,0,11,网银转账,CNY_网银
108,2023-10-24,13:19,CZ2023102411228LGGCJ,多次拉单不付款层级,jgf888777,金*丰,3,1000.0,0,1004,银行卡转卡,CNY_银行卡
109,2023-10-24,13:19,CZ2023102411228LGDC9,多次拉单不付款层级,wlc142325,温*春,1,5000.0,0,30,支付宝H5,CNY_支付宝
110,2023-10-24,13:19,CZ2023102411218LG5ZO,多次拉单不付款层级,w4ygdbdhhh,贺*,4,10000.0,0,30,支付宝H5,CNY_支付宝
111,2023-10-24,13:19,CZ2023102411208LG48N,多次拉单不付款层级,tjq6979,佟*强,0,100.0,0,7,银行卡转账,CNY_银行卡

In [99]:
for i in df3['充值方式2']:
    print(i)

支付宝扫码
微信支付
支付宝扫码
支付宝扫码
极速微信
极速支付宝
支付宝H5
极速支付宝
极速支付宝
支付宝扫码
支付宝扫码
支付宝H5
EB_Pay
银行卡转账
银行卡转账
银行卡转账
银行卡转账
支付宝H5
银行卡转账
银行卡转账
银行卡转账
银行卡转账
微信支付
银行卡转账
银行卡转账
银行卡转账
银行卡转账
银行卡转账
银行卡转账
银行卡转账
支付宝扫码
银行卡转账
网银转账
银行卡转账
银行卡转账
银行卡转账
银行卡转账
微信支付
银行卡转账
银行卡转账
银行卡转账
银行卡转账
银行卡转账
微信支付
支付宝扫码
银行卡转账
银行卡转账
银行卡转账
银行卡转账
极速支付宝
银行卡转账
极速支付宝
极速支付宝
银行卡转账
银行卡转账
极速支付宝
银行卡转账
极速支付宝
微信支付
银行卡转账
银行卡转账
银行卡转账
银行卡转账
银行卡转账
银行卡转账
银行卡转账
极速支付宝
网银转账
银行卡转账
支付宝扫码
银行卡转账
银行卡转账
银行卡转账
银行卡转账
支付宝H5
支付宝H5
支付宝H5
支付宝H5
支付宝H5
银行卡转账
银行卡转账
银行卡转账
支付宝扫码
EB_Pay
银行卡转账
银行卡转账
银行卡转账
银行卡转账
支付宝H5
支付宝H5
银行卡转账
支付宝支付
支付宝扫码
支付宝H5
极速微信
银行卡转账
极速微信
极速支付宝
银行卡转账
极速微信
微信支付
支付宝H5
极速支付宝
支付宝扫码
银行卡转账
支付宝扫码
支付宝H5
网银转账
银行卡转卡
支付宝H5
支付宝H5
银行卡转账

In [82]:
df3['充值方式2'].apply(lambda x: k if x in dic_chartype[k] else x for k in dic_chartype)

ValueError: too many values to unpack (expected 2)

In [83]:
for k in dic_chartype:
    print(k,dic_chartype[k])

CNY_支付宝 ['支付宝支付', '支付宝转账', '支付宝H5', '支付宝红包', '极速支付宝', '支付宝扫码', '支付宝转卡']
CNY_微信 ['微信支付', '微信转账', '微信扫码', '微信红包', '微信H5', '微信小店', '极速微信', '微信转卡']
CNY_其他第三方 ['QQ支付', '京东支付', '云闪付转账', '云闪付', '充值卡支付', '数字人民币', '极速QQ', '云闪付转卡', '极速零钱', '钉钉红包', 'QQ红包', '综合支付', '京东E卡']
CNY_网银 ['网银支付', '银联扫码支付', '网银转账', '银联快捷', '手机银行', '银行卡直充', '人民币直充']
CNY_银行卡 ['银行卡转账', '银行卡转卡', '银行卡支付']
CNY_虚拟币 ['EB_Pay', 'TO_Pay', '虚拟币支付']
VND_银行卡 ['越南Bank_online', '越南Local_bank', '越南银行转账']
VND_第三方 ['越南Momo_pay', '越南Zalo_pay', '越南Qr_pay', '越南Viettel_Pay']
MYR_银行卡 ['马来西亚_银行转账', '马来西亚Bank_online']
THB_银行卡 ['泰国_银行转账', '泰国Bank_online']
THB_第三方 ['泰国PROMPT_PAY', '泰国TRUE_MONEY', '泰国RABBIT_LINE_PAY']
BRL_银行卡 ['巴西_银行卡转账', '巴西_网银支付']
BRL_第三方 ['巴西PIX_Pay']
EGP_银行卡 ['埃及_银行卡转账', '埃及Bank_online']

In [80]:
dic_chartype= {'CNY_支付宝':['支付宝支付', '支付宝转账', '支付宝H5', '支付宝红包', '极速支付宝', '支付宝扫码', '支付宝转卡'],
            'CNY_微信':['微信支付', '微信转账', '微信扫码', '微信红包', '微信H5', '微信小店', '极速微信', '微信转卡'],
            'CNY_其他第三方':['QQ支付','京东支付','云闪付转账',
                              '云闪付','充值卡支付','数字人民币','极速QQ','云闪付转卡','极速零钱','钉钉红包','QQ红包','综合支付','京东E卡'],
            'CNY_网银':['网银支付', '银联扫码支付', '网银转账', '银联快捷', '手机银行', '银行卡直充', '人民币直充'],
            'CNY_银行卡':['银行卡转账', '银行卡转卡', '银行卡支付'],
            'CNY_虚拟币':['EB_Pay', 'TO_Pay', '虚拟币支付'],
            'VND_银行卡':['越南Bank_online', '越南Local_bank', '越南银行转账'],
            'VND_第三方':['越南Momo_pay', '越南Zalo_pay', '越南Qr_pay', '越南Viettel_Pay'],
            'MYR_银行卡':['马来西亚_银行转账', '马来西亚Bank_online'],
            'THB_银行卡':['泰国_银行转账', '泰国Bank_online'],
            'THB_第三方':['泰国PROMPT_PAY', '泰国TRUE_MONEY', '泰国RABBIT_LINE_PAY'],
            'BRL_银行卡':['巴西_银行卡转账', '巴西_网银支付'],
            'BRL_第三方':['巴西PIX_Pay'],
            'EGP_银行卡':['埃及_银行卡转账', '埃及Bank_online']}
dic_chartype

{'CNY_支付宝': ['支付宝支付', '支付宝转账', '支付宝H5', '支付宝红包', '极速支付宝', '支付宝扫码', '支付宝转卡'],
 'CNY_微信': ['微信支付', '微信转账', '微信扫码', '微信红包', '微信H5', '微信小店', '极速微信', '微信转卡'],
 'CNY_其他第三方': ['QQ支付',
  '京东支付',
  '云闪付转账',
  '云闪付',
  '充值卡支付',
  '数字人民币',
  '极速QQ',
  '云闪付转卡',
  '极速零钱',
  '钉钉红包',
  'QQ红包',
  '综合支付',
  '京东E卡'],
 'CNY_网银': ['网银支付', '银联扫码支付', '网银转账', '银联快捷', '手机银行', '银行卡直充', '人民币直充'],
 'CNY_银行卡': ['银行卡转账', '银行卡转卡', '银行卡支付'],
 'CNY_虚拟币': ['EB_Pay', 'TO_Pay', '虚拟币支付'],
 'VND_银行卡': ['越南Bank_online', '越南Local_bank', '越南银行转账'],
 'VND_第三方': ['越南Momo_pay', '越南Zalo_pay', '越南Qr_pay', '越南Viettel_Pay'],
 'MYR_银行卡': ['马来西亚_银行转账', '马来西亚Bank_online'],
 'THB_银行卡': ['泰国_银行转账', '泰国Bank_online'],
 'THB_第三方': ['泰国PROMPT_PAY', '泰国TRUE_MONEY', '泰国RABBIT_LINE_PAY'],
 'BRL_银行卡': ['巴西_银行卡转账', '巴西_网银支付'],
 'BRL_第三方': ['巴西PIX_Pay'],
 'EGP_银行卡': ['埃及_银行卡转账', '埃及Bank_online']}

In [ ]:
df3.loc[df3['充值方式2'].isin(['支付宝支付', '支付宝转账', '支付宝H5', '支付宝红包', '极速支付宝', '支付宝扫码', '支付宝转卡']),'充值类别']='CNY_支付宝'

'CNY_微信':['微信支付', '微信转账', '微信扫码', '微信红包', '微信H5', '微信小店', '极速微信', '微信转卡'],
'CNY_其他第三方':['QQ支付','京东支付','云闪付转账',
                  '云闪付','充值卡支付','数字人民币','极速QQ','云闪付转卡','极速零钱','钉钉红包','QQ红包','综合支付','京东E卡'],
'CNY_网银':['网银支付', '银联扫码支付', '网银转账', '银联快捷', '手机银行', '银行卡直充', '人民币直充'],
'CNY_银行卡':['银行卡转账', '银行卡转卡', '银行卡支付'],
'CNY_虚拟币':['EB_Pay', 'TO_Pay', '虚拟币支付'],
'VND_银行卡':['越南Bank_online', '越南Local_bank', '越南银行转账'],
'VND_第三方':['越南Momo_pay', '越南Zalo_pay', '越南Qr_pay', '越南Viettel_Pay'],
'MYR_银行卡':['马来西亚_银行转账', '马来西亚Bank_online'],
'THB_银行卡':['泰国_银行转账', '泰国Bank_online'],
'THB_第三方':['泰国PROMPT_PAY', '泰国TRUE_MONEY', '泰国RABBIT_LINE_PAY'],
'BRL_银行卡':['巴西_银行卡转账', '巴西_网银支付'],
'BRL_第三方':['巴西PIX_Pay'],
'EGP_银行卡':['埃及_银行卡转账', '埃及Bank_online']

In [35]:
df3.groupby('账户名').agg({'账户名':len,'充值金额':[np.max,np.mean],'VIP等级':np.mean,'充值方式3':set})

                账户名    充值金额              VIP等级  \
                len     max         mean  mean
账户名
2831788966yy      2   100.0   100.000000   0.0
727522694chenyu   6  2000.0  2000.000000   4.0
AOmr5306         10  2000.0  1700.000000   3.0
Cza111111         2  2000.0  2000.000000   6.0
L588623           1  5000.0  5000.000000   3.0
aa491229          2  1000.0  1000.000000   4.0
bb1109            1  4000.0  4000.000000   4.0
caonima111        7   800.0   800.000000   1.0
cq20100810        2   800.0   800.000000   3.0
ljw0626           1   100.0   100.000000   2.0
nzh2011106112     3  2000.0  2000.000000   3.0
wcnm44444         1   500.0   500.000000   1.0
wq13145200        1  2000.0  2000.000000   6.0
wuxiangliang18    3   100.0   100.000000   0.0
xuhaie888         1  2000.0  2000.000000   4.0
zl8889999         1  1000.0  1000.000000   4.0
zxc586            4   500.0   500.000000   1.0
zxl519321747      3  2002.0  2001.333333   5.0

                                              充值方式3
                                                set
账户名
2831788966yy                         {极速微信, EB Pay}
727522694chenyu                {支付宝H5, 网银转账, 支付宝支付}
AOmr5306         {银行卡转卡, 支付宝H5, 数字人民币, 银行卡转账, 网银转账}
Cza111111                                   {支付宝H5}
L588623                                     {虚拟币支付}
aa491229                             {支付宝扫码, 银行卡转账}
bb1109                                      {支付宝H5}
caonima111                    {支付宝H5, 支付宝扫码, 极速支付宝}
cq20100810                                  {银行卡转账}
ljw0626                                     {银行卡转账}
nzh2011106112                        {支付宝H5, 支付宝扫码}
wcnm44444                                   {支付宝支付}
wq13145200                                  {支付宝支付}
wuxiangliang18                         {极速微信, 微信支付}
xuhaie888                                   {支付宝H5}
zl8889999                                   {支付宝扫码}
zxc586                                      {支付宝支付}
zxl519321747                                {支付宝H5}

In [101]:
result2 = df3.groupby('账户名').agg({'账户名':len,'充值金额':[np.max,np.mean],'VIP等级':np.mean,'充值方式3':set})
result2.reset_index(inplace=True)
result2 = pd.DataFrame({'账户名':result2.iloc[:,0],'数量':result2.iloc[:,1],'最大金额':result2.iloc[:,2],'平均金额':result2.iloc[:,3],'VIP等级':result2.iloc[:,4],'分类':result2.iloc[:,5]})

result2.set_index('账户名',inplace=True)
result2 = result2.loc[result2['数量']>3,:]
df2.set_index('账户名',inplace=True)
print(result2.sort_values('数量',ascending=False))

             数量     最大金额          平均金额  VIP等级                          分类
账户名
Xujun123     11    200.0    136.363636    2.0  {CNY_微信, CNY_支付宝, CNY_虚拟币}
wlc142325    11   5000.0   2545.454545    1.0          {CNY_支付宝, CNY_虚拟币}
wo082332     10   1200.0    923.700000    3.0  {CNY_支付宝, CNY_网银, CNY_银行卡}
021lezong     6  50000.0  13666.666667    3.0                   {CNY_银行卡}
Wangfan520    5   1000.0    740.000000    2.0           {CNY_网银, CNY_银行卡}
asf46546      5  50000.0  25377.600000    0.0                   {CNY_银行卡}
emc588        5  50000.0  23600.000000    0.0                   {CNY_银行卡}
jjb578739     5  50000.0  23600.000000    0.0                   {CNY_银行卡}
l96031655     5  50000.0  24710.400000    0.0                   {CNY_银行卡}
lee57632871   5    900.0    600.000000    2.0                   {CNY_银行卡}
ll7758521     5  50000.0  24442.000000    0.0                   {CNY_银行卡}
qjp123456     5    200.0    130.000000    0.0           {CNY_微信, CNY_支付宝}
qq804259588   5    100.0    100.000000    0.0           {CNY_微信, CNY_支付宝}
tt156476      5  50000.0  24266.600000    0.0                   {CNY_银行卡}
xx8895sa      5  50000.0  23600.000000    0.0                   {CNY_银行卡}

In [62]:
import pandas as pd
df = pd.read_excel(r'C:\Users\User\Desktop\充值拉单监控群分类大项2.xlsx','Sheet2')
df

                 充值方式
0                网银支付
1               支付宝支付
2                微信支付
3                QQ支付
4              银联扫码支付
5                京东支付
6               银行卡转账
7               支付宝转账
8                微信转账
9               云闪付转账
10               网银转账
11               银联快捷
12                云闪付
13              充值卡支付
14              数字人民币
15               微信扫码
16              支付宝H5
17              支付宝红包
18               微信红包
19               微信H5
20               微信小店
21               钉钉红包
22               QQ红包
23              支付宝扫码
24               手机银行
25               综合支付
26              银行卡直充
27               京东E卡
28               极速微信
29              极速支付宝
30              虚拟币支付
31              人民币直充
32              银行卡转卡
33              支付宝转卡
34               微信转卡
35               极速QQ
36              云闪付转卡
37               极速零钱
38              银行卡支付
39             EB_Pay
40             TO_Pay
41      越南Bank_online
42       越南Local_bank
43         越南Momo_pay
44         越南Zalo_pay
45             越南银行转账
46           越南Qr_pay
47      越南Viettel_Pay
48          马来西亚_银行转账
49    马来西亚Bank_online
50            泰国_银行转账
51      泰国Bank_online
52       泰国PROMPT_PAY
53       泰国TRUE_MONEY
54  泰国RABBIT_LINE_PAY
55           巴西_银行卡转账
56            巴西_网银支付
57          巴西PIX_Pay
58           埃及_银行卡转账
59      埃及Bank_online

In [19]:
who

DataFrame	 MultiIndex	 base64	 column	 data	 data_sec	 datetime	 df	 df2
dic	 dic0	 fw	 get_google_code	 google_code	 hashlib	 header	 header0	 hmac
i	 j	 json	 jsonpath	 k	 np	 obj	 page	 page_list
pages	 paymentID	 pd	 pydev_jupyter_vars	 remove_imported_pydev_package	 requests	 response	 response_sec	 session
session0	 struct	 submit_url	 sys	 telebot	 time	 token	 url

In [3]:
len(page_list)

10

In [40]:
df_c.groupby('会员账号').agg({'会员账号':len}).rename(columns={'会员账号':'投注次数'}).sort_values('投注次数',ascending=False).mean()

投注次数    101.661426
dtype: float64

In [38]:
df_v.groupby('会员账号').agg({'会员账号':len}).rename(columns={'会员账号':'投注次数'}).sort_values('投注次数',ascending=False).mean()

投注次数    24.639838
dtype: float64

In [28]:
df_c= df[df['币种']=='CNY']
df_v= df[df['币种']=='VND']

In [15]:
df4 = df3.iloc[[0,-1]].merge(df,on='会员账号')
df4.shape
df4.head()

(2, 14)

,会员账号,代理_x,电话_x,vip等级_x,注册时间_x,姓名,手机号,上级代理,国家,玩家层级,代理_y,电话_y,vip等级_y,注册时间_y
0,ptt123,bmw666,15823806956,0,2022/02/19 23:28:47,NaN,15823806956,bmw666,中国,休眠层级,bmw666,15823806956,0,2022/02/19 23:28:47
1,ptt123120,bmw666,15823003744.0,0,2022/02/19 23:28:47,NaN,15823003744,bmw666,中国,休眠层级,bmw666,15823003744.0,0,2022/02/19 23:28:47

In [25]:
import datetime
today_8am = datetime.datetime(datetime.datetime.now().year, datetime.datetime.now().month, datetime.datetime.now().day, 8)
int(today_8am.timestamp())*1000

1697846400000

In [26]:
int(today_8am.timestamp())*1000+1000

1697846401000

In [20]:
df[df['会员账号']=='Jun-33']

         会员账号      代理           电话  vip等级                 注册时间
10202  Jun-33  bmw666  18716557610      0  2022/02/19 23:20:36

In [21]:
df2[df2['会员账号']=='Jun-33']

          会员账号   姓名            手机号    上级代理  国家     玩家层级
257452  Jun-33  NaN  18390458101.0  gt0005  中国  新注册默认层级
486045  Jun-33  NaN    18716557610  bmw666  中国  新注册默认层级

In [13]:
df3[df3['玩家层级'].isna()]

,会员账号,代理,电话,vip等级,注册时间,姓名,手机号,上级代理,国家,玩家层级
35388,731226zz,bs9sonic,13824173919,3,2022/12/29 12:02:56,NaN,NaN,NaN,NaN,NaN
36046,LiuTeng403,bs9sonic,19891265015,1,2022/12/28 23:23:45,NaN,NaN,NaN,NaN,NaN
37895,qw6214192,btyseo1998,17605926712,2,2022/12/27 21:34:53,NaN,NaN,NaN,NaN,NaN
41461,g447345782,zh0325,13773682948,3,2022/12/25 21:44:10,NaN,NaN,NaN,NaN,NaN
48927,Ngocluan2808,zh1120,795915758,2,2022/12/21 15:38:12,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
887321,jun6688,bs9ahui,13871497943.0,4,2022/03/16 19:03:49,NaN,NaN,NaN,NaN,NaN
893072,jun3654,btyseo7003,13266400668.0,0,2022/03/11 21:52:49,NaN,NaN,NaN,NaN,NaN
897805,jan8806,jing178,13326748806.0,1,2022/03/09 21:34:51,NaN,NaN,NaN,NaN,NaN
899996,jun1987,yige178,13596128161.0,1,2022/03/09 11:53:20,NaN,NaN,NaN,NaN,NaN
902128,may5277,btyseo7003,13517229493.0,0,2022/02/26 09:58:54,NaN,NaN,NaN,NaN,NaN

In [8]:
df2 = pd.read_clipboard()
df2.shape
df2.head()

C:\Users\User\AppData\Local\Temp\ipykernel_36464\3428087374.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_clipboard()

(931281, 6)

            会员账号              姓名            手机号        上级代理  国家         玩家层级
0      mao888999             毛建锦  18860116669.0  btyseo7008  中国  seo初审后层级2.1
1   yingding8688             班家炜  15177284778.0      wen178  中国         正常层级
2      Kakao2022   VU XUAN QUYEN    352966776.0      Bsc002  越南         正常层级
3  Nhathuocduy31  NGUYEN THE DUY    985858135.0      Bsc002  越南         正常层级
4    HIAYU123456              倪斯  18159639270.0      f70002  中国       初审后层级2

In [2]:
import pandas as pd
df = pd.read_clipboard()
df.shape
df.head()

C:\Users\User\AppData\Local\Temp\ipykernel_36464\772617338.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_clipboard()

(931342, 5)

         会员账号      代理           电话  vip等级                 注册时间
0      ptt123  bmw666  15823806956      0  2022/02/19 23:28:47
1  pty2653976  bmw666  13087451059      0  2022/02/19 23:28:47
2  ptz5201312  bmw666  18875558368      0  2022/02/19 23:28:47
3     ptzh666  bmw666  18223468555      0  2022/02/19 23:28:47
4  ptz5201313  bmw666  18875558369      0  2022/02/19 23:28:47

In [41]:
import pandas as pd
import datetime
import time
import xlwings as xw
import hmac, base64, struct, hashlib
import requests
import json
import os
import telebot
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import re
# 上传result到google表格
scopes = [
    'https://www.googleapis.com/auth/spreadsheets',
    'https://www.googleapis.com/auth/drive'
]
credentials = ServiceAccountCredentials.from_json_keyfile_name(r"C:\Users\User\Desktop\文件\追击\zhuiji-345065c1f756.json", scopes) #access the json key you downloaded earlier

file = gspread.authorize(credentials) # authenticate the JSON key with gspread
sheet = file.open("【TM】追击名单") #open sheet
# 工作表格
sheet = sheet.worksheet('10月')
df = pd.DataFrame(sheet.get_all_records())
df.shape
df.head()

,日期,会员账号,手机号码,代理,VIP等级,注册时间,状态,是否有效,意向情况,电销沟通内容,
0,20231001-12,qwe555026,132xxxx8429,btyseo8003,VIP0,2023/10/1 11:47,正常,无效通话,无意向,联系不上会员,
1,20231001-12,xkfdc888888,182xxxx7811,kh00010,VIP0,2023/10/1 11:31,正常,无效通话,无意向,联系不上会员,
2,20231001-12,aa124578aa,183xxxx1938,admin,VIP0,2023/10/1 11:02,正常,无效通话,无意向,联系不上会员,
3,20231001-12,ft28712501,159xxxx9424,btyseo7003,VIP0,2023/10/1 10:13,正常,无效通话,无意向,联系不上会员,
4,20231001-12,k474495843,131xxxx9304,kh00010,VIP0,2023/10/1 09:58,正常,有效通话,无意向,会员说充值不上去，已推荐会员使用支付宝支付h5之类带点尾数比较快速到账已告知了线下代充及首存...,

In [43]:
df2 = pd.read_clipboard()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   20231020-12          10 non-null     object
 1   asd897792090         10 non-null     object
 2   13639274523          10 non-null     int64
 3   gt0005               10 non-null     object
 4   0                    10 non-null     int64
 5   2023/10/19 17:53:25  10 non-null     object
 6   正常                   10 non-null     object
 7   无效通话                 10 non-null     object
 8   无意向                  10 non-null     object
 9   Unnamed: 9           6 non-null      object
dtypes: int64(2), object(8)
memory usage: 932.0+ bytes

In [53]:
df2['排序3']=df2['手机号码'].rank(ascending=True)
df2

,日期,会员账号,手机号码,代理,VIP等级,注册时间,状态,是否有效,意向情况,电销沟通内容,排序,排序2,排序3
0,20231020-12,2786406848zyx,18704846174,wbdl1420,0,2023/10/19 17:08:32,正常,无效通话,无意向,NaN,6.0,1.0,6.0
1,20231020-12,slb3335329637,18636492730,btyseo9005,0,2023/10/19 16:46:20,正常,无效通话,无意向,联系不上会员,5.0,2.0,5.0
2,20231020-12,5099027q,15142209543,zh0325,0,2023/10/19 14:57:45,正常,无效通话,无意向,自己取消的，说不会支付宝充值，详细告知怎么存款，不会联系经理教您，也有代充，介绍优惠好的,2.0,5.0,2.0
3,20231020-12,wqx352616,18174578546,admin,0,2023/10/19 13:28:46,正常,无效通话,无意向,联系不上会员,4.0,3.0,4.0
4,20231020-12,zhouzhou53210,15935356621,btydl0073,0,2023/10/19 11:47:55,正常,无效通话,无意向,联系不上会员,3.0,4.0,3.0
5,20231020-12,abcd114319,15019853165,gt3333,0,2023/10/19 11:22:04,正常,有效通话,无意向,说是不会充值，自己取消的，告知有代充，扫码就行，联系专员申请，告知优惠，好的,1.0,6.0,1.0

In [ ]:
#脱敏
df2 = pd.DataFrame(sheet.get_all_records())
df2['手机号码']=df2['手机号码'].astype(str)
df2['手机号码']=df2['手机号码'].map(lambda x:re.sub(r'(\d{3})\d{4}(\d{4})', r'\1****\2', x))
sheet.update(f'A2:J{df2.shape[0]+1}',df2.values.tolist())

In [29]:
df = sheet.get_all_records()
df = pd.DataFrame(df)
df.head()

,日期,会员账号,手机号码,代理,VIP等级,注册时间,状态,是否有效,意向情况,电销沟通内容
0,20231019-18,ainijln2112,177****4180,admin,0,2023/10/19 12:43:30,正常,有效通话,有意向,会员自己撤销的，推荐了别的充值方式还有介绍了首存活动 联系小新领取优惠
1,20231019-18,nba446085860,130****3943,admin,0,2023/10/19 12:41:52,正常,无效通话,无意向,联系不上会员
2,20231019-18,keeeee123,186****5020,admin,0,2023/10/19 12:40:49,正常,无效通话,无意向,联系不上会员
3,20231019-18,w863864,137****4772,btyseo6007,0,2023/10/19 12:34:45,正常,有效通话,有意向,会员自己撤销的，推荐了别的充值方式还有介绍了首存活动 联系小新领取优惠
4,20231019-18,aA13419562691,134****2691,btydl0073,0,2023/10/19 12:33:40,正常,无效通话,无意向,听到平台就挂断

In [30]:

sheet.append_rows(df.values.tolist())

{'spreadsheetId': '1CYqiaQLGQDk9GQmUCoSsv_bVJtMerBEKqm768BLjcZo',
 'tableRange': "'测试表格'!A1:J13",
 'updates': {'spreadsheetId': '1CYqiaQLGQDk9GQmUCoSsv_bVJtMerBEKqm768BLjcZo',
  'updatedRange': "'测试表格'!A14:J25",
  'updatedRows': 12,
  'updatedColumns': 10,
  'updatedCells': 120}}

In [23]:
df['比例2'] = np.where(df['存款金额']>0,df['提款金额']/df['存款金额'],0)
df

,会员账号,币种,日期,上级代理,vip,存款金额,提款金额,比例,比例2
0,z1720114,CNY,2023/10/1,bs9Don,4,0,0,NaN,0.000000
1,aaa99388,CNY,2023/10/1,zhao178,3,0,0,NaN,0.000000
2,lyj5888,CNY,2023/10/1,bs9ahui,1,0,0,NaN,0.000000
3,c201501120,CNY,2023/10/1,bs9ahui,4,200,0,0.000000,0.000000
4,zhoulida123,CNY,2023/10/1,peipei178,5,6000,0,0.000000,0.000000
5,jj654321,CNY,2023/10/1,bs9Ajie1,2,0,0,NaN,0.000000
6,zsndaodao1,CNY,2023/10/1,bs9Don,2,0,0,NaN,0.000000
7,czg1118,CNY,2023/10/1,bs9Don,3,0,0,NaN,0.000000
8,87898789pppp,CNY,2023/10/1,bs9Ajie2,3,0,0,NaN,0.000000
9,xuliangcq11,CNY,2023/10/1,bs9ahui,1,0,0,NaN,0.000000
10,wyy8404,CNY,2023/10/1,bs9Ajie1,5,0,20000,inf,0.000000
11,zsh7149zsh,CNY,2023/10/1,bmw666,4,3000,0,0.000000,0.000000
12,zjl328328,CNY,2023/10/1,bs9ahui,3,0,0,NaN,0.000000
13,zulabdu491,CNY,2023/10/1,bs9Robert2,5,2750,0,0.000000,0.000000
14,qq578458440,CNY,2023/10/1,bs9Ajie1,6,6008,0,0.000000,0.000000
15,asdfg5656,CNY,2023/10/1,bs9Ajie2,4,0,0,NaN,0.000000
16,tony1943,CNY,2023/10/1,bs9Don,2,0,0,NaN,0.000000
17,kevin66666,CNY,2023/10/1,bs9Ajie1,4,0,0,NaN,0.000000
18,zxzlmqs1,CNY,2023/10/1,bs9sonic,3,1500,0,0.000000,0.000000
19,satr211,CNY,2023/10/1,bs9Ajie1,3,0,0,NaN,0.000000
20,qw990419,CNY,2023/10/1,bs9ahui,2,0,0,NaN,0.000000
21,long2022,CNY,2023/10/1,bs9Ajie1,2,0,0,NaN,0.000000
22,zz5201314,CNY,2023/10/1,bs9Ajie2,3,200,0,0.000000,0.000000
23,aa8673295,CNY,2023/10/1,bs9ahui,4,0,0,NaN,0.000000
24,random123,CNY,2023/10/1,bs9Robert3,7,0,0,NaN,0.000000
25,745207235a,CNY,2023/10/1,btyseo6007,3,200,2000,10.000000,10.000000
26,Nd666777,CNY,2023/10/1,bs9Ajie1,2,300,500,1.666667,1.666667
27,zl654321,CNY,2023/10/1,bs9Ajie2,3,0,900,inf,0.000000

In [22]:
df['比例'] = df['提款金额']/df['存款金额']
df

            会员账号   币种         日期        上级代理  vip  存款金额   提款金额         比例
0       z1720114  CNY  2023/10/1      bs9Don    4     0      0        NaN
1       aaa99388  CNY  2023/10/1     zhao178    3     0      0        NaN
2        lyj5888  CNY  2023/10/1     bs9ahui    1     0      0        NaN
3     c201501120  CNY  2023/10/1     bs9ahui    4   200      0   0.000000
4    zhoulida123  CNY  2023/10/1   peipei178    5  6000      0   0.000000
5       jj654321  CNY  2023/10/1    bs9Ajie1    2     0      0        NaN
6     zsndaodao1  CNY  2023/10/1      bs9Don    2     0      0        NaN
7        czg1118  CNY  2023/10/1      bs9Don    3     0      0        NaN
8   87898789pppp  CNY  2023/10/1    bs9Ajie2    3     0      0        NaN
9    xuliangcq11  CNY  2023/10/1     bs9ahui    1     0      0        NaN
10       wyy8404  CNY  2023/10/1    bs9Ajie1    5     0  20000        inf
11    zsh7149zsh  CNY  2023/10/1      bmw666    4  3000      0   0.000000
12     zjl328328  CNY  2023/10/1     bs9ahui    3     0      0        NaN
13    zulabdu491  CNY  2023/10/1  bs9Robert2    5  2750      0   0.000000
14   qq578458440  CNY  2023/10/1    bs9Ajie1    6  6008      0   0.000000
15     asdfg5656  CNY  2023/10/1    bs9Ajie2    4     0      0        NaN
16      tony1943  CNY  2023/10/1      bs9Don    2     0      0        NaN
17    kevin66666  CNY  2023/10/1    bs9Ajie1    4     0      0        NaN
18      zxzlmqs1  CNY  2023/10/1    bs9sonic    3  1500      0   0.000000
19       satr211  CNY  2023/10/1    bs9Ajie1    3     0      0        NaN
20      qw990419  CNY  2023/10/1     bs9ahui    2     0      0        NaN
21      long2022  CNY  2023/10/1    bs9Ajie1    2     0      0        NaN
22     zz5201314  CNY  2023/10/1    bs9Ajie2    3   200      0   0.000000
23     aa8673295  CNY  2023/10/1     bs9ahui    4     0      0        NaN
24     random123  CNY  2023/10/1  bs9Robert3    7     0      0        NaN
25    745207235a  CNY  2023/10/1  btyseo6007    3   200   2000  10.000000
26      Nd666777  CNY  2023/10/1    bs9Ajie1    2   300    500   1.666667
27      zl654321  CNY  2023/10/1    bs9Ajie2    3     0    900        inf

In [21]:
import pandas as pd
df = pd.read_clipboard()
df

            会员账号   币种         日期        上级代理  vip  存款金额   提款金额
0       z1720114  CNY  2023/10/1      bs9Don    4     0      0
1       aaa99388  CNY  2023/10/1     zhao178    3     0      0
2        lyj5888  CNY  2023/10/1     bs9ahui    1     0      0
3     c201501120  CNY  2023/10/1     bs9ahui    4   200      0
4    zhoulida123  CNY  2023/10/1   peipei178    5  6000      0
5       jj654321  CNY  2023/10/1    bs9Ajie1    2     0      0
6     zsndaodao1  CNY  2023/10/1      bs9Don    2     0      0
7        czg1118  CNY  2023/10/1      bs9Don    3     0      0
8   87898789pppp  CNY  2023/10/1    bs9Ajie2    3     0      0
9    xuliangcq11  CNY  2023/10/1     bs9ahui    1     0      0
10       wyy8404  CNY  2023/10/1    bs9Ajie1    5     0  20000
11    zsh7149zsh  CNY  2023/10/1      bmw666    4  3000      0
12     zjl328328  CNY  2023/10/1     bs9ahui    3     0      0
13    zulabdu491  CNY  2023/10/1  bs9Robert2    5  2750      0
14   qq578458440  CNY  2023/10/1    bs9Ajie1    6  6008      0
15     asdfg5656  CNY  2023/10/1    bs9Ajie2    4     0      0
16      tony1943  CNY  2023/10/1      bs9Don    2     0      0
17    kevin66666  CNY  2023/10/1    bs9Ajie1    4     0      0
18      zxzlmqs1  CNY  2023/10/1    bs9sonic    3  1500      0
19       satr211  CNY  2023/10/1    bs9Ajie1    3     0      0
20      qw990419  CNY  2023/10/1     bs9ahui    2     0      0
21      long2022  CNY  2023/10/1    bs9Ajie1    2     0      0
22     zz5201314  CNY  2023/10/1    bs9Ajie2    3   200      0
23     aa8673295  CNY  2023/10/1     bs9ahui    4     0      0
24     random123  CNY  2023/10/1  bs9Robert3    7     0      0
25    745207235a  CNY  2023/10/1  btyseo6007    3   200   2000
26      Nd666777  CNY  2023/10/1    bs9Ajie1    2   300    500
27      zl654321  CNY  2023/10/1    bs9Ajie2    3     0    900

In [18]:
import numpy as np
df1=-20
df2=0
np.where(df2>0,df1/df2,0)

ZeroDivisionError: division by zero

In [14]:
import time
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import re
import pandas as pd
#将数据上传google表格
scopes = [
    'https://www.googleapis.com/auth/spreadsheets',
    'https://www.googleapis.com/auth/drive'
]
credentials = ServiceAccountCredentials.from_json_keyfile_name(r"C:\Users\User\Desktop\文件\追击\zhuiji-345065c1f756.json", scopes) #access the json key you downloaded earlier

file = gspread.authorize(credentials) # authenticate the JSON key with gspread
book = file.open("【TM】追击名单") #open sheet

sheet = book.worksheet('测试表格')
#脱敏
df2 = pd.DataFrame(sheet.get_all_records())
df2['手机号码']=df2['手机号码'].astype(str)
df2['手机号码']=df2['手机号码'].map(lambda x:re.sub(r'(\d{3})\d{4}(\d{4})', r'\1****\2', x))
sheet.update(f'A2:J{df2.shape[0]+1}',df2.values.tolist())

C:\ProgramData\anaconda3\envs\schedule\Lib\site-packages\gspread\worksheet.py:1069: UserWarning: [Deprecated][in version 6.0.0]: method signature will change to: 'Worksheet.update(value = [[]], range_name=)' arguments 'range_name' and 'values' will swap, values will be mandatory of type: 'list(list(...))'
  warnings.warn(

{'spreadsheetId': '1CYqiaQLGQDk9GQmUCoSsv_bVJtMerBEKqm768BLjcZo',
 'updatedRange': "'测试表格'!A2:J15",
 'updatedRows': 14,
 'updatedColumns': 10,
 'updatedCells': 140}

In [ ]:
# 将result插入到工作表中
sheet.append_rows(result.values.tolist())

In [3]:
from datetime import datetime
import os
import re
for filename in os.listdir(r'\\DESKTOP-OABVORH\Data\Code2023-9非数据库版\通用数据\会员输赢报表\原始数据'):
    print(datetime.now().strftime('%H:%M:%S'),filename)
    date=re.search(r'\d+', filename).group(0)# 日期从文件名称获取,日期格式，列 第几周
    print(date)

15:39:00 20230807
20230807
15:39:00 20230808
20230808
15:39:00 20230809
20230809
15:39:00 20230821
20230821
15:39:00 20230822
20230822
15:39:00 20230823
20230823
15:39:00 20230824
20230824
15:39:00 20230827
20230827
15:39:00 20230828
20230828
15:39:00 20230829
20230829
15:39:00 20230830
20230830
15:39:00 20230831
20230831
15:39:00 20230901
20230901
15:39:00 20230902
20230902
15:39:00 20230903
20230903
15:39:00 20230904
20230904
15:39:00 20230905
20230905
15:39:00 20230906
20230906
15:39:00 20230907
20230907
15:39:00 20230908
20230908
15:39:00 20230909
20230909
15:39:00 20230910
20230910
15:39:00 20230911
20230911
15:39:00 20230912
20230912
15:39:00 20230913
20230913
15:39:00 20230914
20230914
15:39:00 20230915
20230915
15:39:00 20230916
20230916
15:39:00 20230917
20230917
15:39:00 20230918
20230918
15:39:00 20230919
20230919
15:39:00 20230920
20230920
15:39:00 20230921
20230921
15:39:00 20230922
20230922
15:39:00 20230923
20230923
15:39:00 20230924
20230924
15:39:00 20230925
20230925
15:39:00 20230926
20230926
15:39:00 20230927
20230927
15:39:00 20230928
20230928
15:39:00 20230929
20230929
15:39:00 20230930
20230930
15:39:00 20231001
20231001
15:39:00 20231002
20231002
15:39:00 20231003
20231003
15:39:00 20231004
20231004
15:39:00 20231005
20231005
15:39:00 20231010
20231010

In [ ]:
user.loc['199-9-92']=user.sum(numeric_only=True)
user.tail()

In [43]:
from langdetect import detect

text = "Hello, how are you?"

language = detect(text)

print(language)

en

In [18]:
huiyuan_daili = huiyuan_all.merge(daili,on='上级代理',how='left')
huiyuan_daili.shape
huiyuan_daili.head(3)

(1388165, 5)

          会员账号    上级代理      小组 二级部门 一级部门
0  374674748ty  bmw666  bmw666  宝马会  宝马会
1   375955106a  bmw666  bmw666  宝马会  宝马会
2   375955106r  bmw666  bmw666  宝马会  宝马会

In [24]:
df[~df.index.duplica]

                    小组        二级部门    一级部门
上级代理
vnam05          ffvn66  飞哥SOCO越南直播  雨燕直播-越
fq2022       btydl0032          酷币      酷币
dzsh2022     btydl0032          酷币      酷币
vanxx2022    btydl0032          酷币      酷币
van2022      btydl0032          酷币      酷币
wudivins168  btydl0032          酷币      酷币
vnag66          vnag66      飞哥-越南线  雨燕直播-越
btydl0148    btydl0032          酷币      酷币
btydl0147    btydl0032          酷币      酷币
btymy007     btydl0032          酷币      酷币
yn0001          gt6677      GT-越南线   GT-骨头
btydl0139    btydl0032          酷币      酷币
btydl0136    btydl0032          酷币      酷币
yjx666999    btydl0322        山猫直播    山猫直播
btydl0146    btydl0032          酷币      酷币
btydl9990    btydl0032          酷币      酷币
tian888      btydl0322        山猫直播    山猫直播
btydl0139    btydl0032          酷币      酷币
btydl0136    btydl0032          酷币      酷币
yjx666999    btydl0322        山猫直播    山猫直播

In [28]:
member = pd.read_excel(r'C:\Users\User\Desktop\文件\定时任务\会员列表更新\会员总表2022.xlsx')
member.shape
member.head(3)

(931342, 6)

         会员账号      代理           电话  vip等级                 注册时间          注册地
0      ptt123  bmw666  15823806956      0  2022/02/19 23:28:47    中国|辽宁|沈阳|
1  pty2653976  bmw666  13087451059      0  2022/02/19 23:28:47      中国|重庆||
2  ptz5201312  bmw666  18875558368      0  2022/02/19 23:28:47  中国|山东|青岛|市南

In [33]:
from datetime import datetime, timedelta

# 获取当前时间
now = datetime.now()
# 获取昨日1点的时间
yesterday_1am = datetime(now.year, now.month, now.day-1, 8)
# 将时间转换为时间戳
yes_7am = yesterday_1am.timestamp()
yes_7am

1697587200.0

In [13]:
import datetime
import time
import pandas as pd
import requests
import json
import pandas as pd
import numpy as np
from jsonpath import jsonpath
import telebot
import hmac, base64, struct, hashlib
import platform


# google验证码函数
submit_url = 'http://fundmng.bsportsadmin.com/api/manage/user/admin/login/submit'
header0 = {
    'Device_id':'1.0',
    'Os_type':'0',
    'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36',
}
def get_google_code(secret):
    key = base64.b32decode(secret, True)
    msg = struct.pack(">Q", int(time.time()) // 30)
    google_code = hmac.new(key, msg, hashlib.sha1).digest()
    # 很多网上的代码不可用，就在于这儿，没有chr字符串
    o = ord(chr(google_code[19])) & 15
    # google_code = (struct.unpack(">I", google_code[o:o + 4])[0] & 0x7fffffff) % 1000000
    google_code = (struct.unpack(">I", google_code[o:o + 4])[0] & 0x7fffffff) % 1000000
    return '%06d' % google_code

# 生成验证码
print('生成google验证码。。。')
google_code = get_google_code('64ehnxj6yily5bhv23kgb62ozuh6yuu2')
data0 = {
    'username': 'Marquis',
    'password': 'qwer123456',
    'code': google_code
}
# 获取token
print('获取token中。。。')
session0 = requests.Session()
response0  =session0.post(url=submit_url,data=data0,headers=header0)
response0.encoding = 'utf-8'
obj0 = json.loads(response0.text)
token0 = obj0['data']['token']

# 发送请求
print('开始发送请求....')
url = 'http://fundmng.bsportsadmin.com/api/manage/fund/recharge/record/list'
header = {
    'Device_id': '1.0',
    'Os_type': '0',
    'Sign': '525f286b21988b7c6a79f623f62f9695',
    'Timestamp': '1691886184000',
    'Token': token0,
    'Uid': '690',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36',
    'Version': '1.0'
}
session  = requests.Session()
data_ori = {
    'dateType':'1',
    'startTime':int(time.time()-(180*60))*1000,
    'endTime':int(time.time())*1000,
    'userType':'-1',
    'orderStatus':'0,1,2,3,4,5,6,7,8,9',
    'agentType':'-1',
    'page':1,
    'size':500,
    'paymentIdList':'1,2,3,4,5,6,7,8,9,10,11,24,25,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,2000,2001,2002,2003,2004,2005,2006,3000,3001,4000,4001,4002,4003,4004,8000,8001,8002,10000,10001',
    'coinCode':'CNY'
}
response_ori = session.post(url=url,headers=header,data=data_ori)
pages = json.loads(response_ori.text)['data']['pages']
print(f'共{pages}页。。')

dic0 = {'充值日期':"createDate",'充值单号':"orderId",'用户层级':"userLevel",'账户名':"username",'姓名':"reallyName",'VIP等级':"vipLevel",'充值金额':"amount",'到账金额':"payAmount"}
dic = {'充值日期':[],'充值单号':[],'用户层级':[],'账户名':[],'姓名':[],'VIP等级':[],'充值金额':[],'到账金额':[]}
ori_dic={}
for page in range(1,pages+1):
    data = {
        'dateType':'1',
        'startTime':int(time.time()-(180*60))*1000,
        'endTime':int(time.time())*1000,
        'userType':'-1',
        'orderStatus':'0,1,2,3,4,5,6,7,8,9',
        'agentType':'-1',
        'page':page,
        'size':500,
        'paymentIdList':'1,2,3,4,5,6,7,8,9,10,11,24,25,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,2000,2001,2002,2003,2004,2005,2006,3000,3001,4000,4001,4002,4003,4004,8000,8001,8002,10000,10001',
        'coinCode':'CNY'
    }

    response = session.post(url=url,headers=header,data=data)
    response.encoding = 'utf8'

    # 提取数据

    obj0 = json.loads(response.text)
    for i in obj0['data']['list']:
        # if (i["userLevel"] == '多次拉单不付款层级' and i["payAmount"] ==0 ):
        if (i["userLevel"] == '多次拉单不付款层级' and i["payAmount"] ==0 and i["vipLevel"] > -1):
            for k in dic:
                dic[k].append(i[dic0[k]])
# 生成结果数据
df = pd.DataFrame(dic)
df.insert(1,'时间',df['充值日期'].map(lambda x:time.strftime("%H:%M")))
df['充值日期']= df['充值日期'].map(lambda x:time.strftime("%Y-%m-%d"))

result = df.groupby('账户名').agg({'账户名':len,'充值金额':[np.max,np.mean],'VIP等级':np.mean})
result.reset_index(inplace=True)
result = pd.DataFrame({'账户名':result.iloc[:,0],'数量':result.iloc[:,1],'最大金额':result.iloc[:,2],'平均金额':result.iloc[:,3],'VIP等级':result.iloc[:,4]})

result.set_index('账户名',inplace=True)
result = result.loc[result['数量']>9,:]
df.set_index('账户名',inplace=True)
print(result)
ori_dic={}
for name in result.index:
    ori_dic[name]=int(time.time())

#加载会员代理线列表
user1 = pd.read_csv(r'\\DESKTOP-OABVORH\Data\Code2023-10数据库版\输出数据\每日更新\会员流失统计\会员流失统计v0.csv')
user2 = pd.read_csv(r'\\DESKTOP-OABVORH\Data\Code2023-10数据库版\输出数据\每日更新\会员流失统计\会员流失统计v1以上.csv')
huiyuan_all = user1.append(user2)
huiyuan_all = huiyuan_all.iloc[:,:2]
daili = pd.read_csv(r'\\DESKTOP-OABVORH\Data\Code2023-10数据库版\输出数据\每日更新\代理列表\代理列表.csv')
print('零点会员列表：',huiyuan_all.shape)
huiyuan_all.head()

生成google验证码。。。
获取token中。。。
开始发送请求....
共5页。。
               数量   最大金额   平均金额  VIP等级
账户名
yaoyouquan188  10  500.0  200.0    3.0

C:\Users\User\AppData\Local\Temp\ipykernel_31896\3204436449.py:123: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  user1 = pd.read_csv(r'\\DESKTOP-OABVORH\Data\Code2023-10数据库版\输出数据\每日更新\会员流失统计\会员流失统计v0.csv')

零点会员列表： (1388165, 2)

C:\Users\User\AppData\Local\Temp\ipykernel_31896\3204436449.py:125: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  huiyuan_all = user1.append(user2)

          会员账号    上级代理
0  374674748ty  bmw666
1   375955106a  bmw666
2   375955106r  bmw666
3    37612207w  bmw666
4   379542095a  bmw666

In [10]:
import pandas as pd
user1 = pd.read_csv(r'\\DESKTOP-OABVORH\Data\Code2023-10数据库版\输出数据\每日更新\会员流失统计\会员流失统计v0.csv')
user2 = pd.read_csv(r'\\DESKTOP-OABVORH\Data\Code2023-10数据库版\输出数据\每日更新\会员流失统计\会员流失统计v1以上.csv')
user =pd.concat([user1,user2])
user.head()

C:\Users\User\AppData\Local\Temp\ipykernel_31896\3108728834.py:2: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  user1 = pd.read_csv(r'\\DESKTOP-OABVORH\Data\Code2023-10数据库版\输出数据\每日更新\会员流失统计\会员流失统计v0.csv')

,会员账号,上级代理,状态,用户层级,VIP等级,首存时间,注册时间,最后登录时间,最后存款时间,会员备注,未登录天数,未下注天数,未充值天数
0,374674748ty,bmw666,正常,休眠层级,VIP0,0,2022-02-19 22:55:11,1970-01-01 08:00:00,0,NaN,19648,606,606
1,375955106a,bmw666,正常,休眠层级,VIP0,0,2022-02-19 22:55:11,1970-01-01 08:00:00,0,NaN,19648,606,606
2,375955106r,bmw666,正常,休眠层级,VIP0,0,2022-02-19 22:55:11,1970-01-01 08:00:00,0,NaN,19648,606,606
3,37612207w,bmw666,正常,休眠层级,VIP0,0,2022-02-19 22:55:11,1970-01-01 08:00:00,0,NaN,19648,606,606
4,379542095a,bmw666,正常,休眠层级,VIP0,0,2022-02-19 22:55:11,1970-01-01 08:00:00,0,NaN,19648,606,606

In [11]:
user.loc[user['会员账号']=='zunfa110',]

Empty DataFrame
Columns: [会员账号, 上级代理, 状态, 用户层级, VIP等级, 首存时间, 注册时间, 最后登录时间, 最后存款时间, 会员备注, 未登录天数, 未下注天数, 未充值天数]
Index: []

In [9]:
result

NameError: name 'result' is not defined

In [61]:
result3=result2.copy()
result3['最大金额']=result3['最大金额'].astype(int)
result3['平均金额']=result3['平均金额'].astype(int)
result3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 031214zcy to zqj851113
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   数量      9 non-null      int64
 1   最大金额    9 non-null      int32
 2   平均金额    9 non-null      int32
 3   VIP等级   9 non-null      float64
 4   上级代理    7 non-null      object
 5   小组      7 non-null      object
 6   二级部门    7 non-null      object
 7   一级部门    7 non-null      object
dtypes: float64(1), int32(2), int64(1), object(4)
memory usage: 876.0+ bytes

In [62]:
result3.head()

               数量  最大金额  平均金额  VIP等级        上级代理          小组    二级部门    一级部门
031214zcy       4  1800  1238    4.0  btyseo7003  btyseo7003  Martin   鲲鹏seo
18840720565xu   7   200   114    0.0  bs9Robert1      ffmk88  飞哥雨燕直播    雨燕直播
61863068mlxz    4   500   500    0.0      zzzb03     zzzb888  飞哥团队直播    雨燕直播
hai663355       5   500   380    0.0      zzzb02     zzzb888  飞哥团队直播    雨燕直播
hu777777        4  3000  2750    0.0   btydl0073   btydl0073      皮特  小Peter

In [47]:
df.groupby('账户名').agg({'账户名':len,'充值金额':[np.max,np.mean],'VIP等级':})

,充值日期,时间,充值单号,用户层级,姓名,VIP等级,充值金额,到账金额
账户名,,,,,,,,
zj1878506,2023-10-18,10:07,CZ20231018095370DJK2,多次拉单不付款层级,郑*,2,200.0,0
18840720565xu,2023-10-18,10:07,CZ20231018094070AAY9,多次拉单不付款层级,,0,100.0,0
18840720565xu,2023-10-18,10:07,CZ20231018093970A4F4,多次拉单不付款层级,,0,100.0,0
yss8087,2023-10-18,10:07,CZ202310180937709O0H,多次拉单不付款层级,杨*双,0,1000.0,0
liqi199203,2023-10-18,10:07,CZ2023101809357095OF,多次拉单不付款层级,李*,0,200.0,0

In [7]:
import datetime
import time
import pandas as pd
import requests
import json
import pandas as pd
import numpy as np
from jsonpath import jsonpath
import telebot
import hmac, base64, struct, hashlib
import platform
# 采集今日注册会员
def get_google_code(secret):
    key = base64.b32decode(secret, True)
    msg = struct.pack(">Q", int(time.time()) // 30)
    google_code = hmac.new(key, msg, hashlib.sha1).digest()
    # 很多网上的代码不可用，就在于这儿，没有chr字符串
    o = ord(chr(google_code[19])) & 15
    # google_code = (struct.unpack(">I", google_code[o:o + 4])[0] & 0x7fffffff) % 1000000
    google_code = (struct.unpack(">I", google_code[o:o + 4])[0] & 0x7fffffff) % 1000000
    return '%06d' % google_code
submit_url = 'http://fundmng.bsportsadmin.com/api/manage/user/admin/login/submit'
header0 = {
    'Device_id':'1.0',
    'Os_type':'0',
    'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36',
}
url_huiyuan = 'http://fundmng.bsportsadmin.com/api/manage/user/maintain/user/list'
data_huiyuan = {
    'username': 'Marquis',
    'password': 'qwer123456',
    'code': get_google_code('64ehnxj6yily5bhv23kgb62ozuh6yuu2')
}
import requests,json
session0 = requests.session()
response  =session0.post(url=submit_url,data=data_huiyuan,headers=header0)
response.encoding = 'utf-8'
obj = json.loads(response.text)
token = obj['data']['token']
token
header_huiyuan = {
    'Device_id': '1.0',
    'Os_type': '0',
    'Sign': 'd86257d4abd6fa45c67bd4ee02f71ba2',
    'Timestamp': '1697599199000',
    'Token': token,
    'Uid': '690',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36',
    'Version': '1.0'
}

import datetime,time
import pandas as pd
today_1 = datetime.datetime.now().replace(hour=1, minute=0, second=0, microsecond=0)
dic_huiyuan={'会员账号':[],'上级代理':[]}
for page in range(15):
    data_huiyuan ={
        'page':page,
        'size':200,
        'userVip':'0,1,2,3,4,5,6,7,8,9,10,11',
        'status':'0,1,2,4',
        'sortType':'3',
        'sortStr':'descend',
        'searchType':'1',
        'channelId':'34',
        'registeredStartDate':today_1.timestamp()*1000,
        'registeredEndDate':int(time.time())*1000
    }
    response = requests.post(url=url_huiyuan,data=data_huiyuan,headers=header_huiyuan)
    response.encoding = 'utf8'
    obj = json.loads(response.text)
    for i in obj['data']['list']:
        dic_huiyuan['会员账号'].append(i['username'])
        dic_huiyuan['上级代理'].append(i['parentName'])

today_huiyuan =pd.DataFrame(dic_huiyuan)

TypeError: 'NoneType' object is not subscriptable

NameError: name 'today_huiyuan' is not defined

In [1]:
import numpy as np
import pandas as pd
daili = pd.read_csv(r'\\DESKTOP-OABVORH\Data\Code2023-10数据库版\输出数据\每日更新\代理列表\代理列表.csv')
daili.head()

        上级代理         小组        二级部门    一级部门
0     vnam05     ffvn66  飞哥SOCO越南直播  雨燕直播-越
1     fq2022  btydl0032          酷币      酷币
2   dzsh2022  btydl0032          酷币      酷币
3  vanxx2022  btydl0032          酷币      酷币
4    van2022  btydl0032          酷币      酷币

In [12]:
import datetime
import time
import pandas as pd
import requests
import json
import pandas as pd
import numpy as np
from jsonpath import jsonpath
import telebot
import hmac, base64, struct, hashlib
import platform


# google验证码函数
submit_url = 'http://fundmng.bsportsadmin.com/api/manage/user/admin/login/submit'
header0 = {
    'Device_id':'1.0',
    'Os_type':'0',
    'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36',
}
def get_google_code(secret):
    key = base64.b32decode(secret, True)
    msg = struct.pack(">Q", int(time.time()) // 30)
    google_code = hmac.new(key, msg, hashlib.sha1).digest()
    # 很多网上的代码不可用，就在于这儿，没有chr字符串
    o = ord(chr(google_code[19])) & 15
    # google_code = (struct.unpack(">I", google_code[o:o + 4])[0] & 0x7fffffff) % 1000000
    google_code = (struct.unpack(">I", google_code[o:o + 4])[0] & 0x7fffffff) % 1000000
    return '%06d' % google_code

# 生成验证码
print('生成google验证码。。。')
google_code = get_google_code('64ehnxj6yily5bhv23kgb62ozuh6yuu2')
data0 = {
    'username': 'Marquis',
    'password': 'qwer123456',
    'code': google_code
}
# 获取token
print('获取token中。。。')
session0 = requests.Session()
response0  =session0.post(url=submit_url,data=data0,headers=header0)
response0.encoding = 'utf-8'
obj0 = json.loads(response0.text)
token0 = obj0['data']['token']

# 发送请求
print('开始发送请求....')
url = 'http://fundmng.bsportsadmin.com/api/manage/fund/recharge/record/list'
header = {
    'Device_id': '1.0',
    'Os_type': '0',
    'Sign': '525f286b21988b7c6a79f623f62f9695',
    'Timestamp': '1691886184000',
    'Token': token0,
    'Uid': '690',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36',
    'Version': '1.0'
}
session  = requests.Session()
data_ori = {
    'dateType':'1',
    'startTime':int(time.time()-(2*60*60))*1000,
    'endTime':int(time.time())*1000,
    'userType':'-1',
    'orderStatus':'0,1,2,3,4,5,6,7,8,9',
    'agentType':'-1',
    'page':1,
    'size':500,
    'paymentIdList':'1,2,3,4,5,6,7,8,9,10,11,24,25,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,2000,2001,2002,2003,2004,2005,2006,3000,3001,4000,4001,4002,4003,4004,8000,8001,8002,10000,10001',
    'coinCode':'CNY'
}
response_ori = session.post(url=url,headers=header,data=data_ori)
pages = json.loads(response_ori.text)['data']['pages']
print(f'共{pages}页。。')

dic0 = {'充值日期':"createDate",'充值单号':"orderId",'用户层级':"userLevel",'账户名':"username",'姓名':"reallyName",'VIP等级':"vipLevel",'充值金额':"amount",'到账金额':"payAmount"}
dic = {'充值日期':[],'充值单号':[],'用户层级':[],'账户名':[],'姓名':[],'VIP等级':[],'充值金额':[],'到账金额':[]}
ori_dic={}
for page in range(1,pages+1):
    data = {
        'dateType':'1',
        'startTime':int(time.time()-(2*60*60))*1000,
        'endTime':int(time.time())*1000,
        'userType':'-1',
        'orderStatus':'0,1,2,3,4,5,6,7,8,9',
        'agentType':'-1',
        'page':page,
        'size':500,
        'paymentIdList':'1,2,3,4,5,6,7,8,9,10,11,24,25,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,2000,2001,2002,2003,2004,2005,2006,3000,3001,4000,4001,4002,4003,4004,8000,8001,8002,10000,10001',
        'coinCode':'CNY'
    }

    response = session.post(url=url,headers=header,data=data)
    response.encoding = 'utf8'

    # 提取数据

    obj0 = json.loads(response.text)
    for i in obj0['data']['list']:
        # if (i["userLevel"] == '多次拉单不付款层级' and i["payAmount"] ==0 ):
        if (i["userLevel"] == '多次拉单不付款层级' and i["payAmount"] ==0 and i["vipLevel"] > -1):
            for k in dic:
                dic[k].append(i[dic0[k]])
# 生成结果数据
df = pd.DataFrame(dic)
df.insert(1,'时间',df['充值日期'].map(lambda x:time.strftime("%H:%M")))
df['充值日期']= df['充值日期'].map(lambda x:time.strftime("%Y-%m-%d"))

result = df.groupby('账户名').agg({'账户名':len,'充值金额':[np.max,np.mean],'VIP等级':np.mean})
result.reset_index(inplace=True)
result = pd.DataFrame({'账户名':result.iloc[:,0],'数量':result.iloc[:,1],'最大金额':result.iloc[:,2],'平均金额':result.iloc[:,3],'VIP等级':result.iloc[:,4]})

result.set_index('账户名',inplace=True)
result = result.loc[result['数量']>1,:]
df.set_index('账户名',inplace=True)
print(result)
for name in result.index:
    ori_dic[name]=int(time.time())

result

生成google验证码。。。
获取token中。。。
开始发送请求....
共4页。。
               数量    最大金额         平均金额  VIP等级
账户名
031214zcy       4  1800.0  1238.750000    4.0
18840720565xu   7   200.0   114.285714    0.0
61863068mlxz    4   500.0   500.000000    0.0
hai663355       5   500.0   380.000000    0.0
hu777777        4  3000.0  2750.000000    0.0
huixue1992      4  1000.0   750.000000    2.0
liqi199203      3   500.0   333.333333    0.0
ygq1300798      5   100.0   100.000000    0.0
zqj851113       5   500.0   382.000000    0.0

               数量    最大金额         平均金额  VIP等级
账户名
031214zcy       4  1800.0  1238.750000    4.0
18840720565xu   7   200.0   114.285714    0.0
61863068mlxz    4   500.0   500.000000    0.0
hai663355       5   500.0   380.000000    0.0
hu777777        4  3000.0  2750.000000    0.0
huixue1992      4  1000.0   750.000000    2.0
liqi199203      3   500.0   333.333333    0.0
ygq1300798      5   100.0   100.000000    0.0
zqj851113       5   500.0   382.000000    0.0

(1388165, 2)

In [27]:
now = datetime.datetime.now()
midnight = now.replace(hour=1, minute=0, second=0, microsecond=0)
timestamp = midnight.timestamp()
timestamp

1697562000.0

In [24]:
result3 = result2.copy()
result3.fillna('暂缺')

,数量,最大金额,平均金额,VIP等级,上级代理,小组,二级部门,一级部门
031214zcy,4,1800.0,1238.750000,4.0,btyseo7003,btyseo7003,Martin,鲲鹏seo
18840720565xu,7,200.0,114.285714,0.0,bs9Robert1,ffmk88,飞哥雨燕直播,雨燕直播
61863068mlxz,4,500.0,500.000000,0.0,zzzb03,zzzb888,飞哥团队直播,雨燕直播
hai663355,5,500.0,380.000000,0.0,zzzb02,zzzb888,飞哥团队直播,雨燕直播
hu777777,4,3000.0,2750.000000,0.0,btydl0073,btydl0073,皮特,小Peter
huixue1992,4,1000.0,750.000000,2.0,zsdl176,zhaoshang,zhaoshang,外代
liqi199203,3,500.0,333.333333,0.0,btyseo6007,btyseo6007,Hugo,鲲鹏seo
ygq1300798,5,100.0,100.000000,0.0,暂缺,暂缺,暂缺,暂缺
zqj851113,5,500.0,382.000000,0.0,暂缺,暂缺,暂缺,暂缺

In [14]:
user4 = user3.set_index('会员账号')
user4.shape

(1388172, 4)

In [26]:
df_daili = df.merge(df3,left_on='会员',right_on='会员账号')
df_daili.shape

(57, 14)

In [29]:
result = df_daili[['会员账号','上级代理','VIP等级','最后登录时间','未登录天数','未下注天数','未充值天数']]
result.head()

               会员账号    上级代理 VIP等级               最后登录时间  未登录天数  未下注天数  未充值天数
0       butterfly66  gt9999  VIP0  2023-10-02 00:56:46     13     13     13
1           qz71233  gt9999  VIP0  2023-10-04 18:47:35     11     12     12
2           hui7076  gt9999  VIP0  2023-10-04 16:49:10     11     11     11
3  wangjie123456789  gt9999  VIP0  2023-10-14 18:20:21      1      2      2
4         Dvtpa2cvp  gt4444  VIP0  2023-10-14 09:40:08      1      5      5

In [27]:
df_daili.head()

,会员,会员账号,上级代理,状态,用户层级,VIP等级,首存时间,注册时间,最后登录时间,最后存款时间,会员备注,未登录天数,未下注天数,未充值天数
0,butterfly66,butterfly66,gt9999,正常,新注册默认层级,VIP0,0,2023-10-02 00:50:06,2023-10-02 00:56:46,0,NaN,13,13,13
1,qz71233,qz71233,gt9999,正常,新注册默认层级,VIP0,0,2023-10-03 23:18:53,2023-10-04 18:47:35,0,NaN,11,12,12
2,hui7076,hui7076,gt9999,正常,新注册默认层级,VIP0,0,2023-10-04 16:47:43,2023-10-04 16:49:10,0,NaN,11,11,11
3,wangjie123456789,wangjie123456789,gt9999,正常,多次拉单不付款层级,VIP0,0,2023-10-13 09:45:15,2023-10-14 18:20:21,0,NaN,1,2,2
4,Dvtpa2cvp,Dvtpa2cvp,gt4444,正常,新注册默认层级,VIP0,0,2023-10-10 15:02:22,2023-10-14 09:40:08,0,NaN,1,5,5

In [19]:
df1 = pd.read_csv(r'\\DESKTOP-OABVORH\Data\Code2023-10数据库版\输出数据\每日更新\会员流失统计\会员流失统计v0.csv')
df2 = pd.read_csv(r'\\DESKTOP-OABVORH\Data\Code2023-10数据库版\输出数据\每日更新\会员流失统计\会员流失统计v1以上.csv')
df3 =  df1.append(df2)
df3.shape
df3.head()

C:\Users\User\AppData\Local\Temp\ipykernel_27936\365151264.py:1: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(r'\\DESKTOP-OABVORH\Data\Code2023-10数据库版\输出数据\每日更新\会员流失统计\会员流失统计v0.csv')
C:\Users\User\AppData\Local\Temp\ipykernel_27936\365151264.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 =  df1.append(df2)

(1382349, 13)

,会员账号,上级代理,状态,用户层级,VIP等级,首存时间,注册时间,最后登录时间,最后存款时间,会员备注,未登录天数,未下注天数,未充值天数
0,374674748ty,bmw666,正常,休眠层级,VIP0,0,2022-02-19 22:55:11,1970-01-01 08:00:00,0,NaN,19645,603,603
1,375955106a,bmw666,正常,休眠层级,VIP0,0,2022-02-19 22:55:11,1970-01-01 08:00:00,0,NaN,19645,603,603
2,375955106r,bmw666,正常,休眠层级,VIP0,0,2022-02-19 22:55:11,1970-01-01 08:00:00,0,NaN,19645,603,603
3,37612207w,bmw666,正常,休眠层级,VIP0,0,2022-02-19 22:55:11,1970-01-01 08:00:00,0,NaN,19645,603,603
4,379542095a,bmw666,正常,休眠层级,VIP0,0,2022-02-19 22:55:11,1970-01-01 08:00:00,0,NaN,19645,603,603

In [25]:
df.rename(columns={'index':'会员'},inplace=True)
df.head()

                 会员
0       butterfly66
1           qz71233
2           hui7076
3  wangjie123456789
4         Dvtpa2cvp

In [17]:
df.reset_index(inplace=True)
df.head()

              index
0       butterfly66
1           qz71233
2           hui7076
3  wangjie123456789
4         Dvtpa2cvp

In [10]:
import pandas as pd
df = pd.read_fwf(r'C:\Users\User\Desktop\绑卡未冲.txt')
df = df.T

In [7]:
os.getcwd()

'C:\\Users\\User\\IdeaProjects\\project1\\日报'

In [6]:
sys.path.append(os.path.dirname(os.path.abspath(os.getcwd())))

In [5]:
import sys
os.path.dirname(os.path.abspath(os.getcwd()))

'C:\\Users\\User\\IdeaProjects\\project1'

In [3]:
os.path.abspath(os.getcwd())

'C:\\Users\\User\\IdeaProjects\\project1\\日报'

In [2]:
os.getcwd()

'C:\\Users\\User\\IdeaProjects\\project1\\日报'

In [1]:
import os
os.__file__

'C:\\ProgramData\\anaconda3\\envs\\schedule\\Lib\\os.py'

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
import pandas as pd
df = pd.read_clipboard()
df.shape
df.head()

(46, 1)

               会员账号
0          qwer9524
1         gyh188881
2           hhafc06
3  liuxiaoyu1234567
4         A20094508

In [5]:
tel = pd.read_clipboard()
tel.shape
tel.head()

(453069, 3)

             会员账号                    姓名          手机号
0  lephuong841983  le nguyen lan phuong    938263243
1      Ttdglobal4        Tran Thanh Duc    977772192
2         TBB1216                   汤俊华  18701999209
3          Akz123        HOANG VAN TUNG   7042125156
4          fc2024                   孙显甲  18975096499

In [10]:
df2 = df.merge(tel,on='会员账号',how='left')
df2.head()

               会员账号   姓名          手机号
0          qwer9524  曹世锋  18566872814
1         gyh188881  NaN  18800683388
2           hhafc06  黄焕安  18053348716
3  liuxiaoyu1234567  NaN  13500433033
4         A20094508  NaN  18874599658

In [7]:
data1 = pd.read_csv(r'\\DESKTOP-OABVORH\Data\Code2023-10数据库版\输出数据\每日更新\会员流失统计\会员流失统计v0.csv')
data2 = pd.read_csv(r'\\DESKTOP-OABVORH\Data\Code2023-10数据库版\输出数据\每日更新\会员流失统计\会员流失统计v1以上.csv')
data = data1.append(data2)
data.shape
data.head()

C:\Users\User\AppData\Local\Temp\ipykernel_35708\2782318878.py:1: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv(r'\\DESKTOP-OABVORH\Data\Code2023-10数据库版\输出数据\每日更新\会员流失统计\会员流失统计v0.csv')
C:\Users\User\AppData\Local\Temp\ipykernel_35708\2782318878.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data1.append(data2)

(1384428, 13)

,会员账号,上级代理,状态,用户层级,VIP等级,首存时间,注册时间,最后登录时间,最后存款时间,会员备注,未登录天数,未下注天数,未充值天数
0,1234aaa,bmw666,正常,休眠层级,VIP0,0,2022-02-19 22:54:25,1970-01-01 08:00:00,0,NaN,19646,604,604
1,1234aabb,bmw666,正常,休眠层级,VIP0,0,2022-02-19 22:54:25,1970-01-01 08:00:00,0,NaN,19646,604,604
2,1234abcd,bmw666,正常,休眠层级,VIP0,0,2022-02-19 22:54:25,1970-01-01 08:00:00,0,NaN,19646,604,604
3,1234aeg,bmw666,正常,休眠层级,VIP0,0,2022-02-19 22:54:25,1970-01-01 08:00:00,0,NaN,19646,604,604
4,1234chen,bmw666,正常,休眠层级,VIP0,0,2022-02-19 22:54:25,1970-01-01 08:00:00,0,NaN,19646,604,604

In [9]:
df2.shape

(45, 3)

In [11]:
df3 = df2.merge(data,on='会员账号',how='left')
df3.shape
df3.head()

(46, 15)

,会员账号,姓名,手机号,上级代理,状态,用户层级,VIP等级,首存时间,注册时间,最后登录时间,最后存款时间,会员备注,未登录天数,未下注天数,未充值天数
0,qwer9524,曹世锋,18566872814,gt0001,正常,新注册默认层级,VIP1,2023-10-01 08:08:17,2023-10-01 00:37:30,2023-10-14 03:55:36,2023-10-01 08:08:17,NaN,2,15,15
1,gyh188881,NaN,18800683388,gt0001,正常,新注册默认层级,VIP0,0,2023-10-01 04:34:10,2023-10-01 04:43:43,0,NaN,15,15,15
2,hhafc06,黄焕安,18053348716,gt0001,正常,新注册默认层级,VIP0,0,2023-10-01 14:07:28,2023-10-01 15:32:31,0,NaN,15,15,15
3,liuxiaoyu1234567,NaN,13500433033,gt0001,正常,新注册默认层级,VIP0,0,2023-10-01 18:52:15,2023-10-01 19:02:40,0,NaN,15,15,15
4,A20094508,NaN,18874599658,gt0001,正常,新注册默认层级,VIP0,0,2023-10-01 19:38:55,2023-10-02 11:12:18,0,NaN,14,15,15

In [14]:
result = df3[['会员账号','手机号','上级代理','VIP等级','最后登录时间','未登录天数','未下注天数','未充值天数','注册时间']]
result.to_csv(r'C:\Users\User\Desktop\营销电话-20231016-.csv',index=False)

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"