In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [23]:
import pandas as pd
import numpy as np
import datetime

user = pd.read_csv(r'C:\Users\User\Desktop\SEO_0807\会员列表导出.csv',encoding='gbk')
firChargeUser = pd.read_csv(r'C:\Users\User\Desktop\SEO_0807\会员首存报表.csv',encoding='gbk')
data = pd.read_excel(r'C:\Users\User\Desktop\SEO_0807\data\今日数据.xlsx')
daili = pd.read_excel(r'C:\Users\User\Desktop\SEO_0807\SEO每日模板-每日更新.xlsx','代理总表')

shuju = pd.DataFrame({'人员':['Paddy', 'Tony', 'Max', 'Martin', 'Zed', 'Hugo', 'Aber', 'DK', 'Ben'],
                      '日期':(datetime.datetime.now()+datetime.timedelta(days=-3)).strftime('%Y/%m/%d'),
                      '发送IP':[i for i in range(9)],'接受IP':[i for i in range(9)]})
shuju.set_index('人员',inplace = True)
shuju.sort_index(inplace=True)
data['IP']=pd.to_numeric(data['IP'],errors='coerce').replace(np.nan,0)
grp=data.groupby('网站名(domain)').agg({'IP':sum})

shuju.loc['Paddy','发送IP']=grp.loc['paddy.com','IP']
shuju.loc['Paddy','接受IP']=grp.loc['paddy.bty','IP']
shuju.loc['Tony','发送IP']=grp.loc['tonyb.com','IP']/2
shuju.loc['Tony','接受IP']=grp.loc['tonyb.com','IP']
shuju.loc['Max','发送IP']=grp.loc['mulu.com','IP']
shuju.loc['Max','接受IP']=grp.loc['max.bty','IP']
shuju.loc['Martin','发送IP']=grp.loc['redquan.com','IP']
shuju.loc['Martin','接受IP']=grp.loc['martin.bty','IP']
shuju.loc['Zed','发送IP']=grp.loc['zed.com','IP']
shuju.loc['Zed','接受IP']=grp.loc['zed.bty','IP']
shuju.loc['Hugo','发送IP']=grp.loc['hugo.com','IP']
# shuju.loc['Hugo','接受IP']=grp.loc['hugo.bty','IP']
shuju.loc['Hugo','接受IP']=0

shuju.loc['Aber','发送IP']=grp.loc['aber.com','IP']/2
shuju.loc['Aber','接受IP']=grp.loc['aber.bty','IP']
shuju.loc['DK','发送IP']=grp.loc['dk.com','IP']/2
shuju.loc['DK','接受IP']=grp.loc['dk.bty','IP']
shuju.loc['Ben','发送IP']=grp.loc['ben.com','IP']/2
shuju.loc['Ben','接受IP']=grp.loc['ben.bty','IP']

shuju['日期'] = pd.to_datetime(shuju['日期'])

shuju.insert(1,'人员2',shuju.index)
shuju['人员2']=shuju['人员2'].str.lower()
shuju

C:\ProgramData\anaconda3\envs\telegram\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

               日期     人员2  发送IP  接受IP
人员
Aber   2023-08-07    aber  7325   562
Ben    2023-08-07     ben  2565   298
DK     2023-08-07      dk  1525  2160
Hugo   2023-08-07    hugo   103     0
Martin 2023-08-07  martin  3445  1072
Max    2023-08-07     max   273   225
Paddy  2023-08-07   paddy     0    51
Tony   2023-08-07    tony   568  1136
Zed    2023-08-07     zed  4853   329

In [27]:
shuju.reset_index(inplace=True)
shuju

       人员         日期     人员2  发送IP  接受IP
0    Aber 2023-08-07    aber  7325   562
1     Ben 2023-08-07     ben  2565   298
2      DK 2023-08-07      dk  1525  2160
3    Hugo 2023-08-07    hugo   103     0
4  Martin 2023-08-07  martin  3445  1072
5     Max 2023-08-07     max   273   225
6   Paddy 2023-08-07   paddy     0    51
7    Tony 2023-08-07    tony   568  1136
8     Zed 2023-08-07     zed  4853   329

In [20]:
merge_user = pd.merge(user,daili,how = 'left',left_on='代理',right_on='代理线')
grpSEO = merge_user.groupby('seo变化数据团队').agg({'seo变化数据团队':len})
grpSEO.rename(columns={'seo变化数据团队':'注册'},inplace=True)
grpSEO.reset_index(inplace=True)
grpSEO['人员2'] = grpSEO['seo变化数据团队'].str.lower()

In [25]:
grpSEO.set_index('seo变化数据团队',inplace=True)
grpSEO

            注册        人员2
seo变化数据团队
178直播        3      178直播
Admin邀请      2    admin邀请
Cyrus        2      cyrus
DK          52         dk
GT-B直播      16     gt-b直播
GT-越南线       2     gt-越南线
GT-骨头       63      gt-骨头
MM           1         mm
SEO掉线用户转线    8  seo掉线用户转线
SEO邀请       44      seo邀请
SOCO越南直播    96   soco越南直播
aber        49       aber
ben         17        ben
duobo        1      duobo
hugo        16       hugo
kk6699       2     kk6699
martin      81     martin
max          9        max
paddy        3      paddy
seo转线        4      seo转线
tony        15       tony
zed         22        zed
原电销使用        3      原电销使用
外代-越        13       外代-越
外部代理总线     179     外部代理总线
官网         114         官网
小Peter       3     小peter
小Peter越南线    1  小peter越南线
技术测试         2       技术测试
斌哥           1         斌哥
电销拉回专用       2     电销拉回专用
真实数据测试账号     1   真实数据测试账号
米乐转线         3       米乐转线
袋鼠           1         袋鼠
酷币           1         酷币
雨燕直播        32       雨燕直播
雨燕直播-越     346     雨燕直播-越
飞哥雨燕直播     117     飞哥雨燕直播
鲲鹏admin     13    鲲鹏admin

In [29]:
shuju = pd.merge(shuju,grpSEO,on='人员2')
shuju

       人员         日期     人员2  发送IP  接受IP  注册
0    Aber 2023-08-07    aber  7325   562  49
1     Ben 2023-08-07     ben  2565   298  17
2      DK 2023-08-07      dk  1525  2160  52
3    Hugo 2023-08-07    hugo   103     0  16
4  Martin 2023-08-07  martin  3445  1072  81
5     Max 2023-08-07     max   273   225   9
6   Paddy 2023-08-07   paddy     0    51   3
7    Tony 2023-08-07    tony   568  1136  15
8     Zed 2023-08-07     zed  4853   329  22

In [30]:
shuju['注册率'] = shuju['注册']/shuju['发送IP']*100
shuju

       人员         日期     人员2  发送IP  接受IP  注册        注册率
0    Aber 2023-08-07    aber  7325   562  49   0.668942
1     Ben 2023-08-07     ben  2565   298  17   0.662768
2      DK 2023-08-07      dk  1525  2160  52   3.409836
3    Hugo 2023-08-07    hugo   103     0  16  15.533981
4  Martin 2023-08-07  martin  3445  1072  81   2.351234
5     Max 2023-08-07     max   273   225   9   3.296703
6   Paddy 2023-08-07   paddy     0    51   3        inf
7    Tony 2023-08-07    tony   568  1136  15   2.640845
8     Zed 2023-08-07     zed  4853   329  22   0.453328

In [33]:
merge_charge = pd.merge(firChargeUser,daili,how='left',left_on='所属代理',right_on='代理线')
grpCHARGE = merge_charge.groupby('seo变化数据团队').agg({'seo变化数据团队':len})
grpCHARGE= grpCHARGE.rename(columns={'seo变化数据团队':'开户'})
grpCHARGE.reset_index(inplace=True)
grpCHARGE['seo变化数据团队']=grpCHARGE['seo变化数据团队'].str.lower()
grpCHARGE= grpCHARGE.rename(columns={'seo变化数据团队':'人员2'})
grpCHARGE

          人员2   开户
0     admin邀请    1
1       cyrus    1
2          dk    5
3      gt-b直播    5
4       gt-骨头   20
5   seo掉线用户转线   16
6       seo邀请    4
7    soco越南直播   46
8        aber   13
9         ben    6
10      duobo    1
11       hugo    5
12     martin   24
13      paddy    2
14       tony    3
15        zed    8
16      原电销使用    2
17       外代-越    3
18     外部代理总线   31
19         官网   18
20        宝马会    1
21     小peter    2
22       米乐转线    1
23         袋鼠    1
24         酷币    1
25       雨燕直播   12
26     雨燕直播-越  145
27     飞哥雨燕直播   55

In [34]:
shuju = pd.merge(shuju,grpCHARGE,how='left',on='人员2')
shuju

       人员         日期     人员2  发送IP  接受IP  注册        注册率    开户
0    Aber 2023-08-07    aber  7325   562  49   0.668942  13.0
1     Ben 2023-08-07     ben  2565   298  17   0.662768   6.0
2      DK 2023-08-07      dk  1525  2160  52   3.409836   5.0
3    Hugo 2023-08-07    hugo   103     0  16  15.533981   5.0
4  Martin 2023-08-07  martin  3445  1072  81   2.351234  24.0
5     Max 2023-08-07     max   273   225   9   3.296703   NaN
6   Paddy 2023-08-07   paddy     0    51   3        inf   2.0
7    Tony 2023-08-07    tony   568  1136  15   2.640845   3.0
8     Zed 2023-08-07     zed  4853   329  22   0.453328   8.0

In [35]:
shuju['转化率'] = shuju['开户']/shuju['注册']*100
shuju

       人员         日期     人员2  发送IP  接受IP  注册        注册率    开户        转化率
0    Aber 2023-08-07    aber  7325   562  49   0.668942  13.0  26.530612
1     Ben 2023-08-07     ben  2565   298  17   0.662768   6.0  35.294118
2      DK 2023-08-07      dk  1525  2160  52   3.409836   5.0   9.615385
3    Hugo 2023-08-07    hugo   103     0  16  15.533981   5.0  31.250000
4  Martin 2023-08-07  martin  3445  1072  81   2.351234  24.0  29.629630
5     Max 2023-08-07     max   273   225   9   3.296703   NaN        NaN
6   Paddy 2023-08-07   paddy     0    51   3        inf   2.0  66.666667
7    Tony 2023-08-07    tony   568  1136  15   2.640845   3.0  20.000000
8     Zed 2023-08-07     zed  4853   329  22   0.453328   8.0  36.363636

In [36]:
who

DataFrame	 InteractiveShell	 MultiIndex	 column	 daili	 data	 datetime	 firChargeUser	 grp
grpCHARGE	 grpSEO	 merge_charge	 merge_user	 np	 os	 pd	 pydev_jupyter_vars	 remove_imported_pydev_package
shuju	 sys	 user

In [39]:
grp3  = merge_charge[merge_charge['注册时间'].str[:9]==merge_charge['交易时间'].str[:9]].groupby('seo变化数据团队').agg({'seo变化数据团队':len})
grp3.rename(columns = {'seo变化数据团队':'当日注册并开户'},inplace=True)
grp3.reset_index(inplace=True)
grp3['seo变化数据团队'] =grp3['seo变化数据团队'].str.lower()
grp3.rename(columns = {'seo变化数据团队':'人员2'},inplace=True)
grp3

          人员2  当日注册并开户
0          dk        5
1      gt-b直播        2
2       gt-骨头       15
3   seo掉线用户转线        1
4       seo邀请        3
5    soco越南直播       21
6        aber        9
7         ben        3
8       duobo        1
9        hugo        2
10     martin       18
11      paddy        2
12       tony        3
13        zed        8
14      原电销使用        2
15       外代-越        3
16     外部代理总线       24
17         官网       17
18         袋鼠        1
19         酷币        1
20       雨燕直播        6
21     雨燕直播-越      119
22     飞哥雨燕直播       39

In [44]:
shuju.drop(['当日注册并开户_x','当日注册并开户_y'],axis=1,inplace=True)

In [42]:
shuju  = pd.merge(shuju,grp3,how='left',on='人员2')
# shuju['当日注册激活率'] = shuju['当日注册并开户']/shuju['注册']*100
shuju

,人员,日期,人员2,发送IP,接受IP,注册,注册率,开户,转化率,当日注册并开户_x,当日注册并开户_y,当日注册并开户
0,Aber,2023-08-07,aber,7325,562,49,0.668942,13.0,26.530612,9.0,9.0,9.0
1,Ben,2023-08-07,ben,2565,298,17,0.662768,6.0,35.294118,3.0,3.0,3.0
2,DK,2023-08-07,dk,1525,2160,52,3.409836,5.0,9.615385,5.0,5.0,5.0
3,Hugo,2023-08-07,hugo,103,0,16,15.533981,5.0,31.250000,2.0,2.0,2.0
4,Martin,2023-08-07,martin,3445,1072,81,2.351234,24.0,29.629630,18.0,18.0,18.0
5,Max,2023-08-07,max,273,225,9,3.296703,NaN,NaN,NaN,NaN,NaN
6,Paddy,2023-08-07,paddy,0,51,3,inf,2.0,66.666667,2.0,2.0,2.0
7,Tony,2023-08-07,tony,568,1136,15,2.640845,3.0,20.000000,3.0,3.0,3.0
8,Zed,2023-08-07,zed,4853,329,22,0.453328,8.0,36.363636,8.0,8.0,8.0

In [45]:
shuju['当日注册激活率'] = shuju['当日注册并开户']/shuju['注册']*100
shuju

,人员,日期,人员2,发送IP,接受IP,注册,注册率,开户,转化率,当日注册并开户,当日注册激活率
0,Aber,2023-08-07,aber,7325,562,49,0.668942,13.0,26.530612,9.0,18.367347
1,Ben,2023-08-07,ben,2565,298,17,0.662768,6.0,35.294118,3.0,17.647059
2,DK,2023-08-07,dk,1525,2160,52,3.409836,5.0,9.615385,5.0,9.615385
3,Hugo,2023-08-07,hugo,103,0,16,15.533981,5.0,31.250000,2.0,12.500000
4,Martin,2023-08-07,martin,3445,1072,81,2.351234,24.0,29.629630,18.0,22.222222
5,Max,2023-08-07,max,273,225,9,3.296703,NaN,NaN,NaN,NaN
6,Paddy,2023-08-07,paddy,0,51,3,inf,2.0,66.666667,2.0,66.666667
7,Tony,2023-08-07,tony,568,1136,15,2.640845,3.0,20.000000,3.0,20.000000
8,Zed,2023-08-07,zed,4853,329,22,0.453328,8.0,36.363636,8.0,36.363636

In [46]:
his_data  = pd.read_excel(r'C:\Users\User\Desktop\SEO_0807\SEO每日模板-每日更新.xlsx','历史')
his_data.shape
his_data

(109, 22)

,日期,人员,总IP,接受IP,注册,注册率,开户,转化率,当日注册当日开户,当日注册当日激活率,...,对比前5天均值,对比前7天均值,对比前天.1,对比前3天均值.1,对比前5天均值.1,对比前7天均值.1,对比前天.2,对比前3天均值.2,对比前5天均值.2,对比前7天均值.2
0,2023-07-27,Aber,3477,721.0,52,0.014955,20,0.384615,15,0.288462,...,436.4,725.285714,-3,3.666667,4.8,2.285714,-1,2.666667,1.8,1.285714
1,2023-07-27,DK,1325,1790.0,29,0.021887,8,0.275862,5,0.172414,...,46.8,50.428571,-9,-2.333333,-1.6,-1.142857,0,-1.000000,0.4,0.000000
2,2023-07-27,Ben,10414,733.0,30,0.002881,7,0.233333,6,0.200000,...,-5180.2,-3337.857143,-16,-16.666667,-19.0,-16.428571,-7,-7.333333,-7.4,-5.142857
3,2023-07-27,当日汇总,22110,5531.5,207,0.009362,61,0.294686,45,0.217391,...,-4292.8,-2164.000000,-37,-47.333333,-42.2,-39.857143,-25,-23.333333,-19.6,-16.428571
4,2023-07-28,Paddy,508,45.5,18,0.035433,5,0.277778,4,0.222222,...,-13.4,-0.714286,4,-1.666667,-2.8,-2.142857,0,-2.000000,-0.6,0.285714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,2023-08-07,Hugo,103,0.0,14,0.135922,5,0.357143,2,0.142857,...,-424.0,-431.285714,6,2.333333,-1.4,-0.285714,1,-1.000000,-2.4,-1.000000
105,2023-08-07,Aber,7325,562.0,37,0.005051,13,0.351351,9,0.243243,...,-1843.6,278.285714,-12,-5.666667,-5.0,2.285714,-7,-4.333333,-1.6,1.000000
106,2023-08-07,DK,1525,2160.0,27,0.017705,5,0.185185,5,0.185185,...,49.4,265.714286,3,-4.666667,-4.4,-0.571429,-1,-5.666667,-5.8,-4.000000
107,2023-08-07,Ben,2565,298.0,14,0.005458,6,0.428571,3,0.214286,...,-1438.8,-1697.285714,7,5.000000,3.0,3.285714,6,4.000000,3.8,4.142857
108,2023-08-07,当日汇总,20657,5137.0,213,0.010311,68,0.319249,51,0.239437,...,-2630.0,816.571429,5,24.333333,31.6,59.428571,4,-1.333333,5.4,16.000000

In [66]:
import datetime
be_data = his_data[his_data['日期']==(shuju['日期'][0]+datetime.timedelta(days=-1))][:-1]
be_data

,日期,人员,总IP,接受IP,注册,注册率,开户,转化率,当日注册当日开户,当日注册当日激活率,...,对比前5天均值,对比前7天均值,对比前天.1,对比前3天均值.1,对比前5天均值.1,对比前7天均值.1,对比前天.2,对比前3天均值.2,对比前5天均值.2,对比前7天均值.2
88,2023-08-06,Paddy,0,31.0,1,31.000000,0,0.000000,0,0.000000,...,-83.0,-128.857143,1,-0.666667,0.0,-1.285714,0,-0.333333,-0.4,-0.857143
89,2023-08-06,Tony,591,488.0,17,0.028765,3,0.176471,3,0.176471,...,-72.2,15.000000,0,2.333333,4.4,5.571429,-6,-3.666667,-3.8,-2.571429
90,2023-08-06,Max,287,238.0,8,0.027875,3,0.375000,2,0.250000,...,9.2,48.000000,5,3.000000,3.2,4.142857,0,0.000000,0.2,1.000000
91,2023-08-06,Martin,3252,955.0,83,0.025523,21,0.253012,16,0.192771,...,637.4,1176.428571,31,36.333333,40.6,46.714286,6,7.000000,8.4,10.571429
92,2023-08-06,Zed,4696,363.0,10,0.002129,7,0.700000,3,0.300000,...,666.8,1306.285714,2,3.000000,3.2,4.714286,2,3.000000,4.0,4.285714
93,2023-08-06,Hugo,125,661.0,8,0.064000,4,0.500000,2,0.250000,...,-598.0,-540.428571,-2,-8.333333,-10.4,-9.142857,-2,-4.000000,-3.6,-2.428571
94,2023-08-06,Aber,9684,624.0,49,0.005060,20,0.408163,15,0.306122,...,1755.4,2926.285714,9,10.000000,10.2,10.857143,3,6.333333,7.2,6.000000
95,2023-08-06,DK,1423,2037.0,24,0.016866,6,0.250000,2,0.083333,...,-55.4,179.000000,-18,-10.000000,-9.8,-4.142857,-7,-5.000000,-5.4,-3.142857
96,2023-08-06,Ben,2565,345.0,7,0.002729,0,0.000000,0,0.000000,...,-2889.2,-2933.142857,-1,-4.666667,-6.6,-4.285714,-3,-2.333333,-2.6,-2.857143
97,2023-08-06,MK,0,NaN,0,0.000000,0,0.000000,0,0.000000,...,0.0,0.000000,0,0.000000,0.0,0.000000,0,0.000000,0.0,0.000000

In [60]:
be_data=be_data[:-1]
be_data

,日期,人员,总IP,接受IP,注册,注册率,开户,转化率,当日注册当日开户,当日注册当日激活率,...,对比前5天均值,对比前7天均值,对比前天.1,对比前3天均值.1,对比前5天均值.1,对比前7天均值.1,对比前天.2,对比前3天均值.2,对比前5天均值.2,对比前7天均值.2
88,2023-08-06,Paddy,0,31.0,1,31.000000,0,0.000000,0,0.000000,...,-83.0,-128.857143,1,-0.666667,0.0,-1.285714,0,-0.333333,-0.4,-0.857143
89,2023-08-06,Tony,591,488.0,17,0.028765,3,0.176471,3,0.176471,...,-72.2,15.000000,0,2.333333,4.4,5.571429,-6,-3.666667,-3.8,-2.571429
90,2023-08-06,Max,287,238.0,8,0.027875,3,0.375000,2,0.250000,...,9.2,48.000000,5,3.000000,3.2,4.142857,0,0.000000,0.2,1.000000
91,2023-08-06,Martin,3252,955.0,83,0.025523,21,0.253012,16,0.192771,...,637.4,1176.428571,31,36.333333,40.6,46.714286,6,7.000000,8.4,10.571429
92,2023-08-06,Zed,4696,363.0,10,0.002129,7,0.700000,3,0.300000,...,666.8,1306.285714,2,3.000000,3.2,4.714286,2,3.000000,4.0,4.285714
93,2023-08-06,Hugo,125,661.0,8,0.064000,4,0.500000,2,0.250000,...,-598.0,-540.428571,-2,-8.333333,-10.4,-9.142857,-2,-4.000000,-3.6,-2.428571
94,2023-08-06,Aber,9684,624.0,49,0.005060,20,0.408163,15,0.306122,...,1755.4,2926.285714,9,10.000000,10.2,10.857143,3,6.333333,7.2,6.000000
95,2023-08-06,DK,1423,2037.0,24,0.016866,6,0.250000,2,0.083333,...,-55.4,179.000000,-18,-10.000000,-9.8,-4.142857,-7,-5.000000,-5.4,-3.142857
96,2023-08-06,Ben,2565,345.0,7,0.002729,0,0.000000,0,0.000000,...,-2889.2,-2933.142857,-1,-4.666667,-6.6,-4.285714,-3,-2.333333,-2.6,-2.857143
97,2023-08-06,MK,0,NaN,0,0.000000,0,0.000000,0,0.000000,...,0.0,0.000000,0,0.000000,0.0,0.000000,0,0.000000,0.0,0.000000

In [53]:
be_data=be_data[:-1]
be_data.set_index('人员',inplace=True)

In [61]:

be_data.set_index('人员',inplace=True)
be_data.sort_index(inplace=True)
be_data

C:\Users\User\AppData\Local\Temp\ipykernel_13092\3271318058.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  be_data.sort_index(inplace=True)

,日期,总IP,接受IP,注册,注册率,开户,转化率,当日注册当日开户,当日注册当日激活率,对比前天,...,对比前5天均值,对比前7天均值,对比前天.1,对比前3天均值.1,对比前5天均值.1,对比前7天均值.1,对比前天.2,对比前3天均值.2,对比前5天均值.2,对比前7天均值.2
人员,,,,,,,,,,,,,,,,,,,,,
Aber,2023-08-06,9684,624.0,49,0.005060,20,0.408163,15,0.306122,209,...,1755.4,2926.285714,9,10.000000,10.2,10.857143,3,6.333333,7.2,6.000000
Ben,2023-08-06,2565,345.0,7,0.002729,0,0.000000,0,0.000000,-433,...,-2889.2,-2933.142857,-1,-4.666667,-6.6,-4.285714,-3,-2.333333,-2.6,-2.857143
DK,2023-08-06,1423,2037.0,24,0.016866,6,0.250000,2,0.083333,47,...,-55.4,179.000000,-18,-10.000000,-9.8,-4.142857,-7,-5.000000,-5.4,-3.142857
Hugo,2023-08-06,125,661.0,8,0.064000,4,0.500000,2,0.250000,-61,...,-598.0,-540.428571,-2,-8.333333,-10.4,-9.142857,-2,-4.000000,-3.6,-2.428571
MK,2023-08-06,0,NaN,0,0.000000,0,0.000000,0,0.000000,0,...,0.0,0.000000,0,0.000000,0.0,0.000000,0,0.000000,0.0,0.000000
Martin,2023-08-06,3252,955.0,83,0.025523,21,0.253012,16,0.192771,159,...,637.4,1176.428571,31,36.333333,40.6,46.714286,6,7.000000,8.4,10.571429
Max,2023-08-06,287,238.0,8,0.027875,3,0.375000,2,0.250000,6,...,9.2,48.000000,5,3.000000,3.2,4.142857,0,0.000000,0.2,1.000000
Paddy,2023-08-06,0,31.0,1,31.000000,0,0.000000,0,0.000000,0,...,-83.0,-128.857143,1,-0.666667,0.0,-1.285714,0,-0.333333,-0.4,-0.857143
Tony,2023-08-06,591,488.0,17,0.028765,3,0.176471,3,0.176471,-107,...,-72.2,15.000000,0,2.333333,4.4,5.571429,-6,-3.666667,-3.8,-2.571429
Zed,2023-08-06,4696,363.0,10,0.002129,7,0.700000,3,0.300000,466,...,666.8,1306.285714,2,3.000000,3.2,4.714286,2,3.000000,4.0,4.285714

In [58]:
be_data

,日期,总IP,接受IP,注册,注册率,开户,转化率,当日注册当日开户,当日注册当日激活率,对比前天,...,对比前5天均值,对比前7天均值,对比前天.1,对比前3天均值.1,对比前5天均值.1,对比前7天均值.1,对比前天.2,对比前3天均值.2,对比前5天均值.2,对比前7天均值.2
人员,,,,,,,,,,,,,,,,,,,,,
Aber,2023-08-06,9684,624.0,49,0.005060,20,0.408163,15,0.306122,209,...,1755.4,2926.285714,9,10.000000,10.2,10.857143,3,6.333333,7.2,6.000000
Ben,2023-08-06,2565,345.0,7,0.002729,0,0.000000,0,0.000000,-433,...,-2889.2,-2933.142857,-1,-4.666667,-6.6,-4.285714,-3,-2.333333,-2.6,-2.857143
DK,2023-08-06,1423,2037.0,24,0.016866,6,0.250000,2,0.083333,47,...,-55.4,179.000000,-18,-10.000000,-9.8,-4.142857,-7,-5.000000,-5.4,-3.142857
Hugo,2023-08-06,125,661.0,8,0.064000,4,0.500000,2,0.250000,-61,...,-598.0,-540.428571,-2,-8.333333,-10.4,-9.142857,-2,-4.000000,-3.6,-2.428571
MK,2023-08-06,0,NaN,0,0.000000,0,0.000000,0,0.000000,0,...,0.0,0.000000,0,0.000000,0.0,0.000000,0,0.000000,0.0,0.000000
Martin,2023-08-06,3252,955.0,83,0.025523,21,0.253012,16,0.192771,159,...,637.4,1176.428571,31,36.333333,40.6,46.714286,6,7.000000,8.4,10.571429
Max,2023-08-06,287,238.0,8,0.027875,3,0.375000,2,0.250000,6,...,9.2,48.000000,5,3.000000,3.2,4.142857,0,0.000000,0.2,1.000000
Paddy,2023-08-06,0,31.0,1,31.000000,0,0.000000,0,0.000000,0,...,-83.0,-128.857143,1,-0.666667,0.0,-1.285714,0,-0.333333,-0.4,-0.857143
Tony,2023-08-06,591,488.0,17,0.028765,3,0.176471,3,0.176471,-107,...,-72.2,15.000000,0,2.333333,4.4,5.571429,-6,-3.666667,-3.8,-2.571429
Zed,2023-08-06,4696,363.0,10,0.002129,7,0.700000,3,0.300000,466,...,666.8,1306.285714,2,3.000000,3.2,4.714286,2,3.000000,4.0,4.285714

In [74]:
all_ip= shuju.iloc[:,:3]
all_ip

               日期     人员2  发送IP
人员
Aber   2023-08-07    aber  7325
Ben    2023-08-07     ben  2565
DK     2023-08-07      dk  1525
Hugo   2023-08-07    hugo   103
Martin 2023-08-07  martin  3445
Max    2023-08-07     max   273
Paddy  2023-08-07   paddy     0
Tony   2023-08-07    tony   568
Zed    2023-08-07     zed  4853

In [71]:
shuju.set_index('人员',inplace=True)
be_data.set_index('人员',inplace=True)
shuju['发送IP']-be_data['总IP']

人员
Aber     -2359.0
Ben          0.0
DK         102.0
Hugo       -22.0
MK           NaN
Martin     193.0
Max        -14.0
Paddy        0.0
Tony       -23.0
Zed        157.0
dtype: float64

In [70]:
be_data

,日期,人员,总IP,接受IP,注册,注册率,开户,转化率,当日注册当日开户,当日注册当日激活率,...,对比前5天均值,对比前7天均值,对比前天.1,对比前3天均值.1,对比前5天均值.1,对比前7天均值.1,对比前天.2,对比前3天均值.2,对比前5天均值.2,对比前7天均值.2
88,2023-08-06,Paddy,0,31.0,1,31.000000,0,0.000000,0,0.000000,...,-83.0,-128.857143,1,-0.666667,0.0,-1.285714,0,-0.333333,-0.4,-0.857143
89,2023-08-06,Tony,591,488.0,17,0.028765,3,0.176471,3,0.176471,...,-72.2,15.000000,0,2.333333,4.4,5.571429,-6,-3.666667,-3.8,-2.571429
90,2023-08-06,Max,287,238.0,8,0.027875,3,0.375000,2,0.250000,...,9.2,48.000000,5,3.000000,3.2,4.142857,0,0.000000,0.2,1.000000
91,2023-08-06,Martin,3252,955.0,83,0.025523,21,0.253012,16,0.192771,...,637.4,1176.428571,31,36.333333,40.6,46.714286,6,7.000000,8.4,10.571429
92,2023-08-06,Zed,4696,363.0,10,0.002129,7,0.700000,3,0.300000,...,666.8,1306.285714,2,3.000000,3.2,4.714286,2,3.000000,4.0,4.285714
93,2023-08-06,Hugo,125,661.0,8,0.064000,4,0.500000,2,0.250000,...,-598.0,-540.428571,-2,-8.333333,-10.4,-9.142857,-2,-4.000000,-3.6,-2.428571
94,2023-08-06,Aber,9684,624.0,49,0.005060,20,0.408163,15,0.306122,...,1755.4,2926.285714,9,10.000000,10.2,10.857143,3,6.333333,7.2,6.000000
95,2023-08-06,DK,1423,2037.0,24,0.016866,6,0.250000,2,0.083333,...,-55.4,179.000000,-18,-10.000000,-9.8,-4.142857,-7,-5.000000,-5.4,-3.142857
96,2023-08-06,Ben,2565,345.0,7,0.002729,0,0.000000,0,0.000000,...,-2889.2,-2933.142857,-1,-4.666667,-6.6,-4.285714,-3,-2.333333,-2.6,-2.857143
97,2023-08-06,MK,0,NaN,0,0.000000,0,0.000000,0,0.000000,...,0.0,0.000000,0,0.000000,0.0,0.000000,0,0.000000,0.0,0.000000

In [75]:
all_ip['对比前天(总IP)']=shuju['发送IP']-be_data['总IP']
all_ip

               日期     人员2  发送IP  对比前天(总IP)
人员
Aber   2023-08-07    aber  7325    -2359.0
Ben    2023-08-07     ben  2565        0.0
DK     2023-08-07      dk  1525      102.0
Hugo   2023-08-07    hugo   103      -22.0
Martin 2023-08-07  martin  3445      193.0
Max    2023-08-07     max   273      -14.0
Paddy  2023-08-07   paddy     0        0.0
Tony   2023-08-07    tony   568      -23.0
Zed    2023-08-07     zed  4853      157.0

In [84]:
be3_data = his_data[his_data['日期']>(shuju['日期'][0]+datetime.timedelta(days=-3))]
be3_data

,日期,人员,总IP,接受IP,注册,注册率,开户,转化率,当日注册当日开户,当日注册当日激活率,...,对比前5天均值,对比前7天均值,对比前天.1,对比前3天均值.1,对比前5天均值.1,对比前7天均值.1,对比前天.2,对比前3天均值.2,对比前5天均值.2,对比前7天均值.2
78,2023-08-05,Paddy,0,42.0,0,42.000000,0,0.000000,0,0.000000,...,-83.0,-184.285714,-3,-1.666667,-1.0,-4.285714,0,0.000000,0.0,-1.000000
79,2023-08-05,Tony,698,500.0,17,0.024355,9,0.529412,3,0.176471,...,174.4,129.714286,-5,4.333333,7.8,6.714286,-1,3.666667,4.0,3.857143
80,2023-08-05,Max,281,228.0,3,0.010676,3,1.000000,1,0.333333,...,59.4,45.285714,-2,-2.333333,-1.2,-0.857143,-1,1.000000,0.8,0.857143
81,2023-08-05,Martin,3093,930.0,52,0.016812,15,0.288462,11,0.211538,...,1097.0,1268.142857,6,10.333333,20.0,18.428571,-2,1.333333,5.4,3.666667
82,2023-08-05,Zed,4230,307.0,8,0.001891,5,0.625000,4,0.500000,...,1046.8,954.714286,3,1.000000,2.8,2.857143,2,2.333333,3.0,2.857143
83,2023-08-05,Hugo,186,593.0,10,0.053763,6,0.600000,4,0.400000,...,-499.8,-615.714286,-7,-9.666667,-6.4,-9.428571,-2,-3.000000,0.0,0.000000
84,2023-08-05,Aber,9475,633.0,40,0.004222,17,0.425000,15,0.375000,...,3441.4,2732.142857,1,0.000000,9.2,0.571429,2,5.000000,7.6,2.285714
85,2023-08-05,DK,1376,2004.0,42,0.030523,13,0.309524,13,0.309524,...,172.8,139.571429,13,11.666667,16.6,14.714286,0,1.333333,4.2,4.714286
86,2023-08-05,Ben,2998,318.0,8,0.002668,3,0.375000,1,0.125000,...,-1856.6,-3244.714286,-4,-5.333333,-4.0,-4.142857,0,0.333333,1.0,0.428571
87,2023-08-05,当日汇总,22337,5555.0,180,0.008058,71,0.394444,52,0.288889,...,3552.4,1224.857143,2,7.000000,42.6,23.285714,-2,11.666667,25.2,18.000000
88,2023-08-06,Paddy,0,31.0,1,31.000000,0,0.000000,0,0.000000,...,-83.0,-128.857143,1,-0.666667,0.0,-1.285714,0,-0.333333,-0.4,-0.857143
89,2023-08-06,Tony,591,488.0,17,0.028765,3,0.176471,3,0.176471,...,-72.2,15.000000,0,2.333333,4.4,5.571429,-6,-3.666667,-3.8,-2.571429
90,2023-08-06,Max,287,238.0,8,0.027875,3,0.375000,2,0.250000,...,9.2,48.000000,5,3.000000,3.2,4.142857,0,0.000000,0.2,1.000000
91,2023-08-06,Martin,3252,955.0,83,0.025523,21,0.253012,16,0.192771,...,637.4,1176.428571,31,36.333333,40.6,46.714286,6,7.000000,8.4,10.571429
92,2023-08-06,Zed,4696,363.0,10,0.002129,7,0.700000,3,0.300000,...,666.8,1306.285714,2,3.000000,3.2,4.714286,2,3.000000,4.0,4.285714
93,2023-08-06,Hugo,125,661.0,8,0.064000,4,0.500000,2,0.250000,...,-598.0,-540.428571,-2,-8.333333,-10.4,-9.142857,-2,-4.000000,-3.6,-2.428571
94,2023-08-06,Aber,9684,624.0,49,0.005060,20,0.408163,15,0.306122,...,1755.4,2926.285714,9,10.000000,10.2,10.857143,3,6.333333,7.2,6.000000
95,2023-08-06,DK,1423,2037.0,24,0.016866,6,0.250000,2,0.083333,...,-55.4,179.000000,-18,-10.000000,-9.8,-4.142857,-7,-5.000000,-5.4,-3.142857
96,2023-08-06,Ben,2565,345.0,7,0.002729,0,0.000000,0,0.000000,...,-2889.2,-2933.142857,-1,-4.666667,-6.6,-4.285714,-3,-2.333333,-2.6,-2.857143
97,2023-08-06,MK,0,NaN,0,0.000000,0,0.000000,0,0.000000,...,0.0,0.000000,0,0.000000,0.0,0.000000,0,0.000000,0.0,0.000000
98,2023-08-06,当日汇总,22623,5742.0,208,0.009194,64,0.307692,43,0.206731,...,-629.0,2048.571429,28,31.666667,34.6,53.000000,-7,1.000000,4.0,10.000000
99,2023-08-07,Paddy,0,51.0,3,51.000000,2,0.666667,2,0.666667,...,-0.2,-59.285714,2,1.666667,1.8,2.142857,2,2.000000,1.8,1.714286
100,2023-08-07,Tony,568,440.0,12,0.021127,3,0.250000,3,0.250000,...,-84.6,9.857143,-5,-6.666667,-2.4,0.571429,0,-4.333333,-2.6,-2.285714
101,2023-08-07,Max,273,225.0,6,0.021978,0,0.000000,0,0.000000,...,-3.6,33.571429,-2,0.666667,0.6,1.428571,-3,-3.333333,-2.4,-2.428571
102,2023-08-07,Martin,3445,1072.0,78,0.022642,24,0.307692,18,0.230769,...,516.2,1112.857143,-5,17.666667,26.0,35.857143,3,6.333333,8.6,12.000000
103,2023-08-07,Zed,4853,329.0,19,0.003915,8,0.421053,8,0.421053,...,599.2,1304.142857,9,11.333333,11.2,12.714286,1,3.000000,4.0,4.857143
104,2023-08-07,Hugo,103,0.0,14,0.135922,5,0.357143,2,0.142857,...,-424.0,-431.285714,6,2.333333,-1.4,-0.285714,1,-1.000000,-2.4,-1.000000
105,2023-08-07,Aber,7325,562.0,37,0.005051,13,0.351351,9,0.243243,...,-1843.6,278.285714,-12,-5.666667,-5.0,2.285714,-7,-4.333333,-1.6,1.000000
106,2023-08-07,DK,1525,2160.0,27,0.017705,5,0.185185,5,0.185185,...,49.4,265.714286,3,-4.666667,-4.4,-0.571429,-1,-5.666667,-5.8,-4.000000
107,2023-08-07,Ben,2565,298.0,14,0.005458,6,0.428571,3,0.214286,...,-1438.8,-1697.285714,7,5.000000,3.0,3.285714,6,4.000000,3.8,4.142857
108,2023-08-07,当日汇总,20657,5137.0,213,0.010311,68,0.319249,51,0.239437,...,-2630.0,816.571429,5,24.333333,31.6,59.428571,4,-1.333333,5.4,16.000000

In [86]:
be3_data=be3_data.groupby('人员').mean()[:-1]

,总IP,接受IP,注册,注册率,开户,转化率,当日注册当日开户,当日注册当日激活率,对比前天,对比前3天均值,对比前5天均值,对比前7天均值,对比前天.1,对比前3天均值.1,对比前5天均值.1,对比前7天均值.1,对比前天.2,对比前3天均值.2,对比前5天均值.2,对比前7天均值.2
人员,,,,,,,,,,,,,,,,,,,,
Aber,8828.000000,606.333333,42.000000,0.004778,16.666667,0.394838,13.000000,0.308122,-457.000000,-235.666667,1117.733333,1978.904762,-0.666667,1.444444e+00,4.800000,4.571429,-0.666667,2.333333,4.400000,3.095238
Ben,2709.333333,320.333333,9.666667,0.003619,3.000000,0.267857,1.333333,0.113095,-359.000000,-1215.666667,-2061.533333,-2625.047619,0.666667,-1.666667e+00,-2.533333,-1.714286,1.000000,0.666667,0.733333,0.571429
DK,1441.333333,2067.000000,31.000000,0.021698,8.000000,0.248236,6.666667,0.192681,23.000000,-27.777778,55.600000,194.761905,-0.666667,-1.000000e+00,0.800000,3.333333,-2.666667,-3.111111,-2.333333,-0.809524
Hugo,138.000000,418.000000,10.666667,0.084562,5.000000,0.485714,2.666667,0.264286,-32.333333,-334.000000,-507.266667,-529.142857,-1.000000,-5.222222e+00,-6.066667,-6.285714,-1.000000,-2.666667,-2.000000,-1.142857
MK,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Martin,3263.333333,985.666667,71.000000,0.021659,20.000000,0.283055,15.000000,0.211693,112.000000,279.666667,750.200000,1185.809524,10.666667,2.144444e+01,28.866667,33.666667,2.333333,4.888889,7.466667,8.746032
Max,280.333333,230.333333,5.666667,0.020176,2.000000,0.458333,1.000000,0.194444,-3.666667,2.888889,21.666667,42.285714,0.333333,4.444444e-01,0.866667,1.571429,-1.333333,-0.777778,-0.466667,-0.190476
Paddy,0.000000,41.333333,1.333333,41.333333,0.666667,0.222222,0.666667,0.222222,0.000000,0.000000,-55.400000,-124.142857,0.000000,-2.222222e-01,0.266667,-1.142857,0.666667,0.555556,0.466667,-0.047619
Tony,619.000000,476.000000,15.333333,0.024749,5.000000,0.318627,3.000000,0.200980,-49.000000,-48.444444,5.866667,51.523810,-3.333333,-2.960595e-15,3.266667,4.285714,-2.333333,-1.444444,-0.800000,-0.333333
Zed,4593.000000,333.000000,12.333333,0.002645,6.666667,0.582018,5.000000,0.407018,171.666667,347.333333,770.933333,1188.380952,4.666667,5.111111e+00,5.733333,6.761905,1.666667,2.777778,3.666667,4.000000

In [87]:
be5_data = his_data[his_data['日期']>(shuju['日期'][0]+datetime.timedelta(days=-5))]
be5_data = be5_data.groupby('人员').mean()[:-1]
be7_data = his_data[his_data['日期']>(shuju['日期'][0]+datetime.timedelta(days=-7))]
be7_data = be7_data.groupby('人员').mean()[:-1]
all_ip['对比前3天均值(总IP)']= shuju['发送IP']-be3_data['总IP']
all_ip['对比前5天均值(总IP)']= shuju['发送IP']-be5_data['总IP']
all_ip['对比前7天均值(总IP)']= shuju['发送IP']-be7_data['总IP']

all_ip

C:\Users\User\AppData\Local\Temp\ipykernel_13092\1152053852.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  be5_data = be5_data.groupby('人员').mean()[:-1]
C:\Users\User\AppData\Local\Temp\ipykernel_13092\1152053852.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  be7_data = be7_data.groupby('人员').mean()[:-1]

,日期,人员2,发送IP,对比前天(总IP),对比前3天均值(总IP),对比前5天均值(总IP),对比前7天均值(总IP)
人员,,,,,,,
Aber,2023-08-07,aber,7325,-2359.0,-1503.000000,-1483.6,-768.142857
Ben,2023-08-07,ben,2565,0.0,-144.333333,-793.8,-2063.714286
DK,2023-08-07,dk,1525,102.0,83.666667,57.8,47.857143
Hugo,2023-08-07,hugo,103,-22.0,-35.000000,-225.2,-446.000000
Martin,2023-08-07,martin,3445,193.0,181.666667,285.6,620.714286
Max,2023-08-07,max,273,-14.0,-7.333333,-5.0,-5.428571
Paddy,2023-08-07,paddy,0,0.0,0.000000,0.0,-59.285714
Tony,2023-08-07,tony,568,-23.0,-51.000000,-69.6,-71.285714
Zed,2023-08-07,zed,4853,157.0,260.000000,422.4,610.857143

In [72]:
be3_data = his_data[his_data['日期']>(shuju['日期'][0]+datetime.timedelta(days=-3))][:-1]

be3_data.set_index('人员',inplace=True)
be3_data.sort_index(inplace=True)
be3_data = be3_data.groupby('人员').mean()
all_ip['对比前3天均值(总IP)']= shuju['发送IP']-be3_data['总IP']
be5_data = his_data[his_data['日期']>(shuju['日期'][0]+datetime.timedelta(days=-5))]
be5_data=be5_data[:-1]
be5_data.set_index('人员',inplace=True)
be5_data.sort_index(inplace=True)
be5_data = be5_data.groupby('人员').mean()
all_ip['对比前5天均值(总IP)']= shuju['发送IP']-be5_data['总IP']
be7_data = his_data[his_data['日期']>(shuju['日期'][0]+datetime.timedelta(days=-7))]
be7_data = be7_data.groupby('人员').mean()

C:\Users\User\AppData\Local\Temp\ipykernel_13092\4094779022.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  be3_data = be3_data.groupby('人员').mean()
C:\Users\User\AppData\Local\Temp\ipykernel_13092\4094779022.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  be5_data = be5_data.groupby('人员').mean()
C:\Users\User\AppData\Local\Temp\ipykernel_13092\4094779022.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  be7_data = be7_data.groupby('人员').mean()

,人员,日期,人员2,对比前天(总IP),对比前3天均值(总IP),对比前5天均值(总IP),对比前7天均值(总IP)
0,Aber,2023-08-07,aber,NaN,NaN,NaN,NaN
1,Ben,2023-08-07,ben,NaN,NaN,NaN,NaN
2,DK,2023-08-07,dk,NaN,NaN,NaN,NaN
3,Hugo,2023-08-07,hugo,NaN,NaN,NaN,NaN
4,Martin,2023-08-07,martin,NaN,NaN,NaN,NaN
5,Max,2023-08-07,max,NaN,NaN,NaN,NaN
6,Paddy,2023-08-07,paddy,NaN,NaN,NaN,NaN
7,Tony,2023-08-07,tony,NaN,NaN,NaN,NaN
8,Zed,2023-08-07,zed,NaN,NaN,NaN,NaN

In [ ]:
all_ip['对比昨天(总注册)']=shuju['发送IP']-be_data['总IP']
all_ip['对比前3天均值(总注册)']= shuju['注册']-be3_data['注册']
all_ip['对比前5天均值(总注册)']= shuju['注册']-be5_data['注册']
all_ip['对比前7天均值(总注册)']= shuju['注册']-be7_data['注册']

all_ip['对比昨天(总开户)']=shuju['发送IP']-be_data['总IP']
all_ip['对比前3天均值(总开户)']= shuju['开户']-be3_data['开户']
all_ip['对比前5天均值(总开户)']= shuju['开户']-be5_data['开户']
all_ip['对比前7天均值(总开户)']= shuju['开户']-be7_data['开户']

In [94]:
shuju=shuju.join(all_ip,rsuffix='_2')
shuju.drop(['日期_2','人员2_2','发送IP_2','对比前天(总IP)_2','对比前3天均值(总IP)_2','对比前5天均值(总IP)_2','对比前7天均值(总IP)_2'],inplace=True,axis=1)
shuju

,日期,人员2,发送IP,接受IP,注册,注册率,开户,转化率,当日注册并开户,当日注册激活率,对比前天(总IP),对比前3天均值(总IP),对比前5天均值(总IP),对比前7天均值(总IP)
人员,,,,,,,,,,,,,,
Aber,2023-08-07,aber,7325,562,49,0.668942,13.0,26.530612,9.0,18.367347,-2359.0,-1503.000000,-1483.6,-768.142857
Ben,2023-08-07,ben,2565,298,17,0.662768,6.0,35.294118,3.0,17.647059,0.0,-144.333333,-793.8,-2063.714286
DK,2023-08-07,dk,1525,2160,52,3.409836,5.0,9.615385,5.0,9.615385,102.0,83.666667,57.8,47.857143
Hugo,2023-08-07,hugo,103,0,16,15.533981,5.0,31.250000,2.0,12.500000,-22.0,-35.000000,-225.2,-446.000000
Martin,2023-08-07,martin,3445,1072,81,2.351234,24.0,29.629630,18.0,22.222222,193.0,181.666667,285.6,620.714286
Max,2023-08-07,max,273,225,9,3.296703,NaN,NaN,NaN,NaN,-14.0,-7.333333,-5.0,-5.428571
Paddy,2023-08-07,paddy,0,51,3,inf,2.0,66.666667,2.0,66.666667,0.0,0.000000,0.0,-59.285714
Tony,2023-08-07,tony,568,1136,15,2.640845,3.0,20.000000,3.0,20.000000,-23.0,-51.000000,-69.6,-71.285714
Zed,2023-08-07,zed,4853,329,22,0.453328,8.0,36.363636,8.0,36.363636,157.0,260.000000,422.4,610.857143

In [95]:
shuju

,日期,人员2,发送IP,接受IP,注册,注册率,开户,转化率,当日注册并开户,当日注册激活率,对比前天(总IP),对比前3天均值(总IP),对比前5天均值(总IP),对比前7天均值(总IP)
人员,,,,,,,,,,,,,,
Aber,2023-08-07,aber,7325,562,49,0.668942,13.0,26.530612,9.0,18.367347,-2359.0,-1503.000000,-1483.6,-768.142857
Ben,2023-08-07,ben,2565,298,17,0.662768,6.0,35.294118,3.0,17.647059,0.0,-144.333333,-793.8,-2063.714286
DK,2023-08-07,dk,1525,2160,52,3.409836,5.0,9.615385,5.0,9.615385,102.0,83.666667,57.8,47.857143
Hugo,2023-08-07,hugo,103,0,16,15.533981,5.0,31.250000,2.0,12.500000,-22.0,-35.000000,-225.2,-446.000000
Martin,2023-08-07,martin,3445,1072,81,2.351234,24.0,29.629630,18.0,22.222222,193.0,181.666667,285.6,620.714286
Max,2023-08-07,max,273,225,9,3.296703,NaN,NaN,NaN,NaN,-14.0,-7.333333,-5.0,-5.428571
Paddy,2023-08-07,paddy,0,51,3,inf,2.0,66.666667,2.0,66.666667,0.0,0.000000,0.0,-59.285714
Tony,2023-08-07,tony,568,1136,15,2.640845,3.0,20.000000,3.0,20.000000,-23.0,-51.000000,-69.6,-71.285714
Zed,2023-08-07,zed,4853,329,22,0.453328,8.0,36.363636,8.0,36.363636,157.0,260.000000,422.4,610.857143