In [1]:
import datetime

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
import os
os.__file__
os.getcwd()

'C:\\ProgramData\\anaconda3\\envs\\telegram\\lib\\os.py'

'C:\\Users\\User\\IdeaProjects\\project1\\Bsport\\SEO日报'

In [7]:
os.getcwd()

'C:\\Users\\User\\IdeaProjects\\project1\\Bsport\\SEO日报\\源数据'

In [2]:
import os
os.__file__

'C:\\ProgramData\\anaconda3\\envs\\telegram\\lib\\os.py'

In [2]:
import os
os.__file__

'C:\\ProgramData\\anaconda3\\envs\\telegram\\lib\\os.py'

'C:\\ProgramData\\anaconda3\\envs\\telegram\\lib\\os.py'

In [2]:
import sys
sys.executable

'C:\\ProgramData\\anaconda3\\envs\\telegram\\python.exe'

In [3]:
import pandas as pd
user = pd.read_csv(r'C:\Users\User\Desktop\SEO_0807\会员列表导出.csv',encoding='gbk')
user.shape
user.head()

,会员账号,姓名,手机号码,代理,国家,玩家层级,层级状态,VIP等级,VIP状态,币种,...,注册IP,注册域名,注册端,首充时间,最后登陆时间,最后登陆IP,注册IP属地,最后登陆IP属地（登录成功）,状态,备注
0,ysb1757,殷赛兵,155****1757,admin,中国,初审后层级2,锁定,VIP1,未锁定,CNY,...,222.84.188.187,m.bty9.com,H5,2023/8/8 0:27,2023/8/8 12:17,222.84.188.187,中国|广西|桂林|,中国|广西|桂林|,正常,NaN
1,Vuarong39,NaN,907****65,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,58.186.14.175,m-sn7.btytg3.com,H5,-,2023/8/8 0:07,58.186.14.175,越南|河内||,越南|河内||,正常,NaN
2,biiuhieu94,NaN,NaN,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,14.191.197.244,m-sn7.btytg2.com,H5,-,2023/8/7 23:58,14.191.197.244,越南|同奈||,越南|同奈||,正常,NaN
3,Suyengo1997,NaN,563****72,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,171.253.132.164,m-sn7.btytg3.com,H5,-,2023/8/7 23:57,171.253.132.164,越南|胡志明||,越南|胡志明||,正常,NaN
4,Nnta2376,NaN,NaN,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,171.236.4.170,m-sn7.btytg3.com,H5,-,2023/8/8 11:37,171.236.4.169,越南|海阳||,越南|海阳||,正常,NaN

In [4]:
firChargeUser = pd.read_csv(r'C:\Users\User\Desktop\SEO_0807\会员首存报表.csv',encoding='gbk')
firChargeUser.head()
firChargeUser.shape

(466, 7)

In [5]:
data = pd.read_excel(r'C:\Users\User\Desktop\SEO_0807\data\今日数据.xlsx')
data.shape
data.head()

C:\ProgramData\anaconda3\envs\telegram\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

  网站名(domain)          日期  PV  UV  IP
0  martin.com  2023/08/07  --  --  --
1  martin.com  2023/08/07  --  --  --
2  martin.com  2023/08/07  --  --  --
3  martin.com  2023/08/07  --  --  --
4  martin.com  2023/08/07  --  --  --

In [6]:
import numpy as np
data['IP']=pd.to_numeric(data['IP'],errors='coerce').replace(np.nan,0)
grp=data.groupby('网站名(domain)').agg({'IP':sum})
grp

                  IP
网站名(domain)
aber.bty       562.0
aber.com     14650.0
aber.zb          0.0
aber.zz          0.0
alen.bty         0.0
ben.bty        298.0
ben.com       5130.0
ben.zb           4.0
ben.zz           0.0
bike.bty         1.0
billy.com        0.0
dazhi.bty        2.0
dazhi.com       98.0
dk.bty        2160.0
dk.com        3050.0
dk.zb           90.0
dk.zz            0.0
duobo.bty       37.0
duobo.com        0.0
groot.com        0.0
hugo.cn          0.0
hugo.com       103.0
hugo.kty         0.0
hugo.zb         31.0
hugo.zz          0.0
kiwi.com         3.0
leslie.com       0.0
martin.bty    1072.0
martin.com       0.0
martin.pd        0.0
martin.zb       51.0
martin.zz        0.0
max.bty        225.0
max.zb           1.0
max.zz           0.0
maxmile.com    285.0
mulu.com       273.0
paddy.bty       51.0
paddy.com        0.0
paddy.zz         0.0
peter.bty      183.0
redquan.com   3445.0
tony.bty       427.0
tony.zb          0.0
tony.zz          0.0
tonyb.com     1136.0
zed.bty        329.0
zed.cn           0.0
zed.com       4853.0
zed.kty          0.0
zed.zb           0.0
zed.zz           0.0

In [9]:
tem = pd.read_clipboard()

In [10]:
list(tem['人员'])

['Paddy', 'Tony', 'Max', 'Martin', 'Zed', 'Hugo', 'Aber', 'DK', 'Ben']

In [11]:
shuju = pd.DataFrame({'人员':list(tem['人员']),'发送IP':[i for i in range(9)],'接受IP':[i for i in range(9)]})
shuju

       人员  发送IP  接受IP
0   Paddy     0     0
1    Tony     1     1
2     Max     2     2
3  Martin     3     3
4     Zed     4     4
5    Hugo     5     5
6    Aber     6     6
7      DK     7     7
8     Ben     8     8

In [31]:
shuju[shuju['人员']=='Paddy']['发送IP'].values[0] = grp.loc['paddy.com','IP']
shuju[shuju['人员']=='Paddy']['接受IP'].values[0] = grp.loc['paddy.bty','IP']
shuju[shuju['人员']=='Tony']['发送IP'].values[0] = grp.loc['tonyb.com','IP']/2
shuju[shuju['人员']=='Tony']['接受IP'].values[0] = grp.loc['tonyb.com','IP']
shuju[shuju['人员']=='Max']['发送IP'].values[0] = grp.loc['mulu.com','IP']
shuju[shuju['人员']=='Max']['接受IP'].values[0] = grp.loc['max.bty','IP']
shuju[shuju['人员']=='Martin']['发送IP'].values[0] = grp.loc['redquan.com','IP']
shuju[shuju['人员']=='Martin']['接受IP'].values[0] = grp.loc['martin.bty','IP']
shuju[shuju['人员']=='Zed']['发送IP'].values[0] = grp.loc['zed.com','IP']
shuju[shuju['人员']=='Zed']['接受IP'].values[0] = grp.loc['zed.bty','IP']
shuju[shuju['人员']=='Hugo']['发送IP'].values[0] = grp.loc['hugo.com','IP']
# shuju[shuju['人员']=='Hugo']['接受IP'].values[0] = grp.loc['hugo.bty','IP']
shuju[shuju['人员']=='Hugo']['接受IP'].values[0] = 0

shuju[shuju['人员']=='Aber']['发送IP'].values[0] = grp.loc['aber.com','IP']/2
shuju[shuju['人员']=='Aber']['接受IP'].values[0] = grp.loc['aber.bty','IP']
shuju[shuju['人员']=='DK']['发送IP'].values[0] = grp.loc['dk.com','IP']/2
shuju[shuju['人员']=='DK']['接受IP'].values[0] = grp.loc['dk.bty','IP']
shuju[shuju['人员']=='Ben']['发送IP'].values[0] = grp.loc['ben.com','IP']/2
shuju[shuju['人员']=='Ben']['接受IP'].values[0] = grp.loc['ben.bty','IP']

In [290]:
shuju.loc['Paddy','发送IP']

0

In [35]:
shuju

        发送IP  接受IP
人员
Paddy      0     0
Tony       1     1
Max        2     2
Martin     3     3
Zed        4     4
Hugo       5     5
Aber       6     6
DK         7     7
Ben        8     8

In [34]:
shuju.set_index('人员',inplace=True)

In [36]:
shuju.loc['Paddy','发送IP']=grp.loc['paddy.com','IP']
shuju.loc['Paddy','接受IP']=grp.loc['paddy.bty','IP']
shuju.loc['Tony','发送IP']=grp.loc['tonyb.com','IP']/2
shuju.loc['Tony','接受IP']=grp.loc['tonyb.com','IP']
shuju.loc['Max','发送IP']=grp.loc['mulu.com','IP']
shuju.loc['Max','接受IP']=grp.loc['max.bty','IP']
shuju.loc['Martin','发送IP']=grp.loc['redquan.com','IP']
shuju.loc['Martin','接受IP']=grp.loc['martin.bty','IP']
shuju.loc['Zed','发送IP']=grp.loc['zed.com','IP']
shuju.loc['Zed','接受IP']=grp.loc['zed.bty','IP']
shuju.loc['Hugo','发送IP']=grp.loc['hugo.com','IP']
# shuju.loc['Hugo','接受IP']=grp.loc['hugo.bty','IP']
shuju.loc['Hugo','接受IP']=0

shuju.loc['Aber','发送IP']=grp.loc['aber.com','IP']/2
shuju.loc['Aber','接受IP']=grp.loc['aber.bty','IP']
shuju.loc['DK','发送IP']=grp.loc['dk.com','IP']/2
shuju.loc['DK','接受IP']=grp.loc['dk.bty','IP']
shuju.loc['Ben','发送IP']=grp.loc['ben.com','IP']/2
shuju.loc['Ben','接受IP']=grp.loc['ben.bty','IP']
shuju

        发送IP  接受IP
人员
Paddy      0    51
Tony     568  1136
Max      273   225
Martin  3445  1072
Zed     4853   329
Hugo     103     0
Aber    7325   562
DK      1525  2160
Ben     2565   298

In [23]:
shuju

       人员  发送IP  接受IP
0   Paddy     0     0
1    Tony     1     1
2     Max     2     2
3  Martin     3     3
4     Zed     4     4
5    Hugo     5     5
6    Aber     6     6
7      DK     7     7
8     Ben     8     8

In [27]:
who

DataFrame	 InteractiveShell	 MultiIndex	 column	 data	 firChargeUser	 grp	 np	 os
pd	 pydev_jupyter_vars	 remove_imported_pydev_package	 shuju	 shuju2	 sys	 tem	 user

In [28]:
user.head()

,会员账号,姓名,手机号码,代理,国家,玩家层级,层级状态,VIP等级,VIP状态,币种,...,注册IP,注册域名,注册端,首充时间,最后登陆时间,最后登陆IP,注册IP属地,最后登陆IP属地（登录成功）,状态,备注
0,ysb1757,殷赛兵,155****1757,admin,中国,初审后层级2,锁定,VIP1,未锁定,CNY,...,222.84.188.187,m.bty9.com,H5,2023/8/8 0:27,2023/8/8 12:17,222.84.188.187,中国|广西|桂林|,中国|广西|桂林|,正常,NaN
1,Vuarong39,NaN,907****65,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,58.186.14.175,m-sn7.btytg3.com,H5,-,2023/8/8 0:07,58.186.14.175,越南|河内||,越南|河内||,正常,NaN
2,biiuhieu94,NaN,NaN,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,14.191.197.244,m-sn7.btytg2.com,H5,-,2023/8/7 23:58,14.191.197.244,越南|同奈||,越南|同奈||,正常,NaN
3,Suyengo1997,NaN,563****72,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,171.253.132.164,m-sn7.btytg3.com,H5,-,2023/8/7 23:57,171.253.132.164,越南|胡志明||,越南|胡志明||,正常,NaN
4,Nnta2376,NaN,NaN,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,171.236.4.170,m-sn7.btytg3.com,H5,-,2023/8/8 11:37,171.236.4.169,越南|海阳||,越南|海阳||,正常,NaN

In [39]:
daili = pd.read_excel(r'C:\Users\User\Desktop\SEO_0807\SEO每日模板-每日更新.xlsx','代理总表')
daili.shape

(2721, 4)

In [30]:
daili.head()

          代理线       主线账号 seo变化数据团队         准点激活团队
0      zzy888  btydl0322      山猫直播  山猫直播btydl0322
1  zuan811111  btydl0032        酷币    酷币btydl0032
2     zrf1234   btydl067        阿元     阿元btydl067
3  zq20221120  btydl0032        酷币    酷币btydl0032
4     zjj8234   btydl067        阿元     阿元btydl067

In [31]:
user.shape

(1422, 23)

In [40]:
merge_user = pd.merge(user,daili,how = 'left',left_on='代理',right_on='代理线')
merge_user.head()

,会员账号,姓名,手机号码,代理,国家,玩家层级,层级状态,VIP等级,VIP状态,币种,...,最后登陆时间,最后登陆IP,注册IP属地,最后登陆IP属地（登录成功）,状态,备注,代理线,主线账号,seo变化数据团队,准点激活团队
0,ysb1757,殷赛兵,155****1757,admin,中国,初审后层级2,锁定,VIP1,未锁定,CNY,...,2023/8/8 12:17,222.84.188.187,中国|广西|桂林|,中国|广西|桂林|,正常,NaN,admin,admin,官网,官网
1,Vuarong39,NaN,907****65,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,2023/8/8 0:07,58.186.14.175,越南|河内||,越南|河内||,正常,NaN,gfas001,zh0808,外部代理总线,外部代理总线zh0808
2,biiuhieu94,NaN,NaN,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,2023/8/7 23:58,14.191.197.244,越南|同奈||,越南|同奈||,正常,NaN,gfas001,zh0808,外部代理总线,外部代理总线zh0808
3,Suyengo1997,NaN,563****72,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,2023/8/7 23:57,171.253.132.164,越南|胡志明||,越南|胡志明||,正常,NaN,gfas001,zh0808,外部代理总线,外部代理总线zh0808
4,Nnta2376,NaN,NaN,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,2023/8/8 11:37,171.236.4.169,越南|海阳||,越南|海阳||,正常,NaN,gfas001,zh0808,外部代理总线,外部代理总线zh0808

In [41]:
grpSEO = merge_user.groupby('seo变化数据团队').agg({'seo变化数据团队':len})

In [45]:
grpSEO.rename(columns={'seo变化数据团队':'总计'},inplace=True)
grpSEO2 = grpSEO.reset_index()
grpSEO2

    seo变化数据团队   总计
0       178直播    3
1     Admin邀请    2
2       Cyrus    2
3          DK   52
4      GT-B直播   16
5      GT-越南线    2
6       GT-骨头   63
7          MM    1
8   SEO掉线用户转线    8
9       SEO邀请   44
10   SOCO越南直播   96
11       aber   49
12        ben   17
13      duobo    1
14       hugo   16
15     kk6699    2
16     martin   81
17        max    9
18      paddy    3
19      seo转线    4
20       tony   15
21        zed   22
22      原电销使用    3
23       外代-越   13
24     外部代理总线  179
25         官网  114
26     小Peter    3
27  小Peter越南线    1
28       技术测试    2
29         斌哥    1
30     电销拉回专用    2
31   真实数据测试账号    1
32       米乐转线    3
33         袋鼠    1
34         酷币    1
35       雨燕直播   32
36     雨燕直播-越  346
37     飞哥雨燕直播  117
38    鲲鹏admin   13

In [44]:
shuju2 = shuju.reset_index()
shuju2

       人员  发送IP  接受IP
0   Paddy     0    51
1    Tony   568  1136
2     Max   273   225
3  Martin  3445  1072
4     Zed  4853   329
5    Hugo   103     0
6    Aber  7325   562
7      DK  1525  2160
8     Ben  2565   298

In [46]:
pd.merge(shuju2,grpSEO2,how = 'left',left_on='人员',right_on='seo变化数据团队')

       人员  发送IP  接受IP seo变化数据团队    总计
0   Paddy     0    51       NaN   NaN
1    Tony   568  1136       NaN   NaN
2     Max   273   225       NaN   NaN
3  Martin  3445  1072       NaN   NaN
4     Zed  4853   329       NaN   NaN
5    Hugo   103     0       NaN   NaN
6    Aber  7325   562       NaN   NaN
7      DK  1525  2160        DK  52.0
8     Ben  2565   298       NaN   NaN

In [67]:
shuju3.rename(columns = {'index':'人员'},inplace=True)
shuju3

       人员    发送IP    接受IP
0   Paddy     0.0    51.0
1    Tony   568.0   427.0
2     Max   273.0   225.0
3  Martin  3445.0  1072.0
4     Zed  4853.0   329.0
5    Hugo   103.0     0.0
6    Aber  7325.0   562.0
7      DK  1525.0  2160.0
8     Ben  2565.0   298.0

In [65]:
shuju3

       人员    发送IP    接受IP
0   Paddy     0.0    51.0
1    Tony   568.0   427.0
2     Max   273.0   225.0
3  Martin  3445.0  1072.0
4     Zed  4853.0   329.0
5    Hugo   103.0     0.0
6    Aber  7325.0   562.0
7      DK  1525.0  2160.0
8     Ben  2565.0   298.0

In [58]:
grpSEO.rename(columns = {'seo变化数据团队':"总计"},inplace=True)
grpSEO

            总计
seo变化数据团队
178直播        3
Admin邀请      2
Cyrus        2
DK          52
GT-B直播      16
GT-越南线       2
GT-骨头       63
MM           1
SEO掉线用户转线    8
SEO邀请       44
SOCO越南直播    96
aber        49
ben         17
duobo        1
hugo        16
kk6699       2
martin      81
max          9
paddy        3
seo转线        4
tony        15
zed         22
原电销使用        3
外代-越        13
外部代理总线     179
官网         114
小Peter       3
小Peter越南线    1
技术测试         2
斌哥           1
电销拉回专用       2
真实数据测试账号     1
米乐转线         3
袋鼠           1
酷币           1
雨燕直播        32
雨燕直播-越     346
飞哥雨燕直播     117
鲲鹏admin     13

In [59]:
grpSEO.reset_index(inplace=True)
grpSEO

    seo变化数据团队   总计
0       178直播    3
1     Admin邀请    2
2       Cyrus    2
3          DK   52
4      GT-B直播   16
5      GT-越南线    2
6       GT-骨头   63
7          MM    1
8   SEO掉线用户转线    8
9       SEO邀请   44
10   SOCO越南直播   96
11       aber   49
12        ben   17
13      duobo    1
14       hugo   16
15     kk6699    2
16     martin   81
17        max    9
18      paddy    3
19      seo转线    4
20       tony   15
21        zed   22
22      原电销使用    3
23       外代-越   13
24     外部代理总线  179
25         官网  114
26     小Peter    3
27  小Peter越南线    1
28       技术测试    2
29         斌哥    1
30     电销拉回专用    2
31   真实数据测试账号    1
32       米乐转线    3
33         袋鼠    1
34         酷币    1
35       雨燕直播   32
36     雨燕直播-越  346
37     飞哥雨燕直播  117
38    鲲鹏admin   13

In [47]:
shuju2

       人员  发送IP  接受IP
0   Paddy     0    51
1    Tony   568  1136
2     Max   273   225
3  Martin  3445  1072
4     Zed  4853   329
5    Hugo   103     0
6    Aber  7325   562
7      DK  1525  2160
8     Ben  2565   298

In [52]:
shuju.head(2)
grpSEO.head(2)

       发送IP  接受IP
人员
Paddy     0    51
Tony    568  1136

           总计
seo变化数据团队
178直播       3
Admin邀请     2

In [56]:
shuju3 = shuju2.copy()

In [59]:
shuju3['人员2'] = shuju3['人员'].str.lower()
shuju3

       人员  发送IP  接受IP     人员2
0   Paddy     0    51   paddy
1    Tony   568  1136    tony
2     Max   273   225     max
3  Martin  3445  1072  martin
4     Zed  4853   329     zed
5    Hugo   103     0    hugo
6    Aber  7325   562    aber
7      DK  1525  2160      dk
8     Ben  2565   298     ben

In [61]:
grpSEO3 = grpSEO2.copy()
grpSEO3['人员2'] = grpSEO3['seo变化数据团队'].str.lower()
grpSEO3

    seo变化数据团队   总计        人员2
0       178直播    3      178直播
1     Admin邀请    2    admin邀请
2       Cyrus    2      cyrus
3          DK   52         dk
4      GT-B直播   16     gt-b直播
5      GT-越南线    2     gt-越南线
6       GT-骨头   63      gt-骨头
7          MM    1         mm
8   SEO掉线用户转线    8  seo掉线用户转线
9       SEO邀请   44      seo邀请
10   SOCO越南直播   96   soco越南直播
11       aber   49       aber
12        ben   17        ben
13      duobo    1      duobo
14       hugo   16       hugo
15     kk6699    2     kk6699
16     martin   81     martin
17        max    9        max
18      paddy    3      paddy
19      seo转线    4      seo转线
20       tony   15       tony
21        zed   22        zed
22      原电销使用    3      原电销使用
23       外代-越   13       外代-越
24     外部代理总线  179     外部代理总线
25         官网  114         官网
26     小Peter    3     小peter
27  小Peter越南线    1  小peter越南线
28       技术测试    2       技术测试
29         斌哥    1         斌哥
30     电销拉回专用    2     电销拉回专用
31   真实数据测试账号    1   真实数据测试账号
32       米乐转线    3       米乐转线
33         袋鼠    1         袋鼠
34         酷币    1         酷币
35       雨燕直播   32       雨燕直播
36     雨燕直播-越  346     雨燕直播-越
37     飞哥雨燕直播  117     飞哥雨燕直播
38    鲲鹏admin   13    鲲鹏admin

In [62]:
shuju4 = pd.merge(shuju3,grpSEO3,on='人员2')
shuju4

       人员  发送IP  接受IP     人员2 seo变化数据团队  总计
0   Paddy     0    51   paddy     paddy   3
1    Tony   568  1136    tony      tony  15
2     Max   273   225     max       max   9
3  Martin  3445  1072  martin    martin  81
4     Zed  4853   329     zed       zed  22
5    Hugo   103     0    hugo      hugo  16
6    Aber  7325   562    aber      aber  49
7      DK  1525  2160      dk        DK  52
8     Ben  2565   298     ben       ben  17

In [65]:
shuju5 = shuju4.drop(['人员2','seo变化数据团队'],axis=1)
shuju5= shuju5.rename(columns={'总计':'注册'})

In [70]:
shuju5['注册率'] = shuju5['注册']/shuju5['发送IP']*100
shuju5

       人员  发送IP  接受IP  注册        注册率
0   Paddy     0    51   3        inf
1    Tony   568  1136  15   2.640845
2     Max   273   225   9   3.296703
3  Martin  3445  1072  81   2.351234
4     Zed  4853   329  22   0.453328
5    Hugo   103     0  16  15.533981
6    Aber  7325   562  49   0.668942
7      DK  1525  2160  52   3.409836
8     Ben  2565   298  17   0.662768

In [76]:
merge_charge = pd.merge(firChargeUser,daili,how='left',left_on='所属代理',right_on='代理线')
merge_charge.head()

,会员名,所属代理,注册时间,交易时间,交易类型,币种,金额,代理线,主线账号,seo变化数据团队,准点激活团队
0,ngthduyen9999,btyscnb0007,2023/8/7 23:22,2023/8/7 23:43,存款,VND,11000000.0,NaN,NaN,NaN,NaN
1,Phamvquyen91,vnzb04,2023/8/7 23:27,2023/8/7 23:39,存款,VND,100000.0,vnzb04,ffvn66,雨燕直播-越,雨燕直播-越ffvn66
2,Angunb666,zh0325,2023/8/7 23:03,2023/8/7 23:34,存款,CNY,200.0,zh0325,zh0325,SEO邀请,SEO
3,Guong268,gfas001,2023/5/13 23:45,2023/8/7 23:30,存款,VND,4000000.0,gfas001,zh0808,外部代理总线,外部代理总线zh0808
4,zxcvbnm19064,btyseo7008,2022/7/30 23:35,2023/8/7 23:31,存款,CNY,100.0,btyseo7008,btyseo7008,martin,SEO

In [86]:
grpCHARGE = merge_charge.groupby('seo变化数据团队').agg({'seo变化数据团队':len})
grpCHARGE= grpCHARGE.rename(columns={'seo变化数据团队':'开户'})
grpCHARGE.reset_index(inplace=True)
grpCHARGE['seo变化数据团队']=grpCHARGE['seo变化数据团队'].str.lower()
grpCHARGE

    seo变化数据团队   开户
0     admin邀请    1
1       cyrus    1
2          dk    5
3      gt-b直播    5
4       gt-骨头   20
5   seo掉线用户转线   16
6       seo邀请    4
7    soco越南直播   46
8        aber   13
9         ben    6
10      duobo    1
11       hugo    5
12     martin   24
13      paddy    2
14       tony    3
15        zed    8
16      原电销使用    2
17       外代-越    3
18     外部代理总线   31
19         官网   18
20        宝马会    1
21     小peter    2
22       米乐转线    1
23         袋鼠    1
24         酷币    1
25       雨燕直播   12
26     雨燕直播-越  145
27     飞哥雨燕直播   55

In [88]:
shuju6 = pd.merge(shuju4,grpCHARGE,how='left',left_on='人员2',right_on='seo变化数据团队')
shuju6

       人员  发送IP  接受IP     人员2 seo变化数据团队_x  总计 seo变化数据团队_y    开户
0   Paddy     0    51   paddy       paddy   3       paddy   2.0
1    Tony   568  1136    tony        tony  15        tony   3.0
2     Max   273   225     max         max   9         NaN   NaN
3  Martin  3445  1072  martin      martin  81      martin  24.0
4     Zed  4853   329     zed         zed  22         zed   8.0
5    Hugo   103     0    hugo        hugo  16        hugo   5.0
6    Aber  7325   562    aber        aber  49        aber  13.0
7      DK  1525  2160      dk          DK  52          dk   5.0
8     Ben  2565   298     ben         ben  17         ben   6.0

In [90]:
shuju6.rename(columns={'总计':'注册'},inplace=True)
shuju6

       人员  发送IP  接受IP     人员2 seo变化数据团队_x  注册 seo变化数据团队_y    开户
0   Paddy     0    51   paddy       paddy   3       paddy   2.0
1    Tony   568  1136    tony        tony  15        tony   3.0
2     Max   273   225     max         max   9         NaN   NaN
3  Martin  3445  1072  martin      martin  81      martin  24.0
4     Zed  4853   329     zed         zed  22         zed   8.0
5    Hugo   103     0    hugo        hugo  16        hugo   5.0
6    Aber  7325   562    aber        aber  49        aber  13.0
7      DK  1525  2160      dk          DK  52          dk   5.0
8     Ben  2565   298     ben         ben  17         ben   6.0

In [92]:
shuju6.drop(['seo变化数据团队_x','seo变化数据团队_y'],axis=1,inplace=True)
shuju6

       人员  发送IP  接受IP     人员2  注册    开户
0   Paddy     0    51   paddy   3   2.0
1    Tony   568  1136    tony  15   3.0
2     Max   273   225     max   9   NaN
3  Martin  3445  1072  martin  81  24.0
4     Zed  4853   329     zed  22   8.0
5    Hugo   103     0    hugo  16   5.0
6    Aber  7325   562    aber  49  13.0
7      DK  1525  2160      dk  52   5.0
8     Ben  2565   298     ben  17   6.0

In [94]:
shuju6['注册率'] = shuju6['注册']/shuju6['发送IP']*100
shuju6['转化率'] = shuju6['开户']/shuju6['注册']*100
shuju6

       人员  发送IP  接受IP     人员2  注册    开户        注册率        转化率
0   Paddy     0    51   paddy   3   2.0        inf  66.666667
1    Tony   568  1136    tony  15   3.0   2.640845  20.000000
2     Max   273   225     max   9   NaN   3.296703        NaN
3  Martin  3445  1072  martin  81  24.0   2.351234  29.629630
4     Zed  4853   329     zed  22   8.0   0.453328  36.363636
5    Hugo   103     0    hugo  16   5.0  15.533981  31.250000
6    Aber  7325   562    aber  49  13.0   0.668942  26.530612
7      DK  1525  2160      dk  52   5.0   3.409836   9.615385
8     Ben  2565   298     ben  17   6.0   0.662768  35.294118

In [96]:
list(shuju6.columns)

['人员', '发送IP', '接受IP', '人员2', '注册', '开户', '注册率', '转化率']

In [105]:
shuju6 = shuju6.iloc[:,:5].join(shuju6['注册率']).join(shuju6['开户']).join(shuju6['转化率'])

In [106]:
shuju6

       人员  发送IP  接受IP     人员2  注册        注册率    开户        转化率
0   Paddy     0    51   paddy   3        inf   2.0  66.666667
1    Tony   568  1136    tony  15   2.640845   3.0  20.000000
2     Max   273   225     max   9   3.296703   NaN        NaN
3  Martin  3445  1072  martin  81   2.351234  24.0  29.629630
4     Zed  4853   329     zed  22   0.453328   8.0  36.363636
5    Hugo   103     0    hugo  16  15.533981   5.0  31.250000
6    Aber  7325   562    aber  49   0.668942  13.0  26.530612
7      DK  1525  2160      dk  52   3.409836   5.0   9.615385
8     Ben  2565   298     ben  17   0.662768   6.0  35.294118

In [117]:
grp3  = merge_charge[merge_charge['注册时间'].str[:9]==merge_charge['交易时间'].str[:9]].groupby('seo变化数据团队').agg({'seo变化数据团队':len})
grp3

           seo变化数据团队
seo变化数据团队
DK                 5
GT-B直播             2
GT-骨头             15
SEO掉线用户转线          1
SEO邀请              3
SOCO越南直播          21
aber               9
ben                3
duobo              1
hugo               2
martin            18
paddy              2
tony               3
zed                8
原电销使用              2
外代-越               3
外部代理总线            24
官网                17
袋鼠                 1
酷币                 1
雨燕直播               6
雨燕直播-越           119
飞哥雨燕直播            39

In [120]:
grp3.rename(columns = {'seo变化数据团队':'当日注册并开户'},inplace=True)
grp3.reset_index(inplace=True)
grp3

    seo变化数据团队  当日注册并开户
0          DK        5
1      GT-B直播        2
2       GT-骨头       15
3   SEO掉线用户转线        1
4       SEO邀请        3
5    SOCO越南直播       21
6        aber        9
7         ben        3
8       duobo        1
9        hugo        2
10     martin       18
11      paddy        2
12       tony        3
13        zed        8
14      原电销使用        2
15       外代-越        3
16     外部代理总线       24
17         官网       17
18         袋鼠        1
19         酷币        1
20       雨燕直播        6
21     雨燕直播-越      119
22     飞哥雨燕直播       39

In [121]:
grp3['seo变化数据团队'] =grp3['seo变化数据团队'].str.lower()
grp3

    seo变化数据团队  当日注册并开户
0          dk        5
1      gt-b直播        2
2       gt-骨头       15
3   seo掉线用户转线        1
4       seo邀请        3
5    soco越南直播       21
6        aber        9
7         ben        3
8       duobo        1
9        hugo        2
10     martin       18
11      paddy        2
12       tony        3
13        zed        8
14      原电销使用        2
15       外代-越        3
16     外部代理总线       24
17         官网       17
18         袋鼠        1
19         酷币        1
20       雨燕直播        6
21     雨燕直播-越      119
22     飞哥雨燕直播       39

In [122]:
shuju7  = pd.merge(shuju6,grp3,how='left',left_on='人员2',right_on='seo变化数据团队')
shuju7

,人员,发送IP,接受IP,人员2,注册,注册率,开户,转化率,seo变化数据团队,当日注册并开户
0,Paddy,0,51,paddy,3,inf,2.0,66.666667,paddy,2.0
1,Tony,568,1136,tony,15,2.640845,3.0,20.000000,tony,3.0
2,Max,273,225,max,9,3.296703,NaN,NaN,NaN,NaN
3,Martin,3445,1072,martin,81,2.351234,24.0,29.629630,martin,18.0
4,Zed,4853,329,zed,22,0.453328,8.0,36.363636,zed,8.0
5,Hugo,103,0,hugo,16,15.533981,5.0,31.250000,hugo,2.0
6,Aber,7325,562,aber,49,0.668942,13.0,26.530612,aber,9.0
7,DK,1525,2160,dk,52,3.409836,5.0,9.615385,dk,5.0
8,Ben,2565,298,ben,17,0.662768,6.0,35.294118,ben,3.0

In [123]:
shuju7['当日注册激活率'] = shuju7['当日注册并开户']/shuju7['注册']*100
shuju7

,人员,发送IP,接受IP,人员2,注册,注册率,开户,转化率,seo变化数据团队,当日注册并开户,当日注册激活率
0,Paddy,0,51,paddy,3,inf,2.0,66.666667,paddy,2.0,66.666667
1,Tony,568,1136,tony,15,2.640845,3.0,20.000000,tony,3.0,20.000000
2,Max,273,225,max,9,3.296703,NaN,NaN,NaN,NaN,NaN
3,Martin,3445,1072,martin,81,2.351234,24.0,29.629630,martin,18.0,22.222222
4,Zed,4853,329,zed,22,0.453328,8.0,36.363636,zed,8.0,36.363636
5,Hugo,103,0,hugo,16,15.533981,5.0,31.250000,hugo,2.0,12.500000
6,Aber,7325,562,aber,49,0.668942,13.0,26.530612,aber,9.0,18.367347
7,DK,1525,2160,dk,52,3.409836,5.0,9.615385,dk,5.0,9.615385
8,Ben,2565,298,ben,17,0.662768,6.0,35.294118,ben,3.0,17.647059

In [124]:
shuju7.drop('seo变化数据团队',axis=1,inplace=True)
shuju7

,人员,发送IP,接受IP,人员2,注册,注册率,开户,转化率,当日注册并开户,当日注册激活率
0,Paddy,0,51,paddy,3,inf,2.0,66.666667,2.0,66.666667
1,Tony,568,1136,tony,15,2.640845,3.0,20.000000,3.0,20.000000
2,Max,273,225,max,9,3.296703,NaN,NaN,NaN,NaN
3,Martin,3445,1072,martin,81,2.351234,24.0,29.629630,18.0,22.222222
4,Zed,4853,329,zed,22,0.453328,8.0,36.363636,8.0,36.363636
5,Hugo,103,0,hugo,16,15.533981,5.0,31.250000,2.0,12.500000
6,Aber,7325,562,aber,49,0.668942,13.0,26.530612,9.0,18.367347
7,DK,1525,2160,dk,52,3.409836,5.0,9.615385,5.0,9.615385
8,Ben,2565,298,ben,17,0.662768,6.0,35.294118,3.0,17.647059

In [4]:
import pandas as pd
his_data  = pd.read_excel(r'C:\Users\User\Desktop\SEO_0807\SEO每日模板-每日更新.xlsx','历史')
his_data.shape
his_data.head()

(109, 22)

,日期,人员,总IP,接受IP,注册,注册率,开户,转化率,当日注册当日开户,当日注册当日激活率,...,对比前5天均值,对比前7天均值,对比前天.1,对比前3天均值.1,对比前5天均值.1,对比前7天均值.1,对比前天.2,对比前3天均值.2,对比前5天均值.2,对比前7天均值.2
0,2023-07-27,Aber,3477,721.0,52,0.014955,20,0.384615,15,0.288462,...,436.4,725.285714,-3,3.666667,4.8,2.285714,-1,2.666667,1.8,1.285714
1,2023-07-27,DK,1325,1790.0,29,0.021887,8,0.275862,5,0.172414,...,46.8,50.428571,-9,-2.333333,-1.6,-1.142857,0,-1.000000,0.4,0.000000
2,2023-07-27,Ben,10414,733.0,30,0.002881,7,0.233333,6,0.200000,...,-5180.2,-3337.857143,-16,-16.666667,-19.0,-16.428571,-7,-7.333333,-7.4,-5.142857
3,2023-07-27,当日汇总,22110,5531.5,207,0.009362,61,0.294686,45,0.217391,...,-4292.8,-2164.000000,-37,-47.333333,-42.2,-39.857143,-25,-23.333333,-19.6,-16.428571
4,2023-07-28,Paddy,508,45.5,18,0.035433,5,0.277778,4,0.222222,...,-13.4,-0.714286,4,-1.666667,-2.8,-2.142857,0,-2.000000,-0.6,0.285714

In [126]:
his_data.tail()

,日期,人员,总IP,接受IP,注册,注册率,开户,转化率,当日注册当日开户,当日注册当日激活率,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,总开户,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
2874,2023-08-07,Lesse,0,NaN,0,0,0,0.000000,0.0,0.000000,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2875,2023-08-07,Decade,0,NaN,0,0,0,0.000000,0.0,0.000000,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2876,2023-08-07,Cyrus,0,NaN,2,0,1,0.500000,0.0,0.000000,...,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2877,2023-08-07,Owl,0,NaN,0,0,0,0.000000,0.0,0.000000,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2878,2023-08-07,当日汇总,20657,5137.0,213,0.010311,68,0.319249,51.0,0.239437,...,5.4,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
his_data['日期'][0]

0    2023/7/28
1    2023/7/28
2    2023/7/28
3    2023/7/28
4    2023/7/28
Name: 日期, dtype: object

In [149]:
his_data.tail()['日期'][:1].values[0]

'2023/8/7'

In [150]:
shuju8 = shuju7.copy()
shuju8.insert(0,'日期',his_data.tail()['日期'][:1].values[0])
shuju8

,日期,人员,发送IP,接受IP,人员2,注册,注册率,开户,转化率,当日注册并开户,当日注册激活率
0,2023/8/7,Paddy,0,51,paddy,3,inf,2.0,66.666667,2.0,66.666667
1,2023/8/7,Tony,568,1136,tony,15,2.640845,3.0,20.000000,3.0,20.000000
2,2023/8/7,Max,273,225,max,9,3.296703,NaN,NaN,NaN,NaN
3,2023/8/7,Martin,3445,1072,martin,81,2.351234,24.0,29.629630,18.0,22.222222
4,2023/8/7,Zed,4853,329,zed,22,0.453328,8.0,36.363636,8.0,36.363636
5,2023/8/7,Hugo,103,0,hugo,16,15.533981,5.0,31.250000,2.0,12.500000
6,2023/8/7,Aber,7325,562,aber,49,0.668942,13.0,26.530612,9.0,18.367347
7,2023/8/7,DK,1525,2160,dk,52,3.409836,5.0,9.615385,5.0,9.615385
8,2023/8/7,Ben,2565,298,ben,17,0.662768,6.0,35.294118,3.0,17.647059

In [158]:
shuju9 = shuju8.copy()
shuju9['日期'] = pd.to_datetime(shuju9['日期'])
shuju9.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 0 to 8
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   日期       9 non-null      datetime64[ns]
 1   人员       9 non-null      object
 2   发送IP     9 non-null      int64
 3   接受IP     9 non-null      int64
 4   人员2      9 non-null      object
 5   注册       9 non-null      int64
 6   注册率      9 non-null      float64
 7   开户       8 non-null      float64
 8   转化率      8 non-null      float64
 9   当日注册并开户  8 non-null      float64
 10  当日注册激活率  8 non-null      float64
dtypes: datetime64[ns](1), float64(5), int64(3), object(2)
memory usage: 1.1+ KB

In [159]:
his_data2 = his_data.copy()
his_data2['日期']=pd.to_datetime(his_data2['日期'])
his_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   日期            100 non-null    datetime64[ns]
 1   人员            100 non-null    object
 2   总IP           100 non-null    object
 3   接受IP          100 non-null    object
 4   注册            100 non-null    int64
 5   注册率           100 non-null    object
 6   开户            100 non-null    int64
 7   转化率           100 non-null    object
 8   当日注册当日开户      100 non-null    int64
 9   当日注册当日激活率     100 non-null    object
 10  对比前天(总IP)     100 non-null    int64
 11  对比前3天均值(总IP)  100 non-null    int64
 12  对比前5天均值(总IP)  100 non-null    int64
 13  对比前7天均值(总IP)  100 non-null    int64
 14  对比前天(总注册)     100 non-null    int64
 15  对比前3天均值(总注册)  100 non-null    int64
 16  对比前5天均值(总注册)  100 non-null    int64
 17  对比前7天均值(总注册)  100 non-null    int64
 18  对比前天(总开户)     100 non-null    int64
 19  对比前3天均值(总开户)  100 non-null    int64
 20  对比前5天均值(总开户)  100 non-null    int64
 21  对比前7天均值(总开户)  100 non-null    int64
dtypes: datetime64[ns](1), int64(15), object(6)
memory usage: 17.3+ KB

In [202]:
his_data2['总IP']=pd.to_numeric(his_data2['总IP'],errors='coerce')

In [164]:
all_ip= shuju9.iloc[:,:2]

In [221]:
shuju9['发送IP']

0       0
1     568
2     273
3    3445
4    4853
5     103
6    7325
7    1525
8    2565
Name: 发送IP, dtype: int64

In [222]:
his_data2

,日期,人员,总IP,接受IP,注册,注册率,开户,转化率,当日注册当日开户,当日注册当日激活率,...,对比前5天均值(总IP),对比前7天均值(总IP),对比前天(总注册),对比前3天均值(总注册),对比前5天均值(总注册),对比前7天均值(总注册),对比前天(总开户),对比前3天均值(总开户),对比前5天均值(总开户),对比前7天均值(总开户)
0,2023-07-28,Paddy,508.0,46,18,3.54%,5,27.78%,4,22.22%,...,-13,-1,4,-2,-3,-2,0,-2,-1,0
1,2023-07-28,Tony,563.0,439,13,2.31%,4,30.77%,2,15.38%,...,-120,-100,-4,-2,-3,-3,1,0,0,0
2,2023-07-28,Max,266.0,0,4,1.50%,3,75.00%,2,50.00%,...,-16,13,-4,-3,-1,0,2,1,2,1
3,2023-07-28,Martin,NaN,734,33,2.62%,10,30.30%,7,21.21%,...,36,-38,-1,-31,-21,-16,-3,-9,-7,-7
4,2023-07-28,Zed,NaN,248,8,0.24%,3,37.50%,2,25.00%,...,453,470,2,0,-3,-3,2,0,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2023-08-07,Hugo,103.0,0,14,13.59%,5,35.71%,2,14.29%,...,-424,-431,6,2,-1,0,1,-1,-2,-1
96,2023-08-07,Aber,NaN,562,37,0.51%,13,35.14%,9,24.32%,...,-1844,278,-12,-6,-5,2,-7,-4,-2,1
97,2023-08-07,DK,NaN,"2,160",27,1.77%,5,18.52%,5,18.52%,...,49,266,3,-5,-4,-1,-1,-6,-6,-4
98,2023-08-07,Ben,NaN,298,14,0.55%,6,42.86%,3,21.43%,...,-1439,-1697,7,5,3,3,6,4,4,4
99,2023-08-07,当日汇总,NaN,"5,137",213,1.03%,68,31.92%,51,23.94%,...,-2630,817,5,24,32,59,4,-1,5,16

In [195]:
his_data2[his_data2['日期']==shuju9['日期'][0]].loc[his_data2['人员'] == 'Paddy']['总IP']

,日期,人员,总IP,接受IP,注册,注册率,开户,转化率,当日注册当日开户,当日注册当日激活率,...,对比前5天均值(总IP),对比前7天均值(总IP),对比前天(总注册),对比前3天均值(总注册),对比前5天均值(总注册),对比前7天均值(总注册),对比前天(总开户),对比前3天均值(总开户),对比前5天均值(总开户),对比前7天均值(总开户)
90,2023-08-07,Paddy,0,51,3,5100%,2,66.67%,2,66.67%,...,0,-59,2,2,2,2,2,2,2,2

In [259]:
shuju9['发送IP']-be_data['总IP']

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
52   NaN
53   NaN
54   NaN
55   NaN
56   NaN
57   NaN
58   NaN
59   NaN
60   NaN
dtype: float64

Empty DataFrame
Columns: [日期, 人员, 总IP, 接受IP, 注册, 注册率, 开户, 转化率, 当日注册当日开户, 当日注册当日激活率, 对比前天(总IP), 对比前3天均值(总IP), 对比前5天均值(总IP), 对比前7天均值(总IP), 对比前天(总注册), 对比前3天均值(总注册), 对比前5天均值(总注册), 对比前7天均值(总注册), 对比前天(总开户), 对比前3天均值(总开户), 对比前5天均值(总开户), 对比前7天均值(总开户)]
Index: []

[0 rows x 22 columns]

In [204]:
all_ip['对比前天'] =

          日期      人员
0 2023-08-07   Paddy
1 2023-08-07    Tony
2 2023-08-07     Max
3 2023-08-07  Martin
4 2023-08-07     Zed
5 2023-08-07    Hugo
6 2023-08-07    Aber
7 2023-08-07      DK
8 2023-08-07     Ben

In [212]:
(shuju9[shuju9['人员'] == 'Paddy']['发送IP'][0]-his_data2[his_data2['日期']==shuju9['日期'][0]].loc[his_data2['人员'] == 'Paddy']['总IP']).values[0]

0.0

In [249]:
shuju9

,日期,人员,发送IP,接受IP,人员2,注册,注册率,开户,转化率,当日注册并开户,当日注册激活率
0,2023-08-07,Paddy,0,51,paddy,3,inf,2.0,66.666667,2.0,66.666667
1,2023-08-07,Tony,568,1136,tony,15,2.640845,3.0,20.000000,3.0,20.000000
2,2023-08-07,Max,273,225,max,9,3.296703,NaN,NaN,NaN,NaN
3,2023-08-07,Martin,3445,1072,martin,81,2.351234,24.0,29.629630,18.0,22.222222
4,2023-08-07,Zed,4853,329,zed,22,0.453328,8.0,36.363636,8.0,36.363636
5,2023-08-07,Hugo,103,0,hugo,16,15.533981,5.0,31.250000,2.0,12.500000
6,2023-08-07,Aber,7325,562,aber,49,0.668942,13.0,26.530612,9.0,18.367347
7,2023-08-07,DK,1525,2160,dk,52,3.409836,5.0,9.615385,5.0,9.615385
8,2023-08-07,Ben,2565,298,ben,17,0.662768,6.0,35.294118,3.0,17.647059

In [253]:
import datetime
be_data = history_data[history_data['日期']==(shuju9['日期'][0]+datetime.timedelta(days=-1))]
be_data

,日期,人员,总IP,接受IP,注册,注册率,开户,转化率,当日注册当日开户,当日注册当日激活率,...,对比前5天均值(总IP),对比前7天均值(总IP),对比前天(总注册),对比前3天均值(总注册),对比前5天均值(总注册),对比前7天均值(总注册),对比前天(总开户),对比前3天均值(总开户),对比前5天均值(总开户),对比前7天均值(总开户)
52,2023-08-06,Paddy,0.0,31,1,3100%,0,0.00%,0,0.00%,...,-83,-129,1,-1,0,-1,0,0,0,-1
53,2023-08-06,Tony,591.0,488,17,2.88%,3,17.65%,3,17.65%,...,-72,15,0,2,4,6,-6,-4,-4,-3
54,2023-08-06,Max,287.0,238,8,2.79%,3,37.50%,2,25.00%,...,9,48,5,3,3,4,0,0,0,1
55,2023-08-06,Martin,0.0,955,83,2.55%,21,25.30%,16,19.28%,...,637,1176,31,36,41,47,6,7,8,11
56,2023-08-06,Zed,0.0,363,10,0.21%,7,70.00%,3,30.00%,...,667,1306,2,3,3,5,2,3,4,4
57,2023-08-06,Hugo,125.0,661,8,6.40%,4,50.00%,2,25.00%,...,-598,-540,-2,-8,-10,-9,-2,-4,-4,-2
58,2023-08-06,Aber,0.0,624,49,0.51%,20,40.82%,15,30.61%,...,1755,2926,9,10,10,11,3,6,7,6
59,2023-08-06,DK,0.0,"2,037",24,1.69%,6,25.00%,2,8.33%,...,-55,179,-18,-10,-10,-4,-7,-5,-5,-3
60,2023-08-06,Ben,0.0,345,7,0.27%,0,0.00%,0,0.00%,...,-2889,-2933,-1,-5,-7,-4,-3,-2,-3,-3
61,2023-08-06,MK,0.0,0,0,0.00%,0,0.00%,0,0.00%,...,0,0,0,0,0,0,0,0,0,0
62,2023-08-06,当日汇总,0.0,"5,742",208,0.92%,64,30.77%,43,20.67%,...,-629,2049,28,32,35,53,-7,1,4,10

In [267]:
be3_data = history_data[history_data['日期']>(shuju9['日期'][0]+datetime.timedelta(days=-3))]

In [271]:
be3_data = be3_data.groupby('人员').mean()
be3_data

C:\Users\User\AppData\Local\Temp\ipykernel_11952\348334360.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  be3_data = be3_data.groupby('人员').mean()

,总IP,注册,开户,当日注册当日开户,对比前天(总IP),对比前3天均值(总IP),对比前5天均值(总IP),对比前7天均值(总IP),对比前天(总注册),对比前3天均值(总注册),对比前5天均值(总注册),对比前7天均值(总注册),对比前天(总开户),对比前3天均值(总开户),对比前5天均值(总开户),对比前7天均值(总开户)
人员,,,,,,,,,,,,,,,,
Aber,0.000000,42.000000,16.666667,13.000000,-457.000000,-235.666667,1117.333333,1978.666667,-0.666667,1.333333,4.666667,4.666667,-0.666667,2.333333,4.333333,3.000000
Ben,0.000000,9.666667,3.000000,1.333333,-359.000000,-1215.666667,-2061.666667,-2625.000000,0.666667,-1.666667,-2.666667,-1.666667,1.000000,0.666667,0.666667,0.333333
DK,0.000000,31.000000,8.000000,6.666667,23.000000,-27.666667,55.666667,195.000000,-0.666667,-1.000000,1.000000,3.333333,-2.666667,-3.333333,-2.333333,-0.666667
Hugo,138.000000,10.666667,5.000000,2.666667,-32.333333,-334.000000,-507.333333,-529.000000,-1.000000,-5.333333,-5.666667,-6.000000,-1.000000,-2.666667,-2.000000,-1.000000
MK,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Martin,0.000000,71.000000,20.000000,15.000000,112.000000,280.000000,750.000000,1185.666667,10.666667,21.333333,29.000000,33.666667,2.333333,4.666667,7.333333,9.000000
Max,280.333333,5.666667,2.000000,1.000000,-3.666667,2.666667,21.333333,42.333333,0.333333,0.666667,1.000000,1.333333,-1.333333,-0.666667,-0.333333,0.000000
Paddy,0.000000,1.333333,0.666667,0.666667,0.000000,0.000000,-55.333333,-124.000000,0.000000,-0.333333,0.333333,-1.000000,0.666667,0.666667,0.666667,0.000000
Tony,619.000000,15.333333,5.000000,3.000000,-49.000000,-48.333333,5.666667,51.666667,-3.333333,-0.333333,3.333333,4.666667,-2.333333,-1.333333,-1.000000,-0.333333
Zed,0.000000,12.333333,6.666667,5.000000,171.666667,347.666667,771.000000,1188.333333,4.666667,5.000000,5.666667,7.000000,1.666667,2.666667,3.666667,4.000000
当日汇总,0.000000,200.333333,67.666667,48.666667,-594.333333,-1232.000000,97.666667,1363.666667,11.666667,21.000000,36.666667,45.000000,-1.666667,4.000000,11.333333,14.666667

In [270]:
all_ip['对比前天(总IP)']=shuju9['发送IP']-be_data['总IP']

In [274]:
be3_data= be3_data[:-1]
be3_data

,总IP,注册,开户,当日注册当日开户,对比前天(总IP),对比前3天均值(总IP),对比前5天均值(总IP),对比前7天均值(总IP),对比前天(总注册),对比前3天均值(总注册),对比前5天均值(总注册),对比前7天均值(总注册),对比前天(总开户),对比前3天均值(总开户),对比前5天均值(总开户),对比前7天均值(总开户)
人员,,,,,,,,,,,,,,,,
Aber,0.000000,42.000000,16.666667,13.000000,-457.000000,-235.666667,1117.333333,1978.666667,-0.666667,1.333333,4.666667,4.666667,-0.666667,2.333333,4.333333,3.000000
Ben,0.000000,9.666667,3.000000,1.333333,-359.000000,-1215.666667,-2061.666667,-2625.000000,0.666667,-1.666667,-2.666667,-1.666667,1.000000,0.666667,0.666667,0.333333
DK,0.000000,31.000000,8.000000,6.666667,23.000000,-27.666667,55.666667,195.000000,-0.666667,-1.000000,1.000000,3.333333,-2.666667,-3.333333,-2.333333,-0.666667
Hugo,138.000000,10.666667,5.000000,2.666667,-32.333333,-334.000000,-507.333333,-529.000000,-1.000000,-5.333333,-5.666667,-6.000000,-1.000000,-2.666667,-2.000000,-1.000000
MK,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Martin,0.000000,71.000000,20.000000,15.000000,112.000000,280.000000,750.000000,1185.666667,10.666667,21.333333,29.000000,33.666667,2.333333,4.666667,7.333333,9.000000
Max,280.333333,5.666667,2.000000,1.000000,-3.666667,2.666667,21.333333,42.333333,0.333333,0.666667,1.000000,1.333333,-1.333333,-0.666667,-0.333333,0.000000
Paddy,0.000000,1.333333,0.666667,0.666667,0.000000,0.000000,-55.333333,-124.000000,0.000000,-0.333333,0.333333,-1.000000,0.666667,0.666667,0.666667,0.000000
Tony,619.000000,15.333333,5.000000,3.000000,-49.000000,-48.333333,5.666667,51.666667,-3.333333,-0.333333,3.333333,4.666667,-2.333333,-1.333333,-1.000000,-0.333333
Zed,0.000000,12.333333,6.666667,5.000000,171.666667,347.666667,771.000000,1188.333333,4.666667,5.000000,5.666667,7.000000,1.666667,2.666667,3.666667,4.000000

In [280]:
shuju10['发送IP']-be3_data['总IP']

人员
Aber      7325.000000
Ben       2565.000000
DK        1525.000000
Hugo       -35.000000
MK                NaN
Martin    3445.000000
Max         -7.333333
Paddy        0.000000
Tony       -51.000000
Zed       4853.000000
dtype: float64

In [5]:
be_data

NameError: name 'be_data' is not defined

In [284]:
all_ip['对比前3天均值(总IP)']= shuju10['发送IP']-be3_data['总IP']
all_ip

               日期    对比前天  对比前天(总IP)      对比前3天均值  对比前3天均值(总IP)
人员
Aber   2023-08-07  7325.0     7325.0  7325.000000   7325.000000
Ben    2023-08-07  2565.0     2565.0  2565.000000   2565.000000
DK     2023-08-07  1525.0     1525.0  1525.000000   1525.000000
Hugo   2023-08-07   -22.0      -22.0   -35.000000    -35.000000
Martin 2023-08-07  3445.0     3445.0  3445.000000   3445.000000
Max    2023-08-07   -14.0      -14.0    -7.333333     -7.333333
Paddy  2023-08-07     0.0        0.0     0.000000      0.000000
Tony   2023-08-07   -23.0      -23.0   -51.000000    -51.000000
Zed    2023-08-07  4853.0     4853.0  4853.000000   4853.000000

In [285]:
be5_data = history_data[history_data['日期']>(shuju9['日期'][0]+datetime.timedelta(days=-5))]
be5_data = be5_data.groupby('人员').mean()
be5_data=be5_data[:-1]
be5_data.sort_index(inplace=True)
be5_data

C:\Users\User\AppData\Local\Temp\ipykernel_11952\1841360225.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  be5_data = be5_data.groupby('人员').mean()

,总IP,注册,开户,当日注册当日开户,对比前天(总IP),对比前3天均值(总IP),对比前5天均值(总IP),对比前7天均值(总IP),对比前天(总注册),对比前3天均值(总注册),对比前5天均值(总注册),对比前7天均值(总注册),对比前天(总开户),对比前3天均值(总开户),对比前5天均值(总开户),对比前7天均值(总开户)
人员,,,,,,,,,,,,,,,,
Aber,0.0,40.6,14.8,11.2,-360.0,1098.4,1831.2,2427.4,-1.4,3.4,2.6,0.6,0.2,2.4,1.6,0.0
Ben,0.0,11.2,2.6,1.2,-645.0,-1412.0,-2179.0,-2627.4,0.2,-1.0,-1.0,-0.6,0.4,0.4,0.0,-0.4
DK,0.0,30.6,8.8,7.8,-8.4,81.6,175.0,244.4,-0.8,0.4,2.4,3.2,-2.0,-1.6,-0.6,0.0
Hugo,122.8,14.2,6.6,4.2,-198.8,-317.0,-405.2,-431.8,-1.2,-2.6,-3.2,-3.6,-0.8,-0.6,0.2,0.8
MK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Martin,0.0,60.2,17.4,12.0,230.6,646.6,1047.8,1333.4,8.2,18.0,23.0,25.2,2.0,4.8,6.2,6.8
Max,278.0,5.8,2.4,1.8,1.4,19.2,34.2,40.8,0.4,1.2,1.6,1.6,0.0,0.0,0.4,0.4
Paddy,0.0,1.8,0.6,0.4,-0.2,-55.2,-120.8,-191.8,0.6,0.6,-0.4,-2.4,0.4,0.4,0.2,-0.6
Tony,637.6,14.6,5.2,3.2,-15.0,24.6,59.0,76.4,0.2,2.4,4.0,4.2,-0.4,-0.6,-0.2,0.2
Zed,0.0,10.0,5.4,3.6,176.8,608.8,948.8,1160.4,2.2,3.4,4.0,4.6,1.4,2.4,2.8,3.0

In [286]:
all_ip['对比前5天均值(总IP)']= shuju10['发送IP']-be5_data['总IP']
all_ip

               日期    对比前天  对比前天(总IP)      对比前3天均值  对比前3天均值(总IP)  对比前5天均值(总IP)
人员
Aber   2023-08-07  7325.0     7325.0  7325.000000   7325.000000        7325.0
Ben    2023-08-07  2565.0     2565.0  2565.000000   2565.000000        2565.0
DK     2023-08-07  1525.0     1525.0  1525.000000   1525.000000        1525.0
Hugo   2023-08-07   -22.0      -22.0   -35.000000    -35.000000         -19.8
Martin 2023-08-07  3445.0     3445.0  3445.000000   3445.000000        3445.0
Max    2023-08-07   -14.0      -14.0    -7.333333     -7.333333          -5.0
Paddy  2023-08-07     0.0        0.0     0.000000      0.000000           0.0
Tony   2023-08-07   -23.0      -23.0   -51.000000    -51.000000         -69.6
Zed    2023-08-07  4853.0     4853.0  4853.000000   4853.000000        4853.0

In [287]:
be7_data = history_data[history_data['日期']>(shuju9['日期'][0]+datetime.timedelta(days=-7))]
be7_data = be7_data.groupby('人员').mean()
be7_data=be7_data[:-1]
be7_data.sort_index(inplace=True)
all_ip['对比前7天均值(总IP)']= shuju10['发送IP']-be7_data['总IP']
all_ip

C:\Users\User\AppData\Local\Temp\ipykernel_11952\456986698.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  be7_data = be7_data.groupby('人员').mean()

,日期,对比前天,对比前天(总IP),对比前3天均值,对比前3天均值(总IP),对比前5天均值(总IP),对比前7天均值(总IP)
人员,,,,,,,
Aber,2023-08-07,7325.0,7325.0,7325.000000,7325.000000,7325.0,7325.000000
Ben,2023-08-07,2565.0,2565.0,2565.000000,2565.000000,2565.0,2565.000000
DK,2023-08-07,1525.0,1525.0,1525.000000,1525.000000,1525.0,1525.000000
Hugo,2023-08-07,-22.0,-22.0,-35.000000,-35.000000,-19.8,15.285714
Martin,2023-08-07,3445.0,3445.0,3445.000000,3445.000000,3445.0,3445.000000
Max,2023-08-07,-14.0,-14.0,-7.333333,-7.333333,-5.0,-5.428571
Paddy,2023-08-07,0.0,0.0,0.000000,0.000000,0.0,-59.285714
Tony,2023-08-07,-23.0,-23.0,-51.000000,-51.000000,-69.6,-71.285714
Zed,2023-08-07,4853.0,4853.0,4853.000000,4853.000000,4853.0,4853.000000

In [8]:
shuju

NameError: name 'shuju' is not defined