In [4]:
import pandas as pd
import numpy as np
import datetime
pd.set_option('display.max_colwidth', None) #显示单元格完整信息
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

user = pd.read_csv(r'C:\Users\User\Desktop\SEO_0807\会员列表导出.csv',encoding='gbk')
firChargeUser = pd.read_csv(r'C:\Users\User\Desktop\SEO_0807\会员首存报表.csv',encoding='gbk')
data = pd.read_excel(r'C:\Users\User\Desktop\SEO_0807\data\今日数据.xlsx')
daili = pd.read_excel(r'C:\Users\User\Desktop\SEO_0807\SEO每日模板-每日更新.xlsx','代理总表')

shuju = pd.DataFrame({'人员':['Paddy', 'Tony', 'Max', 'Martin', 'Zed', 'Hugo', 'Aber', 'DK', 'Ben','当日汇总'],
                      '日期':(datetime.datetime.now()+datetime.timedelta(days=-3)).strftime('%Y/%m/%d'),
                      '发送IP':[i for i in range(10)],'接受IP':[i for i in range(10)]})


shuju.set_index('人员',inplace = True)
shuju.sort_index(inplace=True)
data['IP']=pd.to_numeric(data['IP'],errors='coerce').replace(np.nan,0)
grp=data.groupby('网站名(domain)').agg({'IP':sum})

shuju.loc['Paddy','发送IP']=grp.loc['paddy.com','IP']
shuju.loc['Paddy','接受IP']=grp.loc['paddy.bty','IP']
shuju.loc['Tony','发送IP']=grp.loc['tonyb.com','IP']/2
shuju.loc['Tony','接受IP']=grp.loc['tonyb.com','IP']
shuju.loc['Max','发送IP']=grp.loc['mulu.com','IP']
shuju.loc['Max','接受IP']=grp.loc['max.bty','IP']
shuju.loc['Martin','发送IP']=grp.loc['redquan.com','IP']
shuju.loc['Martin','接受IP']=grp.loc['martin.bty','IP']
shuju.loc['Zed','发送IP']=grp.loc['zed.com','IP']
shuju.loc['Zed','接受IP']=grp.loc['zed.bty','IP']
shuju.loc['Hugo','发送IP']=grp.loc['hugo.com','IP']
# shuju.loc['Hugo','接受IP']=grp.loc['hugo.bty','IP']
shuju.loc['Hugo','接受IP']=0

shuju.loc['Aber','发送IP']=grp.loc['aber.com','IP']/2
shuju.loc['Aber','接受IP']=grp.loc['aber.bty','IP']
shuju.loc['DK','发送IP']=grp.loc['dk.com','IP']/2
shuju.loc['DK','接受IP']=grp.loc['dk.bty','IP']
shuju.loc['Ben','发送IP']=grp.loc['ben.com','IP']/2
shuju.loc['Ben','接受IP']=grp.loc['ben.bty','IP']
shuju.loc['当日汇总','发送IP']=shuju['发送IP'].sum()
shuju.loc['当日汇总','接受IP']=shuju['接受IP'].sum()

shuju['日期'] = pd.to_datetime(shuju['日期'])
shuju.insert(1,'人员2',shuju.index)
shuju['人员2']=shuju['人员2'].str.lower()
shuju

C:\ProgramData\anaconda3\envs\schedule\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

                  IP
网站名(domain)
aber.bty       562.0
aber.com     14650.0
aber.zb          0.0
aber.zz          0.0
alen.bty         0.0
ben.bty        298.0
ben.com       5130.0
ben.zb           4.0
ben.zz           0.0
bike.bty         1.0
billy.com        0.0
dazhi.bty        2.0
dazhi.com       98.0
dk.bty        2160.0
dk.com        3050.0
dk.zb           90.0
dk.zz            0.0
duobo.bty       37.0
duobo.com        0.0
groot.com        0.0
hugo.cn          0.0
hugo.com       103.0
hugo.kty         0.0
hugo.zb         31.0
hugo.zz          0.0
kiwi.com         3.0
leslie.com       0.0
martin.bty    1072.0
martin.com       0.0
martin.pd        0.0
martin.zb       51.0
martin.zz        0.0
max.bty        225.0
max.zb           1.0
max.zz           0.0
maxmile.com    285.0
mulu.com       273.0
paddy.bty       51.0
paddy.com        0.0
paddy.zz         0.0
peter.bty      183.0
redquan.com   3445.0
tony.bty       427.0
tony.zb          0.0
tony.zz          0.0
tonyb.com     1136.0
zed.bty        329.0
zed.cn           0.0
zed.com       4853.0
zed.kty          0.0
zed.zb           0.0
zed.zz           0.0

               日期     人员2   发送IP  接受IP
人员
Aber   2023-08-07    aber   7325   562
Ben    2023-08-07     ben   2565   298
DK     2023-08-07      dk   1525  2160
Hugo   2023-08-07    hugo    103     0
Martin 2023-08-07  martin   3445  1072
Max    2023-08-07     max    273   225
Paddy  2023-08-07   paddy      0    51
Tony   2023-08-07    tony    568  1136
Zed    2023-08-07     zed   4853   329
当日汇总   2023-08-07    当日汇总  20666  5842

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [1]:
import os
os.__file__

'C:\\ProgramData\\anaconda3\\Lib\\os.py'

In [2]:
import pandas as pd
df = pd.read_clipboard()

In [3]:
df.head()

,会员名,所属代理,注册时间,交易时间,交易类型,币种,金额
0,ngthduyen9999,btyscnb0007,2023/8/7 23:22,2023/8/7 23:43,存款,VND,11000000.0
1,Phamvquyen91,vnzb04,2023/8/7 23:27,2023/8/7 23:39,存款,VND,100000.0
2,Angunb666,zh0325,2023/8/7 23:03,2023/8/7 23:34,存款,CNY,200.0
3,Guong268,gfas001,2023/5/13 23:45,2023/8/7 23:30,存款,VND,4000000.0
4,zxcvbnm19064,btyseo7008,2022/7/30 23:35,2023/8/7 23:31,存款,CNY,100.0

In [6]:
import os
os.__file__

'C:\\ProgramData\\anaconda3\\Lib\\os.py'