In [1]:
import pandas as pd
df = pd.read_clipboard()
df.head()

,会员账号,代理,用户状态,用户层级,VIP等级,注册时间,首存时间,备注,绑定银行卡,同设备号会员,...,未登录天数,未下注天数,未充值天数,最后成功登录时间,最后尝试登录时间,最后存款时间,币种,最近3个月充值金额,最近3个月下注金额,最近3个月公司盈利
0,robin3024,btyseo7003,正常,seo新注册默认层级,VIP0,2023/7/3 23:54,--,NaN,否,否,...,39.0,50.0,50.0,2023/7/14 14:59,2023/7/14 14:59,--,NaN,0.0,0.0,0.0
1,hiepdo62,zsdl123,正常,新注册默认层级,VIP0,2023/7/4 19:20,--,NaN,否,否,...,43.0,49.0,49.0,2023/7/10 14:55,2023/7/10 14:55,--,NaN,0.0,0.0,0.0
2,ljh58222,zh0325,正常,seo新注册默认层级,VIP0,2023/7/1 14:16,--,NaN,否,否,...,52.0,52.0,52.0,2023/7/1 14:16,2023/7/1 14:16,--,NaN,0.0,0.0,0.0
3,ata26803,zh0325,正常,seo新注册默认层级,VIP0,2023/7/2 0:37,--,NaN,否,否,...,51.0,51.0,51.0,2023/7/2 0:37,2023/7/2 0:37,--,NaN,0.0,0.0,0.0
4,testben020313,btyseo6600,完全锁定,seo新注册默认层级,VIP0,2023/7/2 3:13,--,NaN,否,否,...,51.0,51.0,51.0,2023/7/2 3:13,2023/7/2 3:13,--,NaN,0.0,0.0,0.0

In [6]:
import time
import datetime
(datetime.datetime.now()+datetime.timedelta(days=-2)).strftime('%Y%m%d')

'20230820'