In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [36]:
import pandas as pd
import numpy as np
import datetime
# pd.set_option('display.max_colwidth', None) #显示单元格完整信息
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

user = pd.read_csv(r'C:\Users\User\Desktop\SEO_0807\会员列表导出.csv',encoding='gbk')
firChargeUser = pd.read_csv(r'C:\Users\User\Desktop\SEO_0807\会员首存报表.csv',encoding='gbk')
data = pd.read_excel(r'C:\Users\User\Desktop\SEO_0807\data\今日数据.xlsx')
daili = pd.read_excel(r'C:\Users\User\Desktop\SEO_0807\SEO每日模板-每日更新.xlsx','代理总表')

C:\ProgramData\anaconda3\envs\schedule\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [45]:
user['小时数']=user['注册时间'].dt.hour
user

,会员账号,姓名,手机号码,代理,国家,玩家层级,层级状态,VIP等级,VIP状态,币种,...,注册域名,注册端,首充时间,最后登陆时间,最后登陆IP,注册IP属地,最后登陆IP属地（登录成功）,状态,备注,小时数
0,ysb1757,殷赛兵,155****1757,admin,中国,初审后层级2,锁定,VIP1,未锁定,CNY,...,m.bty9.com,H5,2023/8/8 0:27,2023/8/8 12:17,222.84.188.187,中国|广西|桂林|,中国|广西|桂林|,正常,NaN,23
1,Vuarong39,NaN,907****65,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,m-sn7.btytg3.com,H5,-,2023/8/8 0:07,58.186.14.175,越南|河内||,越南|河内||,正常,NaN,23
2,biiuhieu94,NaN,NaN,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,m-sn7.btytg2.com,H5,-,2023/8/7 23:58,14.191.197.244,越南|同奈||,越南|同奈||,正常,NaN,23
3,Suyengo1997,NaN,563****72,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,m-sn7.btytg3.com,H5,-,2023/8/7 23:57,171.253.132.164,越南|胡志明||,越南|胡志明||,正常,NaN,23
4,Nnta2376,NaN,NaN,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,m-sn7.btytg3.com,H5,-,2023/8/8 11:37,171.236.4.169,越南|海阳||,越南|海阳||,正常,NaN,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1417,Quanghai144,NGUYEN HAI QUANG,388****43,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,m-sn7.btytg2.com,H5,-,2023/8/7 0:01,113.183.208.238,越南|同奈||,越南|同奈||,正常,NaN,0
1418,bukuthue7879,NaN,NaN,vnzb03,中国,新注册默认层级,未锁定,VIP0,未锁定,CNY,...,m.bty1032.com,H5,-,2023/8/7 0:02,14.228.255.186,越南|北江||,越南|北江||,正常,NaN,0
1419,phuongem123,NGUYEN THI THANH PHUONG,396****16,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,m-sn7.btytg3.com,H5,-,2023/8/7 0:05,42.112.78.245,越南|河内||,越南|河内||,正常,NaN,0
1420,Hung2000,HO TRONG PHUOC,588****19,gfas001,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,m-sn7.btytg3.com,H5,-,2023/8/7 0:04,125.235.235.35,越南|岘港||,越南|岘港||,正常,NaN,0
1421,Lyty123,Nguyen van hong,946****01,vnzb06,越南,新注册默认层级,未锁定,VIP0,未锁定,VND,...,m.bty6151.com,H5,-,2023/8/7 17:46,115.73.41.167,越南|坚江||,越南|坚江||,正常,NaN,0

In [47]:
hour_user= pd.merge(user,daili,how = 'left',left_on='代理',right_on='代理线')

In [6]:
tem = ['日期','人员','指标', '总计', '0-2', '2-4', '4-6', '6-8', '8-10', '10-12', '12-14', '14-16', '16-18', '18-20', '20-22', '22-24']

In [18]:
tem = pd.read_clipboard()
list(tem)

['接收率', '发送IP数', '接收IP数', '注册', '注册率', '开户', '开户转化率']

In [20]:
len(['接收率', '发送IP数', '接收IP数', '注册', '注册率', '开户', '开户转化率']*9)

63

In [13]:
tem = pd.read_clipboard()
list(tem)

['Paddy', 'Tony', 'Max', 'Martin', 'Zed', 'Hugo', 'Aber', 'DK', 'Ben']

In [24]:
[i*7 for i in ['Paddy', 'Tony', 'Max', 'Martin', 'Zed', 'Hugo', 'Aber', 'DK', 'Ben']]

['PaddyPaddyPaddyPaddyPaddyPaddyPaddy',
 'TonyTonyTonyTonyTonyTonyTony',
 'MaxMaxMaxMaxMaxMaxMax',
 'MartinMartinMartinMartinMartinMartinMartin',
 'ZedZedZedZedZedZedZed',
 'HugoHugoHugoHugoHugoHugoHugo',
 'AberAberAberAberAberAberAber',
 'DKDKDKDKDKDKDK',
 'BenBenBenBenBenBenBen']

In [28]:
[i for i in ['Paddy', 'Tony', 'Max', 'Martin', 'Zed', 'Hugo', 'Aber', 'DK', 'Ben'] for j in range(9)]

['Paddy',
 'Paddy',
 'Paddy',
 'Paddy',
 'Paddy',
 'Paddy',
 'Paddy',
 'Paddy',
 'Paddy',
 'Tony',
 'Tony',
 'Tony',
 'Tony',
 'Tony',
 'Tony',
 'Tony',
 'Tony',
 'Tony',
 'Max',
 'Max',
 'Max',
 'Max',
 'Max',
 'Max',
 'Max',
 'Max',
 'Max',
 'Martin',
 'Martin',
 'Martin',
 'Martin',
 'Martin',
 'Martin',
 'Martin',
 'Martin',
 'Martin',
 'Zed',
 'Zed',
 'Zed',
 'Zed',
 'Zed',
 'Zed',
 'Zed',
 'Zed',
 'Zed',
 'Hugo',
 'Hugo',
 'Hugo',
 'Hugo',
 'Hugo',
 'Hugo',
 'Hugo',
 'Hugo',
 'Hugo',
 'Aber',
 'Aber',
 'Aber',
 'Aber',
 'Aber',
 'Aber',
 'Aber',
 'Aber',
 'Aber',
 'DK',
 'DK',
 'DK',
 'DK',
 'DK',
 'DK',
 'DK',
 'DK',
 'DK',
 'Ben',
 'Ben',
 'Ben',
 'Ben',
 'Ben',
 'Ben',
 'Ben',
 'Ben',
 'Ben']

In [3]:
import datetime
dic ={'日期':(datetime.datetime.now()+datetime.timedelta(days=-4)).strftime('%Y/%m/%d'),
      '人员':[i for i in ['Paddy', 'Tony', 'Max', 'Martin', 'Zed', 'Hugo', 'Aber', 'DK', 'Ben'] for j in range(7)],'指标':['接收率','发送IP数','接收IP数','注册','注册率','开户','开户转化率']*9, '总计':0, '0-2':0, '2-4':0, '4-6':0, '6-8':0, '8-10':0, '10-12':0, '12-14':0, '14-16':0, '16-18':0, '18-20':0, '20-22':0, '22-24':0}
df = pd.DataFrame(dic)
df

,日期,人员,指标,总计,0-2,2-4,4-6,6-8,8-10,10-12,12-14,14-16,16-18,18-20,20-22,22-24
0,2023/08/07,Paddy,接收率,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2023/08/07,Paddy,发送IP数,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2023/08/07,Paddy,接收IP数,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2023/08/07,Paddy,注册,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2023/08/07,Paddy,注册率,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,2023/08/07,Ben,接收IP数,0,0,0,0,0,0,0,0,0,0,0,0,0
59,2023/08/07,Ben,注册,0,0,0,0,0,0,0,0,0,0,0,0,0
60,2023/08/07,Ben,注册率,0,0,0,0,0,0,0,0,0,0,0,0,0
61,2023/08/07,Ben,开户,0,0,0,0,0,0,0,0,0,0,0,0,0
62,2023/08/07,Ben,开户转化率,0,0,0,0,0,0,0,0,0,0,0,0,0

In [4]:
data_2 = pd.read_excel(r'C:\Users\User\Desktop\SEO_0807\data\今日数据.xlsx','趋势分析')
data_2.head()

C:\ProgramData\anaconda3\envs\schedule\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

  网站名(domain)          日期  时间  PV  UV  IP
0  martin.com  2023/08/07  23  --  --  --
1  martin.com  2023/08/07  22  --  --  --
2  martin.com  2023/08/07  21  --  --  --
3  martin.com  2023/08/07  20  --  --  --
4  martin.com  2023/08/07  19  --  --  --

In [41]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1368 entries, 0 to 1367
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   网站名(domain)  1368 non-null   object
 1   日期           1368 non-null   object
 2   时间           1368 non-null   int64
 3   PV           1368 non-null   object
 4   UV           1368 non-null   object
 5   IP           1368 non-null   object
dtypes: int64(1), object(5)
memory usage: 64.3+ KB

In [57]:
data_2[(data_2['时间']<2)]

     网站名(domain)          日期  时间  PV  UV  IP
22    martin.com  2023/08/07   1  --  --  --
23    martin.com  2023/08/07   0  --  --  --
46     groot.com  2023/08/07   1  --  --  --
47     groot.com  2023/08/07   0  --  --  --
70        dk.com  2023/08/07   1  92  49  47
...          ...         ...  ..  ..  ..  ..
1319    alen.bty  2023/08/07   0  --  --  --
1342   peter.bty  2023/08/07   1  21  15  16
1343   peter.bty  2023/08/07   0  21  15  11
1366   martin.pd  2023/08/07   1  --  --  --
1367   martin.pd  2023/08/07   0  --  --  --

[114 rows x 6 columns]

In [5]:
data_2['网站名(domain)'] = data_2['网站名(domain)'].astype(str)
data_2['PV'] = pd.to_numeric(data_2['PV'],errors='coerce',downcast='integer')
data_2['UV'] = pd.to_numeric(data_2['UV'],errors='coerce',downcast='integer')
data_2['IP'] = pd.to_numeric(data_2['IP'],errors='coerce',downcast='integer')
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1368 entries, 0 to 1367
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   网站名(domain)  1368 non-null   object
 1   日期           1368 non-null   object
 2   时间           1368 non-null   int64
 3   PV           643 non-null    float64
 4   UV           643 non-null    float64
 5   IP           643 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 64.3+ KB

In [67]:
data_2[data_2['网站名(domain)'].str.contains('zed.com')]

    网站名(domain)          日期  时间     PV     UV     IP
288     zed.com  2023/08/07  23  394.0  319.0  311.0
289     zed.com  2023/08/07  22  411.0  351.0  302.0
290     zed.com  2023/08/07  21  332.0  268.0  250.0
291     zed.com  2023/08/07  20  311.0  253.0  228.0
292     zed.com  2023/08/07  19  238.0  197.0  192.0
293     zed.com  2023/08/07  18  244.0  207.0  204.0
294     zed.com  2023/08/07  17  333.0  243.0  246.0
295     zed.com  2023/08/07  16  275.0  219.0  219.0
296     zed.com  2023/08/07  15  302.0  240.0  235.0
297     zed.com  2023/08/07  14  308.0  251.0  237.0
298     zed.com  2023/08/07  13  329.0  270.0  261.0
299     zed.com  2023/08/07  12  299.0  252.0  234.0
300     zed.com  2023/08/07  11  295.0  240.0  225.0
301     zed.com  2023/08/07  10  266.0  232.0  218.0
302     zed.com  2023/08/07   9  284.0  244.0  241.0
303     zed.com  2023/08/07   8  211.0  182.0  175.0
304     zed.com  2023/08/07   7  176.0  143.0  137.0
305     zed.com  2023/08/07   6  117.0  101.0   97.0
306     zed.com  2023/08/07   5  118.0  100.0   92.0
307     zed.com  2023/08/07   4  127.0  103.0   95.0
308     zed.com  2023/08/07   3  129.0  102.0   99.0
309     zed.com  2023/08/07   2  149.0  124.0  126.0
310     zed.com  2023/08/07   1  200.0  165.0  167.0
311     zed.com  2023/08/07   0  322.0  259.0  262.0

In [72]:
data_2[data_2['时间']>1]

     网站名(domain)          日期  时间  PV  UV  IP
0     martin.com  2023/08/07  23 NaN NaN NaN
1     martin.com  2023/08/07  22 NaN NaN NaN
2     martin.com  2023/08/07  21 NaN NaN NaN
3     martin.com  2023/08/07  20 NaN NaN NaN
4     martin.com  2023/08/07  19 NaN NaN NaN
...          ...         ...  ..  ..  ..  ..
1361   martin.pd  2023/08/07   6 NaN NaN NaN
1362   martin.pd  2023/08/07   5 NaN NaN NaN
1363   martin.pd  2023/08/07   4 NaN NaN NaN
1364   martin.pd  2023/08/07   3 NaN NaN NaN
1365   martin.pd  2023/08/07   2 NaN NaN NaN

[1254 rows x 6 columns]

In [75]:
data_2[(data_2['时间']>1) & (data_2['网站名(domain)'].str.contains('aber.bty'))]

    网站名(domain)          日期  时间     PV    UV    IP
960    aber.bty  2023/08/07  23  125.0  27.0  33.0
961    aber.bty  2023/08/07  22   93.0  25.0  28.0
962    aber.bty  2023/08/07  21  114.0  24.0  37.0
963    aber.bty  2023/08/07  20   83.0  17.0  19.0
964    aber.bty  2023/08/07  19   91.0  23.0  26.0
965    aber.bty  2023/08/07  18   95.0  21.0  21.0
966    aber.bty  2023/08/07  17  111.0  18.0  24.0
967    aber.bty  2023/08/07  16  105.0  19.0  21.0
968    aber.bty  2023/08/07  15  108.0  29.0  32.0
969    aber.bty  2023/08/07  14   79.0  22.0  27.0
970    aber.bty  2023/08/07  13   84.0  21.0  26.0
971    aber.bty  2023/08/07  12   53.0  12.0  16.0
972    aber.bty  2023/08/07  11   73.0  21.0  22.0
973    aber.bty  2023/08/07  10   47.0  15.0  18.0
974    aber.bty  2023/08/07   9   50.0  13.0  23.0
975    aber.bty  2023/08/07   8   64.0  22.0  23.0
976    aber.bty  2023/08/07   7   38.0   7.0  14.0
977    aber.bty  2023/08/07   6   47.0  11.0  12.0
978    aber.bty  2023/08/07   5   34.0   7.0   9.0
979    aber.bty  2023/08/07   4   72.0  17.0  22.0
980    aber.bty  2023/08/07   3   42.0  10.0  15.0
981    aber.bty  2023/08/07   2   63.0  12.0  18.0

In [20]:
df.head(2)

,日期,人员,指标,总计,0-2,2-4,4-6,6-8,8-10,10-12,12-14,14-16,16-18,18-20,20-22,22-24
0,2023/08/07,Paddy,接收率,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2023/08/07,Paddy,发送IP数,0,0,0,0,0,0,0,0,0,0,0,0,0

In [28]:
df.loc[(df['人员']=='Paddy') & (df['指标']=='接收率'),'0-2']=

,日期,人员,指标,总计,0-2,2-4,4-6,6-8,8-10,10-12,12-14,14-16,16-18,18-20,20-22,22-24
0,2023/08/07,Paddy,接收率,0,2,0,0,0,0,0,0,0,0,0,0,0
1,2023/08/07,Paddy,发送IP数,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2023/08/07,Paddy,接收IP数,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2023/08/07,Paddy,注册,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2023/08/07,Paddy,注册率,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,2023/08/07,Ben,接收IP数,0,0,0,0,0,0,0,0,0,0,0,0,0
59,2023/08/07,Ben,注册,0,0,0,0,0,0,0,0,0,0,0,0,0
60,2023/08/07,Ben,注册率,0,0,0,0,0,0,0,0,0,0,0,0,0
61,2023/08/07,Ben,开户,0,0,0,0,0,0,0,0,0,0,0,0,0
62,2023/08/07,Ben,开户转化率,0,0,0,0,0,0,0,0,0,0,0,0,0

In [34]:
df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'0-2'] =data_2[data_2['网站名(domain)'].str.contains('redquan.com') & (data_2['时间']<2)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'2-4'] =data_2[data_2['网站名(domain)'].str.contains('redquan.com') &(data_2['时间']>=2) &(data_2['时间']<4)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'4-6'] =data_2[data_2['网站名(domain)'].str.contains('redquan.com') &(data_2['时间']>=4)& (data_2['时间']<6)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'6-8'] =data_2[data_2['网站名(domain)'].str.contains('redquan.com') &(data_2['时间']>=6)& (data_2['时间']<8)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'8-10'] =data_2[data_2['网站名(domain)'].str.contains('redquan.com') &(data_2['时间']>=8)& (data_2['时间']<10)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'10-12'] =data_2[data_2['网站名(domain)'].str.contains('redquan.com') &(data_2['时间']>=10)& (data_2['时间']<12)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'12-14'] =data_2[data_2['网站名(domain)'].str.contains('redquan.com') &(data_2['时间']>=12)& (data_2['时间']<14)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'14-16'] =data_2[data_2['网站名(domain)'].str.contains('redquan.com') &(data_2['时间']>=14)& (data_2['时间']<16)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'16-18'] =data_2[data_2['网站名(domain)'].str.contains('redquan.com') &(data_2['时间']>=16)& (data_2['时间']<18)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'18-20'] =data_2[data_2['网站名(domain)'].str.contains('redquan.com') &(data_2['时间']>=18)& (data_2['时间']<20)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'20-22'] =data_2[data_2['网站名(domain)'].str.contains('redquan.com') &(data_2['时间']>=20)& (data_2['时间']<22)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'22-24'] =data_2[data_2['网站名(domain)'].str.contains('redquan.com')&(data_2['时间']>=20) & (data_2['时间']<24)]['IP'].sum()
df

,日期,人员,指标,总计,0-2,2-4,4-6,6-8,8-10,10-12,12-14,14-16,16-18,18-20,20-22,22-24
0,2023/08/07,Paddy,接收率,0,2,0,0,0,0,0,0,0,0,0,0,0
1,2023/08/07,Paddy,发送IP数,0,327,176,120,124,210,227,278,350,328,307,533,998
2,2023/08/07,Paddy,接收IP数,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2023/08/07,Paddy,注册,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2023/08/07,Paddy,注册率,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,2023/08/07,Ben,接收IP数,0,0,0,0,0,0,0,0,0,0,0,0,0
59,2023/08/07,Ben,注册,0,0,0,0,0,0,0,0,0,0,0,0,0
60,2023/08/07,Ben,注册率,0,0,0,0,0,0,0,0,0,0,0,0,0
61,2023/08/07,Ben,开户,0,0,0,0,0,0,0,0,0,0,0,0,0
62,2023/08/07,Ben,开户转化率,0,0,0,0,0,0,0,0,0,0,0,0,0

In [33]:
df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'0-2'] =data_2[data_2['网站名(domain)'].str.contains('martin.bty') & (data_2['时间']<2)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'2-4'] =data_2[data_2['网站名(domain)'].str.contains('martin.bty') &(data_2['时间']>=2) &(data_2['时间']<4)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'4-6'] =data_2[data_2['网站名(domain)'].str.contains('martin.bty') &(data_2['时间']>=4)& (data_2['时间']<6)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'6-8'] =data_2[data_2['网站名(domain)'].str.contains('martin.bty') &(data_2['时间']>=6)& (data_2['时间']<8)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'8-10'] =data_2[data_2['网站名(domain)'].str.contains('martin.bty') &(data_2['时间']>=8)& (data_2['时间']<10)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'10-12'] =data_2[data_2['网站名(domain)'].str.contains('martin.bty') &(data_2['时间']>=10)& (data_2['时间']<12)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'12-14'] =data_2[data_2['网站名(domain)'].str.contains('martin.bty') &(data_2['时间']>=12)& (data_2['时间']<14)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'14-16'] =data_2[data_2['网站名(domain)'].str.contains('martin.bty') &(data_2['时间']>=14)& (data_2['时间']<16)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'16-18'] =data_2[data_2['网站名(domain)'].str.contains('martin.bty') &(data_2['时间']>=16)& (data_2['时间']<18)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'18-20'] =data_2[data_2['网站名(domain)'].str.contains('martin.bty') &(data_2['时间']>=18)& (data_2['时间']<20)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'20-22'] =data_2[data_2['网站名(domain)'].str.contains('martin.bty') &(data_2['时间']>=20)& (data_2['时间']<22)]['IP'].sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'22-24'] =data_2[data_2['网站名(domain)'].str.contains('martin.bty')&(data_2['时间']>=20) & (data_2['时间']<24)]['IP'].sum()
df

,日期,人员,指标,总计,0-2,2-4,4-6,6-8,8-10,10-12,12-14,14-16,16-18,18-20,20-22,22-24
0,2023/08/07,Paddy,接收率,0,2,0,0,0,0,0,0,0,0,0,0,0
1,2023/08/07,Paddy,发送IP数,0,327,176,120,124,210,227,278,350,328,307,533,998
2,2023/08/07,Paddy,接收IP数,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2023/08/07,Paddy,注册,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2023/08/07,Paddy,注册率,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,2023/08/07,Ben,接收IP数,0,0,0,0,0,0,0,0,0,0,0,0,0
59,2023/08/07,Ben,注册,0,0,0,0,0,0,0,0,0,0,0,0,0
60,2023/08/07,Ben,注册率,0,0,0,0,0,0,0,0,0,0,0,0,0
61,2023/08/07,Ben,开户,0,0,0,0,0,0,0,0,0,0,0,0,0
62,2023/08/07,Ben,开户转化率,0,0,0,0,0,0,0,0,0,0,0,0,0

In [54]:
len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']<2)])

7

In [55]:
df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'0-2'] =len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']<2)])
df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'2-4'] =len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=2)& (hour_user['小时数']<4)])
df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'4-6'] =len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=4)& (hour_user['小时数']<6)])
df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'6-8'] =len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=6)& (hour_user['小时数']<8)])
df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'8-10'] =len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=8)& (hour_user['小时数']<10)])
df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'10-12'] =len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=10)& (hour_user['小时数']<12)])
df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'12-14'] =len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=12)& (hour_user['小时数']<14)])
df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'14-16'] =len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=14)& (hour_user['小时数']<16)])
df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'16-18'] =len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=16)& (hour_user['小时数']<18)])
df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'18-20'] =len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=18)& (hour_user['小时数']<20)])
df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'20-22'] =len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=20)& (hour_user['小时数']<22)])
df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'22-24'] =len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=22)& (hour_user['小时数']<24)])
df

,日期,人员,指标,总计,0-2,2-4,4-6,6-8,8-10,10-12,12-14,14-16,16-18,18-20,20-22,22-24
0,2023/08/07,Paddy,接收率,0,2,0,0,0,0,0,0,0,0,0,0,0
1,2023/08/07,Paddy,发送IP数,0,327,176,120,124,210,227,278,350,328,307,533,998
2,2023/08/07,Paddy,接收IP数,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2023/08/07,Paddy,注册,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2023/08/07,Paddy,注册率,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,2023/08/07,Ben,接收IP数,0,0,0,0,0,0,0,0,0,0,0,0,0
59,2023/08/07,Ben,注册,0,0,0,0,0,0,0,0,0,0,0,0,0
60,2023/08/07,Ben,注册率,0,0,0,0,0,0,0,0,0,0,0,0,0
61,2023/08/07,Ben,开户,0,0,0,0,0,0,0,0,0,0,0,0,0
62,2023/08/07,Ben,开户转化率,0,0,0,0,0,0,0,0,0,0,0,0,0

In [68]:
df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'0-2'].iloc[0]

124

In [71]:
# 注册率
df.loc[(df['人员']=='Martin') & (df['指标']=='注册率'),'0-2'] =round(len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']<2)])/df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'0-2'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='注册率'),'2-4'] =round(len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=2)& (hour_user['小时数']<4)])/df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'2-4'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='注册率'),'4-6'] =round(len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=4)& (hour_user['小时数']<6)])/df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'4-6'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='注册率'),'6-8'] =round(len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=6)& (hour_user['小时数']<8)])/df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'6-8'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='注册率'),'8-10'] =round(len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=8)& (hour_user['小时数']<10)])/df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'8-10'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='注册率'),'10-12']=round(len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=10)& (hour_user['小时数']<12)])/df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'10-12'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='注册率'),'12-14']=round(len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=12)& (hour_user['小时数']<14)])/df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'12-14'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='注册率'),'14-16']=round(len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=14)& (hour_user['小时数']<16)])/df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'14-16'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='注册率'),'16-18']=round(len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=16)& (hour_user['小时数']<18)])/df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'16-18'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='注册率'),'18-20']=round(len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=18)& (hour_user['小时数']<20)])/df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'18-20'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='注册率'),'20-22']=round(len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=20)& (hour_user['小时数']<22)])/df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'20-22'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='注册率'),'22-24']=round(len(hour_user[(hour_user['seo变化数据团队']=='martin') & (hour_user['小时数']>=22)& (hour_user['小时数']<24)])/df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'22-24'].iloc[0]*100,2)
df

,日期,人员,指标,总计,0-2,2-4,4-6,6-8,8-10,10-12,12-14,14-16,16-18,18-20,20-22,22-24
0,2023/08/07,Paddy,接收率,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023/08/07,Paddy,发送IP数,0,327.0,176.0,120.0,124.0,210.0,227.0,278.0,350.0,328.0,307.0,533.0,998.0
2,2023/08/07,Paddy,接收IP数,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023/08/07,Paddy,注册,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023/08/07,Paddy,注册率,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,2023/08/07,Ben,接收IP数,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59,2023/08/07,Ben,注册,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60,2023/08/07,Ben,注册率,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
61,2023/08/07,Ben,开户,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62,2023/08/07,Ben,开户转化率,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [73]:
hour_charge = pd.merge(firChargeUser,daili,how='left',left_on='所属代理',right_on='代理线')
hour_charge.head()

,会员名,所属代理,注册时间,交易时间,交易类型,币种,金额,代理线,主线账号,seo变化数据团队,准点激活团队
0,ngthduyen9999,btyscnb0007,2023/8/7 23:22,2023/8/7 23:43,存款,VND,11000000.0,NaN,NaN,NaN,NaN
1,Phamvquyen91,vnzb04,2023/8/7 23:27,2023/8/7 23:39,存款,VND,100000.0,vnzb04,ffvn66,雨燕直播-越,雨燕直播-越ffvn66
2,Angunb666,zh0325,2023/8/7 23:03,2023/8/7 23:34,存款,CNY,200.0,zh0325,zh0325,SEO邀请,SEO
3,Guong268,gfas001,2023/5/13 23:45,2023/8/7 23:30,存款,VND,4000000.0,gfas001,zh0808,外部代理总线,外部代理总线zh0808
4,zxcvbnm19064,btyseo7008,2022/7/30 23:35,2023/8/7 23:31,存款,CNY,100.0,btyseo7008,btyseo7008,martin,SEO

In [76]:
hour_charge['注册时间']= pd.to_datetime(hour_charge['注册时间'])
hour_charge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 467 entries, 0 to 466
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   会员名        467 non-null    object
 1   所属代理       467 non-null    object
 2   注册时间       467 non-null    datetime64[ns]
 3   交易时间       467 non-null    object
 4   交易类型       467 non-null    object
 5   币种         467 non-null    object
 6   金额         467 non-null    float64
 7   代理线        432 non-null    object
 8   主线账号       432 non-null    object
 9   seo变化数据团队  432 non-null    object
 10  准点激活团队     432 non-null    object
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 43.8+ KB

In [77]:
hour_charge['小时数']= hour_charge['注册时间'].dt.hour
hour_charge.head(2)

,会员名,所属代理,注册时间,交易时间,交易类型,币种,金额,代理线,主线账号,seo变化数据团队,准点激活团队,小时数
0,ngthduyen9999,btyscnb0007,2023-08-07 23:22:00,2023/8/7 23:43,存款,VND,11000000.0,NaN,NaN,NaN,NaN,23
1,Phamvquyen91,vnzb04,2023-08-07 23:27:00,2023/8/7 23:39,存款,VND,100000.0,vnzb04,ffvn66,雨燕直播-越,雨燕直播-越ffvn66,23

In [78]:
hour_charge

,会员名,所属代理,注册时间,交易时间,交易类型,币种,金额,代理线,主线账号,seo变化数据团队,准点激活团队,小时数
0,ngthduyen9999,btyscnb0007,2023-08-07 23:22:00,2023/8/7 23:43,存款,VND,11000000.0,NaN,NaN,NaN,NaN,23
1,Phamvquyen91,vnzb04,2023-08-07 23:27:00,2023/8/7 23:39,存款,VND,100000.0,vnzb04,ffvn66,雨燕直播-越,雨燕直播-越ffvn66,23
2,Angunb666,zh0325,2023-08-07 23:03:00,2023/8/7 23:34,存款,CNY,200.0,zh0325,zh0325,SEO邀请,SEO,23
3,Guong268,gfas001,2023-05-13 23:45:00,2023/8/7 23:30,存款,VND,4000000.0,gfas001,zh0808,外部代理总线,外部代理总线zh0808,23
4,zxcvbnm19064,btyseo7008,2022-07-30 23:35:00,2023/8/7 23:31,存款,CNY,100.0,btyseo7008,btyseo7008,martin,SEO,23
...,...,...,...,...,...,...,...,...,...,...,...,...
462,Shuai12345678,bs9Don,2023-08-06 23:37:00,2023/8/7 0:08,存款,CNY,200.0,bs9Don,ffmk88,飞哥雨燕直播,飞哥雨燕直播ffmk88,23
463,HAkiss09,vnzb03,2023-08-06 23:37:00,2023/8/7 0:06,存款,VND,200000.0,vnzb03,ffvn66,雨燕直播-越,雨燕直播-越ffvn66,23
464,0778626696pv,vnzb01,2023-08-06 23:48:00,2023/8/7 0:00,存款,VND,50000.0,vnzb01,ffvn66,雨燕直播-越,雨燕直播-越ffvn66,23
465,Thuy034871,vnzb01,2023-08-06 23:45:00,2023/8/7 0:00,存款,VND,100000.0,vnzb01,ffvn66,雨燕直播-越,雨燕直播-越ffvn66,23
466,mmm2580693,zh0317,2023-07-13 02:38:00,2023/8/7 0:09,存款,CNY,100.0,zh0317,zh0317,米乐转线,SEO,2

In [79]:
df.loc[(df['人员']=='Martin') & (df['指标']=='开户'),'0-2'] =len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']<2)])
df.loc[(df['人员']=='Martin') & (df['指标']=='开户'),'2-4'] =len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=2)& (hour_charge['小时数']<4)])
df.loc[(df['人员']=='Martin') & (df['指标']=='开户'),'4-6'] =len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=4)& (hour_charge['小时数']<6)])
df.loc[(df['人员']=='Martin') & (df['指标']=='开户'),'6-8'] =len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=6)& (hour_charge['小时数']<8)])
df.loc[(df['人员']=='Martin') & (df['指标']=='开户'),'8-10'] =len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=8)& (hour_charge['小时数']<10)])
df.loc[(df['人员']=='Martin') & (df['指标']=='开户'),'10-12'] =len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=10)& (hour_charge['小时数']<12)])
df.loc[(df['人员']=='Martin') & (df['指标']=='开户'),'12-14'] =len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=12)& (hour_charge['小时数']<14)])
df.loc[(df['人员']=='Martin') & (df['指标']=='开户'),'14-16'] =len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=14)& (hour_charge['小时数']<16)])
df.loc[(df['人员']=='Martin') & (df['指标']=='开户'),'16-18'] =len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=16)& (hour_charge['小时数']<18)])
df.loc[(df['人员']=='Martin') & (df['指标']=='开户'),'18-20'] =len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=18)& (hour_charge['小时数']<20)])
df.loc[(df['人员']=='Martin') & (df['指标']=='开户'),'20-22'] =len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=20)& (hour_charge['小时数']<22)])
df.loc[(df['人员']=='Martin') & (df['指标']=='开户'),'22-24'] =len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=22)& (hour_charge['小时数']<24)])
df

,日期,人员,指标,总计,0-2,2-4,4-6,6-8,8-10,10-12,12-14,14-16,16-18,18-20,20-22,22-24
0,2023/08/07,Paddy,接收率,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023/08/07,Paddy,发送IP数,0,327.0,176.0,120.0,124.0,210.0,227.0,278.0,350.0,328.0,307.0,533.0,998.0
2,2023/08/07,Paddy,接收IP数,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023/08/07,Paddy,注册,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023/08/07,Paddy,注册率,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,2023/08/07,Ben,接收IP数,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59,2023/08/07,Ben,注册,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60,2023/08/07,Ben,注册率,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
61,2023/08/07,Ben,开户,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62,2023/08/07,Ben,开户转化率,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [80]:
# 开户转化率
df.loc[(df['人员']=='Martin') & (df['指标']=='开户转化率'),'0-2'] =round(len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']<2)])/df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'0-2'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='开户转化率'),'2-4'] =round(len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=2)& (hour_charge['小时数']<4)])/df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'2-4'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='开户转化率'),'4-6'] =round(len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=4)& (hour_charge['小时数']<6)])/df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'4-6'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='开户转化率'),'6-8'] =round(len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=6)& (hour_charge['小时数']<8)])/df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'6-8'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='开户转化率'),'8-10'] =round(len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=8)& (hour_charge['小时数']<10)])/df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'8-10'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='开户转化率'),'10-12']=round(len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=10)& (hour_charge['小时数']<12)])/df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'10-12'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='开户转化率'),'12-14']=round(len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=12)& (hour_charge['小时数']<14)])/df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'12-14'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='开户转化率'),'14-16']=round(len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=14)& (hour_charge['小时数']<16)])/df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'14-16'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='开户转化率'),'16-18']=round(len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=16)& (hour_charge['小时数']<18)])/df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'16-18'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='开户转化率'),'18-20']=round(len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=18)& (hour_charge['小时数']<20)])/df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'18-20'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='开户转化率'),'20-22']=round(len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=20)& (hour_charge['小时数']<22)])/df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'20-22'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='开户转化率'),'22-24']=round(len(hour_charge[(hour_charge['seo变化数据团队']=='martin') & (hour_charge['小时数']>=22)& (hour_charge['小时数']<24)])/df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'22-24'].iloc[0]*100,2)
df

,日期,人员,指标,总计,0-2,2-4,4-6,6-8,8-10,10-12,12-14,14-16,16-18,18-20,20-22,22-24
0,2023/08/07,Paddy,接收率,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023/08/07,Paddy,发送IP数,0,327.0,176.0,120.0,124.0,210.0,227.0,278.0,350.0,328.0,307.0,533.0,998.0
2,2023/08/07,Paddy,接收IP数,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023/08/07,Paddy,注册,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023/08/07,Paddy,注册率,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,2023/08/07,Ben,接收IP数,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59,2023/08/07,Ben,注册,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60,2023/08/07,Ben,注册率,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
61,2023/08/07,Ben,开户,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62,2023/08/07,Ben,开户转化率,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [113]:
round(df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'总计'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'总计'].iloc[0]*100,2)

6.73

In [111]:
df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'总计'].iloc[0]

1204.0

In [114]:
df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'总计'] =df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'0-2':].T.sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'总计'] =df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'0-2':].T.sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'总计'] =df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'0-2':].T.sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='开户'),'总计'] =df.loc[(df['人员']=='Martin') & (df['指标']=='开户'),'0-2':].T.sum()
df.loc[(df['人员']=='Martin') & (df['指标']=='开户转化率'),'总计'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='开户'),'总计'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'总计'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='注册率'),'总计'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='注册'),'总计'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'总计'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'总计'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'总计'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'总计'].iloc[0]*100,2)

In [101]:
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'0-2'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'0-2'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'0-2'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'2-4'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'2-4'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'2-4'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'4-6'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'4-6'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'4-6'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'6-8'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'6-8'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'6-8'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'8-10'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'8-10'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'8-10'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'10-12'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'10-12'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'10-12'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'12-14'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'12-14'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'12-14'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'14-16'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'14-16'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'14-16'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'16-18'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'16-18'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'16-18'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'18-20'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'18-20'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'18-20'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'20-22'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'20-22'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'20-22'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'22-24'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'22-24'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'22-24'].iloc[0]*100,2)

22    3978.0
dtype: float64

In [81]:
#总计
df.loc[(df['人员']=='Martin') & (df['指标']=='总计'),'总计']=df.loc[(df['人员']=='Martin') & (df['指标']=='开户转化率'),'总计']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      63 non-null     object
 1   人员      63 non-null     object
 2   指标      63 non-null     object
 3   总计      63 non-null     int64
 4   0-2     63 non-null     float64
 5   2-4     63 non-null     float64
 6   4-6     63 non-null     float64
 7   6-8     63 non-null     float64
 8   8-10    63 non-null     float64
 9   10-12   63 non-null     float64
 10  12-14   63 non-null     float64
 11  14-16   63 non-null     float64
 12  16-18   63 non-null     float64
 13  18-20   63 non-null     float64
 14  20-22   63 non-null     float64
 15  22-24   63 non-null     float64
dtypes: float64(12), int64(1), object(3)
memory usage: 8.0+ KB

In [116]:
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'0-2'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'0-2'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'0-2'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'2-4'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'2-4'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'2-4'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'4-6'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'4-6'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'4-6'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'6-8'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'6-8'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'6-8'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'8-10'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'8-10'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'8-10'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'10-12'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'10-12'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'10-12'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'12-14'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'12-14'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'12-14'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'14-16'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'14-16'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'14-16'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'16-18'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'16-18'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'16-18'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'18-20'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'18-20'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'18-20'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'20-22'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'20-22'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'20-22'].iloc[0]*100,2)
df.loc[(df['人员']=='Martin') & (df['指标']=='接收率'),'22-24'] =round(df.loc[(df['人员']=='Martin') & (df['指标']=='接收IP数'),'22-24'].iloc[0] / df.loc[(df['人员']=='Martin') & (df['指标']=='发送IP数'),'22-24'].iloc[0]*100,2)
df

,日期,人员,指标,总计,0-2,2-4,4-6,6-8,8-10,10-12,12-14,14-16,16-18,18-20,20-22,22-24
0,2023/08/07,Paddy,接收率,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023/08/07,Paddy,发送IP数,0.0,327.0,176.0,120.0,124.0,210.0,227.0,278.0,350.0,328.0,307.0,533.0,998.0
2,2023/08/07,Paddy,接收IP数,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023/08/07,Paddy,注册,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023/08/07,Paddy,注册率,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,2023/08/07,Ben,接收IP数,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59,2023/08/07,Ben,注册,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60,2023/08/07,Ben,注册率,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
61,2023/08/07,Ben,开户,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62,2023/08/07,Ben,开户转化率,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [117]:
name_list = ['Paddy', 'Tony', 'Max', 'Martin', 'Zed', 'Hugo', 'Aber', 'DK', 'Ben']
name_list

['Paddy', 'Tony', 'Max', 'Martin', 'Zed', 'Hugo', 'Aber', 'DK', 'Ben']